---
title: Enabling OAuth
owner: RabbitMQ
---

This topic explains how to enable OAuth access to the management dashboard.

## <a id='overview'></a> Overview

Tanzu RabbitMQ [VMs] allows the operator to enable OAuth access to RabbitMQ management dashboard by leveraging an integration with UAA. 
This enables developers to access the management dashboard using credentials stored in UAA or external identity provider (LDAP) connected to UAA. 

To enable OAuth for an on-demand offering:

1. [Configure UAA Groups for RabbitMQ](#configure-uaa-groups)
1. [Enable OAuth in <%= vars.ops_manager %>](#enable-oauth)
1. [Access Management Dashboard](#access-management-dashboard)


## <a id='configure-uaa-groups'></a> Configure UAA Groups for RabbitMQ

1. [Locate UAA Admin Credentials](#uaa-admin-credentials)
2. [Create UAA Groups for RabbitMQ](#create-rmq-uaa-group)
3. [Add Users to the RabbitMQ UAA Groups](#configure-users)

### <a id='uaa-admin-credentials'></a> Locate UAA Admin Credentials

The admin credential can be fetched from the <%= vars.ops_manager %>: 
1. Click on the <%= vars.app_runtime_full %> tile.
1. Click the **Credentials** tab.
    ![Credentials tab](/images/oauth-create-uaa-group-1.png)
1. Locate the Admin Client Credentials in the UAA job.
    ![Admin Client Credential](/images/oauth-create-uaa-group-2.png)
1. Click **Link to Credential**.
1. Copy the text in the password field. This is the UAA Admin Client secret.

<p class="note">
  <strong>Note:</strong> If the admin credentials are missing they can be created by following
  the steps in [Create an Admin User](https://docs.pivotal.io/platform/application-service/2-9/uaa/uaa-user-management.html#-create-an-admin-user).
</p>

### <a id='create-rmq-uaa-group'></a> Create a UAA Group for RabbitMQ Permissions

The next step is to create a UAA group with name mapping to RabbitMQ permissions.

For each space in <%= vars.app_runtime_full %> that contains RabbitMQ instances you must create appropriate UAA group for OAuth to work.

To create UAA group:

1. Display the space GUID:

    ```
    cf space SPACE-NAME --guid
    ```
    Where `SPACE-NAME` is the name of the space.

    Record the `SPACE-GUID`.

1. Create a UAA group using the `SPACE-GUID` and RabbitMQ tag by running:

    ```
    uaac group add p-rabbitmq_SPACE-GUID.tag:RABBITMQ-TAG
    ```

    Where:
    * `SPACE-GUID` was located in previous step.
    * `RABBITMQ-TAG` is the RabbitMQ tag. For more information about RabbitMQ tags, see the
    [RabbitMQ documentation](https://www.rabbitmq.com/management.html#permissions)

    For example:
    <pre class="terminal">
      $ uaac group add p-rabbitmq_64bd9d4d-d2c8-4207-bb76-91a245e67d9d.tag:policymaker
    </pre>


### <a id='configure-users'></a> Add Users to the RabbitMQ UAA Groups

The next step is to allow  Space Developers who provision on demand service instances to have access to the managment dashboard. 
This is achieved by assigning those  users to the UAA groups created above.

You can either map external identity provider groups to the RabbitMQ UAA groups or add UAA members
to those groups.

Do one of the following:

- Map the RabbitMQ UAA group created above to your identity provider group by following the steps in [Grant Admin Permissions to an External Group (SAML, LDAP, or OIDC)](https://docs.pivotal.io/platform/application-service/uaa/uaa-user-management.html#external-group).

The users in the identity provider group mapped above gain the permissions specified by the RabbitMQ
tag provided in the UAA group name.

- Add UAA members to UAA groups by running:

    ```
    uaac member add GROUP-NAME USERNAME
    ```

    Where:
    * `GROUP-NAME` is the UAA group name created in [Create UAA Groups for RabbitMQ](#create-rmq-uaa-group).
    * `USERNAME` is a UAA group member.


## <a id='enable-oauth'></a> Enable OAuth in <%= vars.ops_manager %>

To enable OAuth in <%= vars.ops_manager %>:

1. Go to the **Security for On-Demand Plans** section of the <%= vars.app_runtime_abbr %> tile.
1. Select the **Enable OAuth** checkbox.
1. Click **Save**.
1. Apply changes <%# Click **Apply Changes** ? %>

![Enable OAuth](/images/enable-oauth.png)


## <a id='access-management-dashboard'></a> Access Management Dashboard
 1. Create service instance
 1. Create service-key
 1. Navigate to the dashboard url
 1. Click `Single Sign-on` button
 1. Login to UAA
 1. Grant permissions
