---
title: Expert mode - Overriding RabbitMQ Server configuration
owner: RabbitMQ
---

This topic explains how to override configuration set by the broker on RabbitMQ service instances.
For more information about the RabbitMQ configuration, see the
[RabbitMQ documentation](https://www.rabbitmq.com/configure.html).

<p class='note warning'>
  <strong>Warning:</strong>
  This feature is for expert users only. Any override configuration set on the RabbitMQ
  cluster may conflict with other configuration set by the <%= vars.product_short %> broker,
  and there is no guarantee that conflict does not occur. Any invalid configuration set
  through an override will cause a deployment to fail.

  VMware recommends that you thoroughly test any configuration you plan to apply through an override
  on a test environment, and use this feature with caution.
</p>

## <a id='overview'></a> Overview

On RabbitMQ service instances, the <%= vars.product_short %> broker applies and maintains configuration on the RabbitMQ server.
It is possible to override this configuration, or to provide your own additional configuration, to be applied on the RabbitMQ service instance.
This configuration takes priority over any set by the <%= vars.product_short %> broker and is applied last on the server.

Depending on which service offering you are using, you will have to provide the configuration in either the newer 'sysctl-style' configuration
format, or the older 'Erlang-style' format. Where possible, you should use the newer format, however not all configuration options
are available in the newer format. For more information, see https://www.rabbitmq.com/configure.html#config-file-formats.

## <a id='applying'></a> Applying the Override Configuration

Both the On-Demand and Pre-provisioned Service Offering support overriding the instance configuration.

### <a id='applying-od'></a> Override Configuration in On-Demand

Override configuration can be provided on a per-plan basis in On-Demand. Navigate to the <%= vars.product_short %> tile in
Ops Manager, and select the On-Demand plan you wish to provide override config for from the sidebar. Any Service Instances
created under this plan will have this override configuration applied to them.

In On-Demand, you may provide override configuration in either config format. To provide config in the newer 'sysctl-style' format,
paste the config into the **Expert Mode: Override Server Config** field and hit Save. This config can be a multiline string if you require
multiple configuration items.

<%= image_tag("images/override-config-od.png",
:alt => "Screenshot of the 'Expert Mode: Override Server Config' field. The field contains a multiline string; the lines are
'management.rates_mode = detailed', 'management.ssl.ciphers.1 = ECDHE-ECDSA-AES256-GCM-SHA384' and 'management.ssl.ciphers.2 = ECDHE-RSA-AES256-GCM-SHA384'") %>

To provide config in the older 'Erlang-style' format, it is necessary to first encode the config as a base64 string. For example,
to provide the same config as before in the older format, this can be done on Linux by running:

```
echo -n '[
  {rabbitmq_management, [
    {rates_mode, detailed},
    {ssl_options, [
      {ciphers, [
        "ECDHE-ECDSA-AES256-GCM-SHA384",
        "ECDHE-RSA-AES256-GCM-SHA384"
      ]}
    ]}
  ]}
].' | base64

WwogIHtyYWJiaXRtcV9tYW5hZ2VtZW50LCBbCiAgICB7cmF0ZXNfbW9kZSwgZGV0YWlsZWR9LAogICAge3NzbF9vcHRpb25zLCBbCiAgICAgIHtjaXBoZXJzLCBbCiAgICAgICAgIkVDREhFLUVDRFNBLUFFUzI1Ni1HQ00tU0hBMzg0IiwKICAgICAgICAiRUNESEUtUlNBLUFFUzI1Ni1HQ00tU0hBMzg0IgogICAgICBdfQogICAgXX0KICBdfQpdLg==
```

You can then paste this base64-encoded config into the **Expert Mode: Override Server Advanced Config** field, and hit Save.

<%= image_tag("images/override-adv-config-od.png",
:alt => "Screenshot of the 'Expert Mode: Override Server Advanced Config' field. The field contains the base64 encoded configuration:
'WwogIHtyYWJiaXRtcV9tYW5hZ2VtZW50LCBbCiAgICB7cmF0ZXNfbW9kZSwgZGV0YWlsZWR9LAogICAge3NzbF9vcHRpb25zLCBbCiAgICAgIHtjaXBoZXJzLCBbCiAgICAgICAgIkVDREhFLUVDRFNBLUFFUzI1Ni1HQ00tU0hBMzg0IiwKICAgICAgICAiRUNESEUtUlNBLUFFUzI1Ni1HQ00tU0hBMzg0IgogICAgICBdfQogICAgXX0KICBdfQpdLg=='.") %>

It is possible to provide both sysctl-style and Erlang term-style config in on-demand. In the case that the same configuration is set in both, the Erlang term-style config takes priority.
For example, if you set the <code>rates_mode</code> property above to <code>detailed</code> in the **Override Server Config** and <code>none</code> in the **Override Advanced Server Config**,
the resultant server will take the <code>none</code> value.

After applying changes, any new service instances using this plan will implement this new configuration. Any existing service instances will implement the configuration after
they are upgraded.

### <a id='applying-pp'></a> Override Configuration in Pre-Provisioned

In Pre-Provisioned, it is possible to set configuration on all service instances. Navigate to the <%= vars.product_short %> tile in
Ops Manager, and select **Pre-Provisioned RabbitMQ** from the sidebar.

The Pre-Provisioned service offering only supports the older 'Erlang-style' format of override configuration. First, encode your desired config as a base64 string. For example,
this can be done on Linux by running:

```
echo -n '[
  {rabbitmq_management, [
    {rates_mode, detailed},
    {ssl_options, [
      {ciphers, [
        "ECDHE-ECDSA-AES256-GCM-SHA384",
        "ECDHE-RSA-AES256-GCM-SHA384"
      ]}
    ]}
  ]}
].' | base64

WwogIHtyYWJiaXRtcV9tYW5hZ2VtZW50LCBbCiAgICB7cmF0ZXNfbW9kZSwgZGV0YWlsZWR9LAogICAge3NzbF9vcHRpb25zLCBbCiAgICAgIHtjaXBoZXJzLCBbCiAgICAgICAgIkVDREhFLUVDRFNBLUFFUzI1Ni1HQ00tU0hBMzg0IiwKICAgICAgICAiRUNESEUtUlNBLUFFUzI1Ni1HQ00tU0hBMzg0IgogICAgICBdfQogICAgXX0KICBdfQpdLg==
```

You can then paste this base64-encoded config into the **Expert Mode: Override Server Advanced Config** field, and hit Save.

<%= image_tag("images/override-adv-config-pp.png",
:alt => "Screenshot of the 'Expert Mode: Override Server Advanced Config' field. The field contains the base64 encoded configuration:
'WwogIHtyYWJiaXRtcV9tYW5hZ2VtZW50LCBbCiAgICB7cmF0ZXNfbW9kZSwgZGV0YWlsZWR9LAogICAge3NzbF9vcHRpb25zLCBbCiAgICAgIHtjaXBoZXJzLCBbCiAgICAgICAgIkVDREhFLUVDRFNBLUFFUzI1Ni1HQ00tU0hBMzg0IiwKICAgICAgICAiRUNESEUtUlNBLUFFUzI1Ni1HQ00tU0hBMzg0IgogICAgICBdfQogICAgXX0KICBdfQpdLg=='.") %>

After applying changes, any pre-provisioned service instances will implement this new configuration.

