---
title: VMware Tanzu RabbitMQ for VMs Release Notes
owner: London Services
---

<%= partial vars.path_to_partials + '/upgrade-planner' %>

## <a id="2-0-0"></a> v2.0.0

**Release Date**: MMM DD, 2021

### Breaking Changes

Breaking changes in this release:

* **RabbitMQ server metrics:** RabbitMQ server metrics for both pre-provisioned
and the on-demand are now served using the `rabbitmq_prometheus` plugin.
For more information about the plugin, see [Prometheus Plugin](monitor.html#prometheus)
in _Monitoring and KPIs for On-Demand <%= vars.product_short %>_.<br>
This changes the metrics emitted by the RabbitMQ server component.
For the full list of metrics that are emitted, see
[rabbitmq-server](https://github.com/rabbitmq/rabbitmq-server/blob/master/deps/rabbitmq_prometheus/metrics.md)
in GitHub.

* **Updated format for firehose metrics:** The underscore character (`_`)
replaces all punctuation characters in metric names.
For example, the metric `/on-demand-broker/p.rabbitmq/single-node/total_instances`
has become `_on_demand_broker_p_rabbitmq_single_node_total_instances`.

### Features

New features and changes in this release:

* **Expert users only - overriding the RabbitMQ server configuration:**
You can override the configuration applied by the <%= vars.product_short %> broker,
or provide your own additional configuration to apply on RabbitMQ service instances.
For more information, see
[Expert Mode - Overriding RabbitMQ Server Configuration](./expert-override-config.html).

* **Additional RabbitMQ server plugins for on-demand:** These plugins are available for on-demand services:<br>

    `rabbitmq_auth_backend_cache`, `rabbitmq_auth_backend_http`, `rabbitmq_auth_backend_ldap`,
    `rabbitmq_auth_mechanism_ssl`, `rabbitmq_jms_topic_exchange`, `rabbitmq_tracing`,
    `rabbitmq_trust_store`, `rabbitmq_web_mqtt`, `rabbitmq_web_mqtt_examples`, and `rabbitmq_web_stomp_examples`

    The plugins are disabled by default.
    For the complete list of plugins and for information about how to enable them,
    see [RabbitMQ Server Plugins](install-config.html#server-plugins)
    in _Installing and Configuring the On-Demand Service_.

* **TLS versions:** TLS v1.0 and v1.1 are not supported anymore.

### Known Issues

This release has the following issues:

<%= partial vars.path_to_partials + "/rabbitmq/erlang-ki" %>

### Compatibility

The following components are compatible with this release:

<table class="nice">
  <th>Component</th>
  <th>Version</th>
  <tr>
    <td>Erlang</td>
    <td>23.2.7</td>
  </tr>
  <tr>
    <td>HAProxy</td>
    <td>1.8.29</td>
  </tr>
  <tr>
    <td>OSS RabbitMQ<sup>*</sup></td>
    <td>3.8.14</td>
  </tr>
  <tr>
    <td>Stemcell</td>
    <td>621.x</td>
  </tr>
  <tr>
    <td><%= vars.app_runtime_full%></td>
    <td>2.7.x, 2.8.x, 2.9.x, 2.10.x, and 2.11.x</td>
  </tr>
  <tr>
    <td>bpm</td>
    <td>1.1.9</td>
  </tr>
  <tr>
    <td>cf-cli</td>
    <td>1.32.0</td>
  </tr>
  <tr>
    <td>cf-rabbitmq</td>
    <td>366.0.0</td>
  </tr>
  <tr>
    <td>cf-rabbitmq-multitenant-broker</td>
    <td>93.0.0</td>
  </tr>
  <tr>
    <td>cf-service-gateway</td>
    <td>48.0.0</td>
  </tr>
  <tr>
    <td>cf-rabbitmq-smoke-tests</td>
    <td>94.0.0</td>
  </tr>
  <tr>
    <td>loggregator-agent</td>
    <td>6.2.0</td>
  </tr>
  <tr>
    <td>on-demand-service-broker</td>
    <td>0.40.0</td>
  </tr>
  <tr>
    <td>rabbitmq-metrics</td>
    <td>55.0.0</td>
  </tr>
  <tr>
    <td>rabbitmq-on-demand-adapter</td>
    <td>174.0.0</td>
  </tr>
  <tr>
    <td>routing</td>
    <td>0.213.0</td>
  </tr>
  <tr>
    <td>service-metrics</td>
    <td>2.0.13</td>
  </tr>
</table>

<sup>*</sup> For more information, see the <a href="https://github.com/rabbitmq/rabbitmq-server/releases/tag/v3.8.14">v3.8.14</a> GitHub documentation.

## <a id="view"></a> View Release Notes for Another Version

To view the release notes for another product version, select the version from the dropdown at the
top of this page.
