---
title: VMware Tanzu RabbitMQ [VMs] Release Notes
owner: London Services
---

<%= partial vars.path_to_partials + '/upgrade-planner' %>

## <a id="1-19-4"></a> v1.19.4

**Release Date**: September 09, 2020

### Features

This release bumps the major version of Erlang used by service instances to 23.

### Resolved Issues

This release has the following fix:

- **The on-demand-adapter cleanly exits the drain script when the credentials are not present in UAA:**
The drain script now has the correct output for success (0) and failure (non-zero).

### Known Issues

This release has the following issue:

<%= partial vars.path_to_partials + "/rabbitmq/erlang-ki" %>

### Compatibility

The following components are compatible with this release:

<table class="nice"> <th>Component</th> <th>Version</th> 	<tr>
		<td>Erlang</td>
		<td>23.0.3</td>
	</tr>
	<tr>
		<td>HAProxy</td>
		<td>1.8.26</td>
	</tr>
	<tr>
		<td>OSS RabbitMQ*</td>
		<td>3.8.8</td>
	</tr>
	<tr>
		<td>Stemcell</td>
		<td>621.x</td>
	</tr>
	<tr>
		<td>Tanzu Application Service</td>
		<td>2.7.*, 2.8.*, 2.9.*</td>
	</tr>
	<tr>
		<td>bpm</td>
		<td>1.1.9</td>
	</tr>
	<tr>
		<td>cf-cli</td>
		<td>1.29.0</td>
	</tr>
	<tr>
		<td>cf-rabbitmq</td>
		<td>318.0.0</td>
	</tr>
	<tr>
		<td>cf-rabbitmq-multitenant-broker</td>
		<td>78.0.0</td>
	</tr>
	<tr>
		<td>cf-rabbitmq-service-gateway</td>
		<td>28.0.0</td>
	</tr>
	<tr>
		<td>cf-rabbitmq-smoke-tests</td>
		<td>64.0.0</td>
	</tr>
	<tr>
		<td>loggregator-agent</td>
		<td>3.21.5</td>
	</tr>
	<tr>
		<td>on-demand-service-broker</td>
		<td>0.40.0</td>
	</tr>
	<tr>
		<td>rabbitmq-metrics</td>
		<td>40.0.0</td>
	</tr>
	<tr>
		<td>rabbitmq-on-demand-adapter</td>
		<td>145.0.0</td>
	</tr>
	<tr>
		<td>routing</td>
		<td>0.207.0</td>
	</tr>
	<tr>
		<td>service-metrics</td>
		<td>1.12.5</td>
	</tr>
	<tr>
		<td>syslog</td>
		<td>11.6.1</td>
	</tr></table>

* For more information, see the <a href="https://github.com/rabbitmq/rabbitmq-server/releases/tag/v3.8.8">v3.8.8</a> GitHub documentation.
## <a id="1-19-3"></a> v1.19.3

**Release Date**: August 5, 2020

### Resolved Issues

This release fixes the following issue:

* **Configure a custom apps domain to ensure smoke tests work:**
Previously, the smoke test picked up the default Cloud Foundry domain, which could cause smoke tests
to fail when the RabbitMQ service instance domain for on-demand services could not access the smoke tests domain.<br>
Operators can now configure the smoke tests domain to ensure that the service instance is accessible
during smoke tests.<br>
For more information, see [Configure Global Settings](./install-config.html#global).

* **The pre-stop script no longer fails with a timeout error.**
Previously, the pre-stop script failed with the error:
`Timed out waiting for mirror queue critical node to sync after 3600 seconds`.
To prevent this, the following checks in the pre-stop script are disabled by default:
  * `rabbitmq-diagnostics check_if_node_is_mirror_sync_critical`
  * `rabbitmq-diagnostics check_if_node_is_quorum_critical`

    To enable these checks, select the **Wait for Queue Synchronization** checkbox in
the configuration for on-demands plans.
For more information about this setting, see [Configure the Service Plan](./install-config.html#service-plan).

* **Downstream federated queues consuming messages from an upstream queue are no longer duplicated
after upgrading.**
This is because the RabbitMQ cluster name defaults to `rabbit@localhost` instead of its service
instance GUID.
To set the cluster name to its service instance GUID, select the **Use Service Instance ID as cluster
name** checkbox in **Global Settings for On-Demand Plans**.
For more information about this setting, see
[Configure Global Settings](./install-config.html#global).


### Known Issues

This release has the following issues:

<%= partial vars.path_to_partials + "/rabbitmq/erlang-ki" %>
<%= partial vars.path_to_partials + "/rabbitmq/ki-drain-script" %>

### Compatibility

The following components are compatible with this release:

<table class="nice"> <th>Component</th> <th>Version</th> 	<tr>
		<td>Erlang</td>
		<td>22.3.4.3</td>
	</tr>
	<tr>
		<td>HAProxy</td>
		<td>1.8.25</td>
	</tr>
	<tr>
		<td>OSS RabbitMQ*</td>
		<td>3.8.5</td>
	</tr>
	<tr>
		<td>Stemcell</td>
		<td>621.x</td>
	</tr>
	<tr>
		<td><%= vars.app_runtime_full %></td>
		<td>2.7.x, 2.8.x, 2.9.x, 2.10.x</td>
	</tr>
	<tr>
		<td>bpm</td>
		<td>1.1.8</td>
	</tr>
	<tr>
		<td>cf-cli</td>
		<td>1.27.0</td>
	</tr>
	<tr>
		<td>cf-rabbitmq</td>
		<td>312.0.0</td>
	</tr>
	<tr>
		<td>cf-rabbitmq-multitenant-broker</td>
		<td>73.0.0</td>
	</tr>
	<tr>
		<td>cf-rabbitmq-service-gateway</td>
		<td>18.0.0</td>
	</tr>
	<tr>
		<td>cf-rabbitmq-smoke-tests</td>
		<td>55.0.0</td>
	</tr>
	<tr>
		<td>loggregator-agent</td>
		<td>3.21.5</td>
	</tr>
	<tr>
		<td>on-demand-service-broker</td>
		<td>0.40.0</td>
	</tr>
	<tr>
		<td>rabbitmq-metrics</td>
		<td>34.0.0</td>
	</tr>
	<tr>
		<td>rabbitmq-on-demand-adapter</td>
		<td>139.0.0</td>
	</tr>
	<tr>
		<td>routing</td>
		<td>0.203.0</td>
	</tr>
	<tr>
		<td>service-metrics</td>
		<td>1.12.5</td>
	</tr>
	<tr>
		<td>syslog</td>
		<td>11.6.1</td>
	</tr>
</table>

<sup>*</sup> For more information, see the
<a href="https://github.com/rabbitmq/rabbitmq-server/releases/tag/v3.8.5">v3.8.5</a> GitHub documentation.


## <a id="1-19-1"></a> v1.19.1

**Release Date**: June 10, 2020


### Resolved Issues

This release fixes the following issues:

* Upgrading a replicated tile no longer fails with the error `this migration in a replicated tile
caused the error "TypeError: Cannot read property 'value' of undefined".`
* BOSH deployments no longer fail when the RabbitMQ admin password for the pre-provisioned cluster
contains a special character.
* To prevent `rabbitmqctl node_health_check` timing out after 70 seconds, RabbitMQ has less
intrusive health checks.
For more information, see the
[RabbitMQ documentation](https://www.rabbitmq.com/monitoring.html#health-checks).


### Known Issues

This release has the following issues:

<%= partial vars.path_to_partials + "/rabbitmq/erlang-ki" %>
<%= partial vars.path_to_partials + "/rabbitmq/ki-ha-sync-mode-timeout" %>
<%= partial vars.path_to_partials + "/rabbitmq/ki-renamed-federated-queues" %>
<%= partial vars.path_to_partials + "/rabbitmq/ki-smoke-test-custom-domain" %>
<%= partial vars.path_to_partials + "/rabbitmq/ki-drain-script" %>


### Compatibility

The following components are compatible with this release:

<table class="nice"> <th>Component</th> <th>Version</th> 	<tr>
		<td>Erlang</td>
		<td>22.3.4</td>
	</tr>
	<tr>
		<td>HAProxy</td>
		<td>1.8.25</td>
	</tr>
	<tr>
		<td>OSS RabbitMQ*</td>
		<td>3.8.3</td>
	</tr>
	<tr>
		<td>Stemcell</td>
		<td>621.x</td>
	</tr>
	<tr>
		<td><%= vars.app_runtime_full %></td>
		<td>2.7.x, 2.8.x, 2.9.x</td>
	</tr>
	<tr>
		<td>bpm</td>
		<td>1.1.8</td>
	</tr>
	<tr>
		<td>cf-cli</td>
		<td>1.26.0</td>
	</tr>
	<tr>
		<td>cf-rabbitmq</td>
		<td>298.0.0</td>
	</tr>
	<tr>
		<td>cf-rabbitmq-multitenant-broker</td>
		<td>69.0.0</td>
	</tr>
	<tr>
		<td>cf-rabbitmq-service-gateway</td>
		<td>13.0.0</td>
	</tr>
	<tr>
		<td>cf-rabbitmq-smoke-tests</td>
		<td>48.0.0</td>
	</tr>
	<tr>
		<td>loggregator-agent</td>
		<td>3.21.5</td>
	</tr>
	<tr>
		<td>on-demand-service-broker</td>
		<td>0.39.0</td>
	</tr>
	<tr>
		<td>rabbitmq-metrics</td>
		<td>28.0.0</td>
	</tr>
	<tr>
		<td>rabbitmq-on-demand-adapter</td>
		<td>121.0.0</td>
	</tr>
	<tr>
		<td>routing</td>
		<td>0.200.0</td>
	</tr>
	<tr>
		<td>service-metrics</td>
		<td>1.12.5</td>
	</tr>
	<tr>
		<td>syslog</td>
		<td>11.6.1</td>
	</tr>
</table>
<sup>*</sup> For more information, see the
<a href="https://github.com/rabbitmq/rabbitmq-server/releases/tag/v3.8.3">v3.8.3</a> GitHub documentation.

## <a id="1-19-0"></a> v1.19.0

**Release Date**: May 15, 2020


### Features

New features in this release:

* **RabbitMQ Prometheus plugin support:** This plugin collects RabbitMQ node metrics that you can use for
monitoring.
To enable this feature, you must open port `15692`. <br><br>
For information about the RabbitMQ Prometheus plugin, see the
[RabbitMQ documentation](https://www.rabbitmq.com/prometheus.html).<br>
For more information about enabling this feature,
see [Required Networking Rules for On-Demand Services](./about.html#network-rules).

* **Service-Gateway Improvement:** Operators can configure an on-demand plan that enables service
instances to connect to components outside the <%= vars.app_runtime_abbr %> foundation through MQTT
and STOMP.
For more information, see [Enabling Service-Gateway Access](./enable-service-gateway.html).

* **Filter metrics by cluster names:** The RabbitMQ cluster name now matches its service instance
GUID, enabling operators to filter metrics by cluster names.


### Resolved Issues

This release fixes the following issue:

* **Quorum queue downtime during rolling upgrades:** When used in production, quorum queues no longer
experience downtime during a rolling upgrade.
This is because <%= vars.product_short %> waits for quorum and mirror-sync critical nodes to sync before upgrades.

### Known Issues

This release has the following issues:

<%= partial vars.path_to_partials + "/rabbitmq/erlang-ki" %>
<%= partial vars.path_to_partials + "/rabbitmq/ki-replicated-tile" %>
<%= partial vars.path_to_partials + "/rabbitmq/ki-health-check-time-out" %>
<%= partial vars.path_to_partials + "/rabbitmq/ki-ha-sync-mode-timeout" %>
<%= partial vars.path_to_partials + "/rabbitmq/ki-renamed-federated-queues" %>
<%= partial vars.path_to_partials + "/rabbitmq/ki-smoke-test-custom-domain" %>
<%= partial vars.path_to_partials + "/rabbitmq/ki-drain-script" %>


### Compatibility

The following components are compatible with this release:

<table class="nice"> <th>Component</th> <th>Version</th> 	<tr>
		<td>Erlang</td>
		<td>22.3.3</td>
	</tr>
	<tr>
		<td>HAProxy</td>
		<td>1.8.25</td>
	</tr>
	<tr>
		<td>OSS RabbitMQ*</td>
		<td>3.8.3</td>
	</tr>
	<tr>
		<td>Stemcell</td>
		<td>621.x</td>
	</tr>
	<tr>
		<td><%= vars.app_runtime_full %></td>
		<td>2.7, 2.8 and 2.9</td>
	</tr>
	<tr>
		<td>bpm</td>
		<td>1.1.8</td>
	</tr>
	<tr>
		<td>cf-cli</td>
		<td>1.26.0</td>
	</tr>
	<tr>
		<td>cf-rabbitmq</td>
		<td>292.0.0</td>
	</tr>
	<tr>
		<td>cf-rabbitmq-multitenant-broker</td>
		<td>66.0.0</td>
	</tr>
	<tr>
		<td>cf-rabbitmq-service-gateway</td>
		<td>11.0.0</td>
	</tr>
	<tr>
		<td>cf-rabbitmq-smoke-tests</td>
		<td>46.0.0</td>
	</tr>
	<tr>
		<td>loggregator-agent</td>
		<td>3.21.5</td>
	</tr>
	<tr>
		<td>on-demand-service-broker</td>
		<td>0.39.0</td>
	</tr>
	<tr>
		<td>rabbitmq-metrics</td>
		<td>25.0.0</td>
	</tr>
	<tr>
		<td>rabbitmq-on-demand-adapter</td>
		<td>119.0.0</td>
	</tr>
	<tr>
		<td>routing</td>
		<td>0.200.0</td>
	</tr>
	<tr>
		<td>service-metrics</td>
		<td>1.12.5</td>
	</tr>
	<tr>
		<td>syslog</td>
		<td>11.6.1</td>
	</tr>
</table>

<sup>*</sup> For more information, see the
<a href="https://github.com/rabbitmq/rabbitmq-server/releases/tag/v3.8.3">v3.8.3</a> GitHub documentation.


## <a id="view"></a> View Release Notes for Another Version
To view the release notes for another product version, select the version from the dropdown at the top of this
page.
