---
title: RabbitMQ for Pivotal Platform Release Notes
owner: London Services
---

<%= partial vars.path_to_partials + '/branding-change' %>

<%= partial vars.path_to_partials + '/pcf-name-change' %>

<p class="note breaking">
  <strong>Breaking Change:</strong>
  In <%= vars.product_short %> v1.18.2 and later, users are no longer automatically
	logged in when navigating to the URL for the RabbitMQ Management UI.
  Instead, users must enter their username and password on the RabbitMQ Management UI login page.
  This is because usernames and passwords are removed from the RabbitMQ dashboard URL located in
  service bindings because of a potential XSS vector.
  For more information, see the pull request <a href="https://github.com/rabbitmq/rabbitmq-management/pull/748">Remove
  direct login route</a> in GitHub.<br>
</p>

## <a id="upgrade"></a> Upgrade to the Latest Version

For <%= vars.product_short %> v1.15 and v1.16, you can skip a minor version when you upgrade.

See the following table to find your upgrade path:

| If you are on...  | Upgrade to...  |
|---|---|
| v1.16  | v1.18.4 or later patches |
| v1.15  | v1.17.3 or later patches |


If you are upgrading a version other than v1.16 or v1.15, do not skip minor versions.

<%= partial vars.path_to_partials + '/upgrade-planner' %>

## <a id="1-18-9"></a> v1.18.9

**Release Date**: September 09, 2020

## Features

This release bumps the major version of Erlang used by service instances to 23.

### Resolved Issues

This release has the following fix:

- **The on-demand-adapter cleanly exits the drain script when the credentials are not present in UAA:**
The drain script now has the correct output for success (0) and failure (non-zero).

### Known Issues

This release has the following issue:

<%= partial vars.path_to_partials + "/rabbitmq/erlang-ki" %>

### Compatibility

The following components are compatible with this release:

<table class="nice"> <th>Component</th> <th>Version</th> 	<tr>
		<td>Erlang</td>
		<td>23.0.3</td>
	</tr>
	<tr>
		<td>HAProxy</td>
		<td>1.8.26</td>
	</tr>
	<tr>
		<td>OSS RabbitMQ*</td>
		<td>3.8.8</td>
	</tr>
	<tr>
		<td>Stemcell</td>
		<td>621.x</td>
	</tr>
	<tr>
		<td>Tanzu Application Service</td>
		<td>2.7.*, 2.8.*, 2.9.*</td>
	</tr>
	<tr>
		<td>bpm</td>
		<td>1.1.9</td>
	</tr>
	<tr>
		<td>cf-cli</td>
		<td>1.29.0</td>
	</tr>
	<tr>
		<td>cf-rabbitmq</td>
		<td>318.0.0</td>
	</tr>
	<tr>
		<td>cf-rabbitmq-multitenant-broker</td>
		<td>78.0.0</td>
	</tr>
	<tr>
		<td>cf-rabbitmq-service-gateway</td>
		<td>28.0.0</td>
	</tr>
	<tr>
		<td>cf-rabbitmq-smoke-tests</td>
		<td>64.0.0</td>
	</tr>
	<tr>
		<td>loggregator-agent</td>
		<td>3.21.5</td>
	</tr>
	<tr>
		<td>on-demand-service-broker</td>
		<td>0.40.0</td>
	</tr>
	<tr>
		<td>rabbitmq-metrics</td>
		<td>40.0.0</td>
	</tr>
	<tr>
		<td>rabbitmq-on-demand-adapter</td>
		<td>145.0.0</td>
	</tr>
	<tr>
		<td>routing</td>
		<td>0.207.0</td>
	</tr>
	<tr>
		<td>service-metrics</td>
		<td>1.12.5</td>
	</tr>
	<tr>
		<td>syslog</td>
		<td>11.6.1</td>
	</tr></table>

* For more information, see the <a href="https://github.com/rabbitmq/rabbitmq-server/releases/tag/v3.8.8">v3.8.8</a> GitHub documentation.

## <a id="1-18-8"></a> v1.18.8

**Release Date**: August 5, 2020

### Resolved Issues

This release fixes the following issue:

* **The pre-stop script no longer fails with a timeout error.**
Previously, the pre-stop script failed with the error:
`Timed out waiting for mirror queue critical node to sync after 3600 seconds`.
To prevent this, the following checks in the pre-stop script are disabled by default:
  * `rabbitmq-diagnostics check_if_node_is_mirror_sync_critical`
  * `rabbitmq-diagnostics check_if_node_is_quorum_critical`

    To enable these checks, select the **Wait for Queue Synchronization** checkbox in
the configuration for on-demands plans.
For more information about this setting, see [Configure the Service Plan](./install-config.html#service-plan).

* **Downstream federated queues consuming messages from an upstream queue are no longer duplicated after upgrading.**
This is because the RabbitMQ cluster name defaults to `rabbit@localhost` instead of its service instance GUID.
To set the cluster name to its service instance GUID, select the **Use Service Instance ID as cluster name**
checkbox in **Global Settings for On-Demand Plans**.
For more information about this setting, see [Configure Global Settings](./install-config.html#global).

* **Configure a custom apps domain to ensure smoke tests work:**
Previously, the smoke test picked up the default Cloud Foundry domain, which could cause smoke tests
to fail when the RabbitMQ service instance domain for on-demand services could not access the smoke tests domain.<br>
Operators can now configure the smoke tests domain to ensure that the service instance is accessible
during smoke tests.<br>
For more information, see [Configure Global Settings](./install-config.html#global).

### Known Issues

This release has the following issues:

<%= partial vars.path_to_partials + "/rabbitmq/erlang-ki" %>
<%= partial vars.path_to_partials + "/rabbitmq/ki-drain-script" %>

### Compatibility

The following components are compatible with this release:

<table class="nice"> <th>Component</th> <th>Version</th> 	<tr>
		<td>Erlang</td>
		<td>22.3.4.3</td>
	</tr>
	<tr>
		<td>HAProxy</td>
		<td>1.8.25</td>
	</tr>
	<tr>
		<td>OSS RabbitMQ*</td>
		<td>3.8.5</td>
	</tr>
	<tr>
		<td>Stemcell</td>
		<td>621.x</td>
	</tr>
	<tr>
		<td><%= vars.app_runtime_full %></td>
		<td>2.7.x, 2.8.x, 2.9.x</td>
	</tr>
	<tr>
		<td>bpm</td>
		<td>1.1.8</td>
	</tr>
	<tr>
		<td>cf-cli</td>
		<td>1.27.0</td>
	</tr>
	<tr>
		<td>cf-rabbitmq</td>
		<td>312.0.0</td>
	</tr>
	<tr>
		<td>cf-rabbitmq-multitenant-broker</td>
		<td>73.0.0</td>
	</tr>
	<tr>
		<td>cf-rabbitmq-service-gateway</td>
		<td>18.0.0</td>
	</tr>
	<tr>
		<td>cf-rabbitmq-smoke-tests</td>
		<td>55.0.0</td>
	</tr>
	<tr>
		<td>loggregator-agent</td>
		<td>3.21.5</td>
	</tr>
	<tr>
		<td>on-demand-service-broker</td>
		<td>0.40.0</td>
	</tr>
	<tr>
		<td>rabbitmq-metrics</td>
		<td>34.0.0</td>
	</tr>
	<tr>
		<td>rabbitmq-on-demand-adapter</td>
		<td>139.0.0</td>
	</tr>
	<tr>
		<td>routing</td>
		<td>0.203.0</td>
	</tr>
	<tr>
		<td>service-metrics</td>
		<td>1.12.5</td>
	</tr>
	<tr>
		<td>syslog</td>
		<td>11.6.1</td>
	</tr>
</table>

<sup>*</sup> For more information, see the
<a href="https://github.com/rabbitmq/rabbitmq-server/releases/tag/v3.8.5">v3.8.5</a> GitHub documentation.


## <a id="1-18-6"></a> v1.18.6

**Release Date**: June 10, 2020

### Resolved Issues

This release fixes the following issues:

* Upgrading a replicated tile no longer fails with the error `this migration in a replicated tile
caused the error "TypeError: Cannot read property 'value' of undefined".`
* BOSH deployments no longer fail when the RabbitMQ admin password for the pre-provisioned
cluster contains a special character.
* To prevent `rabbitmqctl node_health_check` timing out after 70 seconds, RabbitMQ has less
intrusive health checks.
For more information, see the
[RabbitMQ documentation](https://www.rabbitmq.com/monitoring.html#health-checks).


### Known Issues

This release has the following issues:

<%= partial vars.path_to_partials + "/rabbitmq/erlang-ki" %>
<%= partial vars.path_to_partials + "/rabbitmq/ki-ha-sync-mode-timeout" %>
<%= partial vars.path_to_partials + "/rabbitmq/ki-renamed-federated-queues" %>
<%= partial vars.path_to_partials + "/rabbitmq/ki-smoke-test-custom-domain" %>
<%= partial vars.path_to_partials + "/rabbitmq/ki-drain-script" %>

### Compatibility

The following components are compatible with this release:

<table class="nice"> <th>Component</th> <th>Version</th> 	<tr>
		<td>Erlang</td>
		<td>22.3.4</td>
	</tr>
	<tr>
		<td>HAProxy</td>
		<td>1.8.25</td>
	</tr>
	<tr>
		<td>OSS RabbitMQ*</td>
		<td>3.8.3</td>
	</tr>
	<tr>
		<td>Stemcell</td>
		<td>621.x</td>
	</tr>
	<tr>
		<td><%= vars.platform_name %></td>
		<td>2.7.x, 2.8.x, 2.9.x</td>
	</tr>
	<tr>
		<td>bpm</td>
		<td>1.1.8</td>
	</tr>
	<tr>
		<td>cf-cli</td>
		<td>1.26.0</td>
	</tr>
	<tr>
		<td>cf-rabbitmq</td>
		<td>298.0.0</td>
	</tr>
	<tr>
		<td>cf-rabbitmq-multitenant-broker</td>
		<td>69.0.0</td>
	</tr>
	<tr>
		<td>cf-rabbitmq-service-gateway</td>
		<td>13.0.0</td>
	</tr>
	<tr>
		<td>cf-rabbitmq-smoke-tests</td>
		<td>48.0.0</td>
	</tr>
	<tr>
		<td>loggregator-agent</td>
		<td>3.21.5</td>
	</tr>
	<tr>
		<td>on-demand-service-broker</td>
		<td>0.39.0</td>
	</tr>
	<tr>
		<td>rabbitmq-metrics</td>
		<td>28.0.0</td>
	</tr>
	<tr>
		<td>rabbitmq-on-demand-adapter</td>
		<td>121.0.0</td>
	</tr>
	<tr>
		<td>routing</td>
		<td>0.200.0</td>
	</tr>
	<tr>
		<td>service-metrics</td>
		<td>1.12.5</td>
	</tr>
	<tr>
		<td>syslog</td>
		<td>11.6.1</td>
	</tr>
</table>
<sup>*</sup> For more information, see the <a href="https://github.com/rabbitmq/rabbitmq-server/releases/tag/v3.8.3">v3.8.3</a> GitHub documentation.


## <a id="1-18-5"></a> v1.18.5

**Release Date**: May 15, 2020

### Resolved Issues

This release fixes the following issues:

* When used in production, quorum queues no longer experience downtime during a
  rolling upgrade. This is because <%= vars.product_short %> waits for quorum
  and mirror-sync critical nodes to sync before upgrades are applied.
* On demand instance plan features now display with bullet points in Apps Manager.
* BOSH `update_mode: converge` is now used instead of `feature.converge_variables`.
  This is because `feature.converge_variables` can result in unintended side
	effects. It regenerates all variables associated with a deployment,
	even those that are specified in a runtime config, causing downtime
	and other unexpected behavior.
* Operators can filter metrics by cluster name.
  This is because the RabbitMQ cluster name matches its service instance GUID rather
  than the default value `rabbit@localhost`.


### Known Issues

This release has the following issues:

<%= partial vars.path_to_partials + "/rabbitmq/erlang-ki" %>
<%= partial vars.path_to_partials + "/rabbitmq/ki-replicated-tile" %>
<%= partial vars.path_to_partials + "/rabbitmq/ki-health-check-time-out" %>
<%= partial vars.path_to_partials + "/rabbitmq/ki-ha-sync-mode-timeout" %>
<%= partial vars.path_to_partials + "/rabbitmq/ki-renamed-federated-queues" %>
<%= partial vars.path_to_partials + "/rabbitmq/ki-smoke-test-custom-domain" %>
<%= partial vars.path_to_partials + "/rabbitmq/ki-drain-script" %>


### Compatibility

The following components are compatible with this release:

<table class="nice"> <th>Component</th> <th>Version</th> 	<tr>
		<td>Erlang</td>
		<td>22.3.2</td>
	</tr>
	<tr>
		<td>HAProxy</td>
		<td>1.8.25</td>
	</tr>
	<tr>
		<td>OSS RabbitMQ*</td>
		<td>3.8.3</td>
	</tr>
	<tr>
		<td>Stemcell</td>
		<td>621.x</td>
	</tr>
	<tr>
		<td><%= vars.platform_name %></td>
		<td>2.7, 2.8 and 2.9</td>
	</tr>
	<tr>
		<td><%= vars.platform_old %></td>
		<td>2.5 and 2.6</td>
	</tr>
	<tr>
		<td>bpm</td>
		<td>1.1.8</td>
	</tr>
	<tr>
		<td>cf-cli</td>
		<td>1.26.0</td>
	</tr>
	<tr>
		<td>cf-rabbitmq</td>
		<td>291.0.0</td>
	</tr>
	<tr>
		<td>cf-rabbitmq-multitenant-broker</td>
		<td>65.0.0</td>
	</tr>
	<tr>
		<td>cf-rabbitmq-service-gateway</td>
		<td>10.0.0</td>
	</tr>
	<tr>
		<td>cf-rabbitmq-smoke-tests</td>
		<td>45.0.0</td>
	</tr>
	<tr>
		<td>loggregator-agent</td>
		<td>3.21.5</td>
	</tr>
	<tr>
		<td>on-demand-service-broker</td>
		<td>0.39.0</td>
	</tr>
	<tr>
		<td>rabbitmq-metrics</td>
		<td>24.0.0</td>
	</tr>
	<tr>
		<td>rabbitmq-on-demand-adapter</td>
		<td>117.0.0</td>
	</tr>
	<tr>
		<td>routing</td>
		<td>0.200.0</td>
	</tr>
	<tr>
		<td>service-metrics</td>
		<td>1.12.5</td>
	</tr>
	<tr>
		<td>syslog</td>
		<td>11.6.1</td>
	</tr>
</table>

<sup>*</sup> For more information, see the <a href="https://github.com/rabbitmq/rabbitmq-server/releases/tag/v3.8.3">v3.8.3</a> GitHub documentation.


## <a id="1-18-4"></a> v1.18.4

**Release Date**: March 19, 2020

### Security Fix

This release includes the following security fix:

* High [CVE-2020-9283](https://nvd.nist.gov/vuln/detail/CVE-2020-9283)

### Features

New features and changes in this release:

* You can upgrade <%= vars.product_short %> from v1.16 to v1.18.4 and later.
Pivotal recommends upgrading from the latest v1.16 release to the latest v1.18 release.
You can skip v1.17 in this case to save time.
<p class="note">
	<strong>Note:</strong> Pivotal discourages other upgrade paths that skip a release,
	such as v1.14 to v1.16 or v1.15 to v1.18, because they are untested.
</p>

* This release updates the following dependencies:

  * OSS RabbitMQ to v3.8.3. For more information, see the
	[RabbitMQ v3.8.3](https://github.com/rabbitmq/rabbitmq-server/releases/tag/v3.8.3)
	GitHub documentation.
  * Erlang to v22.2.8
  * HAProxy to v1.8.24

### Resolved Issues

This release fixes the following issues:

* Post-deploy scripts for the on-demand broker no longer fail because of a timing issue.


### Known Issues

This release has the following issues:

<%= partial vars.path_to_partials + "/rabbitmq/quorum-upgrade-ki" %>
<%= partial vars.path_to_partials + "/rabbitmq/erlang-ki" %>
<%= partial vars.path_to_partials + "/rabbitmq/ki-bullet-points-appsman" %>
<%= partial vars.path_to_partials + "/rabbitmq/ki-bosh-variables" %>
<%= partial vars.path_to_partials + "/rabbitmq/ki-replicated-tile" %>
<%= partial vars.path_to_partials + "/rabbitmq/ki-health-check-time-out" %>
<%= partial vars.path_to_partials + "/rabbitmq/ki-same-cluster-names" %>
<%= partial vars.path_to_partials + "/rabbitmq/ki-smoke-test-custom-domain" %>
<%= partial vars.path_to_partials + "/rabbitmq/ki-drain-script" %>


### Compatibility

The following components are compatible with this release:

<table class="nice">
    <th width="50%">Component</th>
    <th>Version</th>
    <tr>
        <td>Stemcell</td>
        <td>621.x</td>
    </tr>
    <tr>
        <td><%= vars.platform_name %></td>
        <td>2.7, 2.8 and 2.9</td>
    </tr>
    <tr>
        <td><%= vars.platform_old %></td>
        <td>2.5 and 2.6</td>
    </tr>
    <tr>
        <td>OSS RabbitMQ</td>
        <td>3.8.3*</td>
    </tr>
    <tr>
        <td>Erlang</td>
        <td>22.2.8</td>
    </tr>
    <tr>
        <td>HAProxy</td>
        <td>1.8.24</td>
    </tr>
    <tr>
        <td>bpm</td>
        <td>1.1.7</td>
    </tr>
    <tr>
        <td>service-metrics</td>
        <td>1.12.5</td>
    </tr>
    <tr>
        <td>on-demand-service-broker</td>
        <td>0.38.0</td>
    </tr>
    <tr>
        <td>rabbitmq-metrics</td>
        <td>23.0.0</td>
    </tr>
   <tr>
        <td>rabbitmq-on-demand-adapter</td>
        <td>115.0.0</td>
    </tr>
   <tr>
        <td>cf-rabbitmq-service-gateway</td>
        <td>9.0.0</td>
    </tr>
   <tr>
        <td>cf-rabbitmq-multitenant-broker</td>
        <td>64.0.0</td>
    </tr>
   <tr>
        <td>loggregator-agent</td>
        <td>3.21.5</td>
    </tr>
   <tr>
        <td>routing</td>
        <td>0.199.0</td>
    </tr>
   <tr>
        <td>syslog</td>
        <td>11.6.1</td>
    </tr>
   <tr>
        <td>cf-rabbitmq-smoke-tests</td>
        <td>44.0.0</td>
    </tr>
   <tr>
        <td>cf-rabbitmq</td>
        <td>288.0.0</td>
    </tr>
</table>
<sup>*</sup> For more information, see the <a href="https://github.com/rabbitmq/rabbitmq-server/releases/tag/v3.8.3">v3.8.3</a> GitHub documentation.


## <a id="1-18-3"></a> v1.18.3

**Release Date**: January 10, 2020

### Resolved Issues

This release fixes the following issues:

* These upgrade paths, each starting from v1.15.x with TLS set to optional, no longer fail:
  - v1.15.x to v1.17.0 to v1.18.3
  - v1.15.x to v1.17.1 to v1.18.3
  - v1.15.x to v1.17.3 to v1.18.3

* On platform on-demand service instances, created with a service-gateway-enabled plan, no longer
fail to connect when using the MQTT and STOMP protocols.
For more information, see [Service-Gateway Access (Beta)](./service-gateway-access.html) and
[RabbitMQ Server Plugins](./install-config.html#server-plugins).

### Known Issues

This release has the following issues:

<%= partial vars.path_to_partials + "/rabbitmq/quorum-upgrade-ki" %>
<%= partial vars.path_to_partials + "/rabbitmq/erlang-ki" %>
<%= partial vars.path_to_partials + "/rabbitmq/ki-post-deploy-scripts" %>
<%= partial vars.path_to_partials + "/rabbitmq/ki-bullet-points-appsman" %>
<%= partial vars.path_to_partials + "/rabbitmq/ki-bosh-variables" %>
<%= partial vars.path_to_partials + "/rabbitmq/ki-replicated-tile" %>
<%= partial vars.path_to_partials + "/rabbitmq/ki-health-check-time-out" %>
<%= partial vars.path_to_partials + "/rabbitmq/ki-same-cluster-names" %>
<%= partial vars.path_to_partials + "/rabbitmq/ki-smoke-test-custom-domain" %>
<%= partial vars.path_to_partials + "/rabbitmq/ki-drain-script" %>


### Compatibility

The following components are compatible with this release:

<table class="nice">
    <th width="50%">Component</th>
    <th>Version</th>
    <tr>
        <td>Stemcell</td>
        <td>621.x</td>
    </tr>
    <tr>
        <td><%= vars.platform_name %></td>
        <td>2.7 and 2.8</td>
    </tr>
    <tr>
        <td><%= vars.platform_old %></td>
        <td>2.5 and 2.6</td>
    </tr>
    <tr>
        <td>OSS RabbitMQ</td>
        <td>3.8.2*</td>
    </tr>
    <tr>
        <td>Erlang</td>
        <td>22.1.8</td>
    </tr>
    <tr>
        <td>HAProxy</td>
        <td>1.8.23</td>
    </tr>
    <tr>
        <td>bpm</td>
        <td>1.1.6</td>
    </tr>
    <tr>
        <td>service-metrics</td>
        <td>1.12.5</td>
    </tr>
    <tr>
        <td>on-demand-service-broker</td>
        <td>0.36.0</td>
    </tr>
   <tr>
        <td>cf-rabbitmq-service-gateway</td>
        <td>4.0.0</td>
    </tr>
    <tr>
        <td>rabbitmq-metrics</td>
        <td>22.0.0</td>
    </tr>
   <tr>
        <td>rabbitmq-on-demand-adapter</td>
        <td>111.0.0</td>
    </tr>
   <tr>
        <td>cf-rabbitmq-multitenant-broker</td>
        <td>61.0.0</td>
    </tr>
   <tr>
        <td>loggregator-agent</td>
        <td>3.21.5</td>
    </tr>
   <tr>
        <td>routing</td>
        <td>0.196.0</td>
    </tr>
   <tr>
        <td>syslog</td>
        <td>11.6.1</td>
    </tr>
   <tr>
        <td>cf-rabbitmq-smoke-tests</td>
        <td>40.0.0</td>
    </tr>
   <tr>
        <td>cf-rabbitmq</td>
        <td>283.0.0</td>
    </tr>
</table>
<sup>*</sup> For more information, see the <a href="https://github.com/rabbitmq/rabbitmq-server/releases/tag/v3.8.2">v3.8.2</a> GitHub documentation.


## <a id="1-18-2"></a> v1.18.2

**Release Date**: December 17, 2019

### Features

New features and changes in this release:

* Operators can configure an on-demand plan that enables service instances to connect to components outside
the <%= vars.platform_name %> foundation through AMQP.
For more information, see [Enabling Service-Gateway Access (Beta)](./service-gateway-access.html).
This functionality is planned for other supported protocols in later releases.
* This release uses RabbitMQ v3.8.2.
  For more information, see [RabbitMQ 3.8.2](https://github.com/rabbitmq/rabbitmq-server/releases/tag/v3.8.2) in GitHub.
* This version supports quorum queues. For more information about quorum queues, see the
[RabbitMQ documentation](https://www.rabbitmq.com/quorum-queues.html).
* Previously, operators could not set an upper limit on the number of on-demand service instances higher than 200.
This restriction no longer exists.

### Known Issues

This release has the following issues:

<%= partial vars.path_to_partials + "/rabbitmq/quorum-upgrade-ki" %>
<%= partial vars.path_to_partials + "/rabbitmq/erlang-ki" %>
<%= partial vars.path_to_partials + "/rabbitmq/ki-post-deploy-scripts" %>
<%= partial vars.path_to_partials + "/rabbitmq/ki-bullet-points-appsman" %>
<%= partial vars.path_to_partials + "/rabbitmq/ki-bosh-variables" %>
<%= partial vars.path_to_partials + "/rabbitmq/ki-replicated-tile" %>
<%= partial vars.path_to_partials + "/rabbitmq/ki-health-check-time-out" %>
<%= partial vars.path_to_partials + "/rabbitmq/ki-same-cluster-names" %>
<%= partial vars.path_to_partials + "/rabbitmq/ki-smoke-test-custom-domain" %>
<%= partial vars.path_to_partials + "/rabbitmq/ki-drain-script" %>


### Compatibility

The following components are compatible with this release:

<table class="nice">
    <th width="50%">Component</th>
    <th>Version</th>
    <tr>
        <td>Stemcell</td>
        <td>621.x</td>
    </tr>
    <tr>
        <td><%= vars.platform_name %></td>
        <td>2.7 and 2.8</td>
    </tr>
    <tr>
        <td><%= vars.platform_old %></td>
        <td>2.5 and 2.6</td>
    </tr>
    <tr>
        <td>OSS RabbitMQ</td>
        <td>3.8.2*</td>
    </tr>
    <tr>
        <td>Erlang</td>
        <td>22.1.8</td>
    </tr>
    <tr>
        <td>HAProxy</td>
        <td>1.8.23</td>
    </tr>
    <tr>
        <td>bpm</td>
        <td>1.1.6</td>
    </tr>
    <tr>
        <td>service-metrics</td>
        <td>1.12.5</td>
    </tr>
    <tr>
        <td>on-demand-service-broker</td>
        <td>0.36.0</td>
    </tr>
   <tr>
        <td>cf-rabbitmq-service-gateway</td>
        <td>4.0.0</td>
    </tr>
    <tr>
        <td>rabbitmq-metrics</td>
        <td>22.0.0</td>
    </tr>
   <tr>
        <td>rabbitmq-on-demand-adapter</td>
        <td>109.0.0</td>
    </tr>
   <tr>
        <td>cf-rabbitmq-multitenant-broker</td>
        <td>61.0.0</td>
    </tr>
   <tr>
        <td>loggregator-agent</td>
        <td>3.21.5</td>
    </tr>
   <tr>
        <td>routing</td>
        <td>0.196.0</td>
    </tr>
   <tr>
        <td>syslog</td>
        <td>11.6.1</td>
    </tr>
   <tr>
        <td>cf-rabbitmq-smoke-tests</td>
        <td>40.0.0</td>
    </tr>
   <tr>
        <td>cf-rabbitmq</td>
        <td>283.0.0</td>
    </tr>
    <tr>
        <td>cf-rabbitmq-service-gateway</td>
        <td>4.0.0</td>
    </tr>
</table>
<sup>*</sup> For more information, see the
<a href="https://github.com/rabbitmq/rabbitmq-server/releases/tag/v3.8.2">v3.8.2</a>
GitHub documentation.

## <a id="view"></a> View Release Notes for Another Version

To view the release notes for another product version, select the version from the dropdown at the
top of this page.
