---
title: VMware Tanzu RabbitMQ [VMs] Release Notes
owner: London Services
---

<%= partial vars.path_to_partials + '/upgrade-planner' %>

## <a id="1-19-1"></a> v1.19.1

**Release Date**: June 09, 2020

### Resolved Issues

This release fixes the following issues:

* Upgrading a replicated tile to 1.19.0 fails with the error `this migration in a replicated tile caused the
error "TypeError: Cannot read property 'value' of undefined".` Upgrading a replicated tile to 1.19.1 does not fail anymore.
* BOSH deployment does not fail anymore when the RabbitMQ admin password for the pre-provisioned cluster contains a special character such as the `$` sign.
However, as our docs recommend, "You can use a combination of upper or lowercase alphanumerics and supported special characters: `-=_+":;/?.><,~.`"
* We observed in production use cases that 'rabbitmqctl node_health_check' times out after 70 seconds. Therefore, this release uses less comprehensive health checks as described in
https://www.rabbitmq.com/monitoring.html#health-checks

### Known Issues

This release has the following known issues:


### Compatibility

The following components are compatible with this release:

<table class="nice"> <th>Component</th> <th>Version</th> 	<tr>
		<td>Erlang</td>
		<td>22.3.4</td>
	</tr>
	<tr>
		<td>HAProxy</td>
		<td>1.8.25</td>
	</tr>
	<tr>
		<td>OSS RabbitMQ*</td>
		<td>3.8.3</td>
	</tr>
	<tr>
		<td>Stemcell</td>
		<td>621.x</td>
	</tr>
	<tr>
		<td>Tanzu Application Service</td>
		<td>2.7.*, 2.8.*, 2.9.*</td>
	</tr>
	<tr>
		<td>bpm</td>
		<td>1.1.8</td>
	</tr>
	<tr>
		<td>cf-cli</td>
		<td>1.26.0</td>
	</tr>
	<tr>
		<td>cf-rabbitmq</td>
		<td>298.0.0</td>
	</tr>
	<tr>
		<td>cf-rabbitmq-multitenant-broker</td>
		<td>69.0.0</td>
	</tr>
	<tr>
		<td>cf-rabbitmq-service-gateway</td>
		<td>13.0.0</td>
	</tr>
	<tr>
		<td>cf-rabbitmq-smoke-tests</td>
		<td>48.0.0</td>
	</tr>
	<tr>
		<td>loggregator-agent</td>
		<td>3.21.5</td>
	</tr>
	<tr>
		<td>on-demand-service-broker</td>
		<td>0.39.0</td>
	</tr>
	<tr>
		<td>rabbitmq-metrics</td>
		<td>28.0.0</td>
	</tr>
	<tr>
		<td>rabbitmq-on-demand-adapter</td>
		<td>121.0.0</td>
	</tr>
	<tr>
		<td>routing</td>
		<td>0.200.0</td>
	</tr>
	<tr>
		<td>service-metrics</td>
		<td>1.12.5</td>
	</tr>
	<tr>
		<td>syslog</td>
		<td>11.6.1</td>
	</tr></table>
* For more information, see the <a href="https://github.com/rabbitmq/rabbitmq-server/releases/tag/v3.8.3">v3.8.3</a> GitHub documentation.

## <a id="1-19-0"></a> v1.19.0

**Release Date**: May 15, 2020

### Features

New features in this release:

* **RabbitMQ Prometheus plugin support:** This plugin collects RabbitMQ node metrics that you can use for
monitoring.
To enable this feature, you must open port `15692`. <br><br>
For information about the RabbitMQ Prometheus plugin, see the
[RabbitMQ documentation](https://www.rabbitmq.com/prometheus.html).<br>
For more information about enabling this feature,
see [Required Networking Rules for On-Demand Services](./about.html#network-rules).

* **Service-Gateway Improvement:** Operators can configure an on-demand plan that enables service
instances to connect to components outside the <%= vars.platform_name %> foundation through MQTT and STOMP.
For more information, see [Enabling Service-Gateway Access](./enable-service-gateway.html).

* **Filter metrics by cluster names:** The RabbitMQ cluster name now matches its service instance GUID,
enabling operators to filter metrics by cluster names.

### Resolved Issues

This release fixes the following issue:

* **Quorum queue downtime during rolling upgrades:** When used in production, quorum queues no longer
experience downtime during a rolling upgrade.
This is because <%= vars.product_short %> waits for quorum and mirror-sync critical nodes to sync before upgrades.

### Known Issues

This release has the following known issues:

<%= partial vars.path_to_partials + "/rabbitmq/erlang-ki" %>

### Compatibility

The following components are compatible with this release:

<table class="nice"> <th>Component</th> <th>Version</th> 	<tr>
		<td>Erlang</td>
		<td>22.3.3</td>
	</tr>
	<tr>
		<td>HAProxy</td>
		<td>1.8.25</td>
	</tr>
	<tr>
		<td>OSS RabbitMQ*</td>
		<td>3.8.3</td>
	</tr>
	<tr>
		<td>Stemcell</td>
		<td>621.x</td>
	</tr>
	<tr>
		<td><%= vars.platform_name %></td>
		<td>2.7, 2.8 and 2.9</td>
	</tr>
	<tr>
		<td>bpm</td>
		<td>1.1.8</td>
	</tr>
	<tr>
		<td>cf-cli</td>
		<td>1.26.0</td>
	</tr>
	<tr>
		<td>cf-rabbitmq</td>
		<td>292.0.0</td>
	</tr>
	<tr>
		<td>cf-rabbitmq-multitenant-broker</td>
		<td>66.0.0</td>
	</tr>
	<tr>
		<td>cf-rabbitmq-service-gateway</td>
		<td>11.0.0</td>
	</tr>
	<tr>
		<td>cf-rabbitmq-smoke-tests</td>
		<td>46.0.0</td>
	</tr>
	<tr>
		<td>loggregator-agent</td>
		<td>3.21.5</td>
	</tr>
	<tr>
		<td>on-demand-service-broker</td>
		<td>0.39.0</td>
	</tr>
	<tr>
		<td>rabbitmq-metrics</td>
		<td>25.0.0</td>
	</tr>
	<tr>
		<td>rabbitmq-on-demand-adapter</td>
		<td>119.0.0</td>
	</tr>
	<tr>
		<td>routing</td>
		<td>0.200.0</td>
	</tr>
	<tr>
		<td>service-metrics</td>
		<td>1.12.5</td>
	</tr>
	<tr>
		<td>syslog</td>
		<td>11.6.1</td>
	</tr></table>

<sup>*</sup> For more information, see the
<a href="https://github.com/rabbitmq/rabbitmq-server/releases/tag/v3.8.3">v3.8.3</a> GitHub documentation.


## <a id="view"></a> View Release Notes for Another Version
To view the release notes for another product version, select the version from the dropdown at the top of this
page.
