---
title: VMware Tanzu RabbitMQ [VMs] Release Notes
owner: London Services
---

<%= partial vars.path_to_partials + '/upgrade-planner' %>

## <a id="1-20-0"></a> v1.20.0

**Release Date**: MMMM DD, 2020

### Features

New features in this release:

* **Syslog forwarding:** <%= vars.ops_manager %> now manages <%= vars.product_short %> syslog
configuration.
This improvement does not affect syslog configuration for within the tile.
However, for new service instances the default program name is different.
To learn how to configure syslog to keep the log format consistent, see
[Configure Syslog Forwarding](./monitor.html#config)

* **BOSH Hot Swap:** On-demand service instances created in <%= vars.product_short %> v1.20.0 and
later use the `vm_strategy` `create-swap-delete`.<br>
For more information, see
[Changing VM Update Strategy](https://bosh.io/docs/changing-deployment-vm-strategy/) in the BOSH
documentation.<br><br>
This change significantly reduces downtime because VM creation and deletion no longer affects the
downtime of a RabbitMQ node being updated.<br>
Depending on your IaaS, VM creation and deletion can take between a few seconds and several minutes.
Your IaaS resource usage surges during the deployment while BOSH creates additional VMs to prepare
for the update.
You might need to review any resource limits for your IaaS and account.
On-demand service instances that were created in <%= vars.product_short %> v1.20.0 and upgraded to
later versions continue to use the `vm_strategy` `delete-create`.

* **Upgrade One:** <%= vars.product_short %> now has support for Upgrade One.
This enables service instance owners to choose when to upgrade their service instance through
`cf service SERVICE-NAME --upgrade`.
Running the errand `upgrade-all-service-instances` still forces an upgrade.

For more information about this feature see the
[Cloud Foundry documentation](https://docs.cloudfoundry.org/devguide/services/managing-services.html#upgrade).

* **OAuth:** Support for the RabbitMQ OAuth plugin has now arrived in <%= vars.product_short %>.
In this release, users can authenticate with the RabbitMQ dashboard through JWT-encoded OAuth 2.0
access tokens.
For more information about the plugin, see
[rabbitmq-auth-backend-oauth2](https://github.com/rabbitmq/rabbitmq-auth-backend-oauth2) in GitHub.
For information about how to enable OAuth in this release, see [Enabling OAuth](./enable-oauth.html).


### Resolved Issues

This release fixes the following issue:

* **Run-in Heading:** Fixed issue


### Known Issues

This release has the following known issues:

<%= partial vars.path_to_partials + "/rabbitmq/erlang-ki" %>

### Compatibility

The following components are compatible with this release:

<table class="nice"> <th>Component</th> <th>Version</th> 	<tr>
		<td>Erlang</td>
		<td>22.3.3</td>
	</tr>
	<tr>
		<td>HAProxy</td>
		<td>1.8.25</td>
	</tr>
	<tr>
		<td>OSS RabbitMQ*</td>
		<td>3.8.3</td>
	</tr>
	<tr>
		<td>Stemcell</td>
		<td>621.x</td>
	</tr>
	<tr>
		<td><%= vars.app_runtime_full %></td>
		<td>2.7.x, 2.8.x, 2.9.x</td>
	</tr>
	<tr>
		<td>bpm</td>
		<td>1.1.8</td>
	</tr>
	<tr>
		<td>cf-cli</td>
		<td>1.26.0</td>
	</tr>
	<tr>
		<td>cf-rabbitmq</td>
		<td>292.0.0</td>
	</tr>
	<tr>
		<td>cf-rabbitmq-multitenant-broker</td>
		<td>66.0.0</td>
	</tr>
	<tr>
		<td>cf-rabbitmq-service-gateway</td>
		<td>11.0.0</td>
	</tr>
	<tr>
		<td>cf-rabbitmq-smoke-tests</td>
		<td>46.0.0</td>
	</tr>
	<tr>
		<td>loggregator-agent</td>
		<td>3.21.5</td>
	</tr>
	<tr>
		<td>on-demand-service-broker</td>
		<td>0.39.0</td>
	</tr>
	<tr>
		<td>rabbitmq-metrics</td>
		<td>25.0.0</td>
	</tr>
	<tr>
		<td>rabbitmq-on-demand-adapter</td>
		<td>119.0.0</td>
	</tr>
	<tr>
		<td>routing</td>
		<td>0.200.0</td>
	</tr>
	<tr>
		<td>service-metrics</td>
		<td>1.12.5</td>
	</tr>
	<tr>
		<td>syslog</td>
		<td>11.6.1</td>
	</tr></table>

<sup>*</sup> For more information, see the
<a href="https://github.com/rabbitmq/rabbitmq-server/releases/tag/v3.8.3">v3.8.3</a>
GitHub documentation.


## <a id="view"></a> View Release Notes for Another Version
To view the release notes for another product version, select the version from the dropdown at the
top of this page.
