---
title: RabbitMQ for Pivotal Platform Release Notes
owner: London Services
---

<%= partial vars.path_to_partials + '/branding-change' %>

<%= partial vars.path_to_partials + '/pcf-name-change' %>

<%= partial vars.path_to_partials + '/upgrade-planner' %>

## <a id="1-19-0"></a> v1.19.X

**Release Date**: MMMM DD, 2020

### Resolved Issues

This release fixes the following issues:


### Known Issues

This release has the following known issues:


### Compatibility

The following components are compatible with this release:

<table class="nice">
    <th width="50%">Component</th>
    <th>Version</th>
    <tr>
        <td>Stemcell</td>
        <td>621.x</td>
    </tr>
    <tr>
        <td><%= vars.platform_name %></td>
        <td>2.7 and 2.8</td>
    </tr>
    <tr>
        <td><%= vars.platform_old %></td>
        <td>2.5 and 2.6</td>
    </tr>
    <tr>
        <td>OSS RabbitMQ</td>
        <td>3.8.2*</td>
    </tr>
    <tr>
        <td>Erlang</td>
        <td>22.1.8</td>
    </tr>
    <tr>
        <td>HAProxy</td>
        <td>1.8.23</td>
    </tr>
    <tr>
        <td>bpm</td>
        <td>1.1.6</td>
    </tr>
    <tr>
        <td>service-metrics</td>
        <td>1.12.5</td>
    </tr>
    <tr>
        <td>on-demand-service-broker</td>
        <td>0.36.0</td>
    </tr>
    <tr>
        <td>rabbitmq-metrics</td>
        <td>22.0.0</td>
    </tr>
   <tr>
        <td>rabbitmq-on-demand-adapter</td>
        <td>111.0.0</td>
    </tr>
   <tr>
        <td>cf-rabbitmq-multitenant-broker</td>
        <td>61.0.0</td>
    </tr>
   <tr>
        <td>loggregator-agent</td>
        <td>3.21.5</td>
    </tr>
   <tr>
        <td>routing</td>
        <td>0.196.0</td>
    </tr>
   <tr>
        <td>syslog</td>
        <td>11.6.1</td>
    </tr>
   <tr>
        <td>cf-rabbitmq-smoke-tests</td>
        <td>40.0.0</td>
    </tr>
   <tr>
        <td>cf-rabbitmq</td>
        <td>283.0.0</td>
    </tr>
</table>
* For more information, see the <a href="https://github.com/rabbitmq/rabbitmq-server/releases/tag/v3.8.2">v3.8.2</a> GitHub documentation.

## <a id="view"></a> View Release Notes for Another Version

To view the release notes for another product version, select the version from the dropdown at the top of this
page.
