---
title: VMware Tanzu RabbitMQ [VMs] Release Notes
owner: London Services
---

<%= partial vars.path_to_partials + '/upgrade-planner' %>

## <a id="1-20-0"></a> v1.20.0

**Release Date**: MMMM DD, 2020

### Features

New features in this release:

* **Syslog forwarding:** <%= vars.product_short %> syslog configuration is now managed by
<%= vars.ops_manager %>.
This improvement does not affect syslog configuration for within the tile.
However, for new service instances the default program name will be different.
To learn how to configure syslog to keep the log format consistent, see
[Configure Syslog Forwarding](./monitor.html#config)

* **Reduced downtime:**
To reduce downtime, on-demand service instances created using <%= vars.product_short %> v1.20 and later
use the `vm_strategy` `create-swap-delete`.
During deployment, IaaS resource usage surges while BOSH creates additional VMs in preparation for the update.
You might need to review resource limits for your IaaS and account.
If your limits are too low, your deployment fails.<br><br>
On-demand service instances that were created using <%= vars.product_short %> v1.19 or earlier
and upgraded to v1.20 or later continue to use the `vm_strategy` `delete-create`.
For more information about how this affects downtime, see [VM Update Strategy](./upgrade.html#vm-strategy).


* **Run-in Heading:** Feature


### Resolved Issues

This release fixes the following issue:

* **Run-in Heading:** Fixed issue

### Known Issues

This release has the following known issues:

<%= partial vars.path_to_partials + "/rabbitmq/erlang-ki" %>

### Compatibility

The following components are compatible with this release:

<table class="nice"> <th>Component</th> <th>Version</th> 	<tr>
		<td>Erlang</td>
		<td>22.3.3</td>
	</tr>
	<tr>
		<td>HAProxy</td>
		<td>1.8.25</td>
	</tr>
	<tr>
		<td>OSS RabbitMQ*</td>
		<td>3.8.3</td>
	</tr>
	<tr>
		<td>Stemcell</td>
		<td>621.x</td>
	</tr>
	<tr>
		<td><%= vars.app_runtime_full %></td>
		<td>2.7.x, 2.8.x, 2.9.x</td>
	</tr>
	<tr>
		<td>bpm</td>
		<td>1.1.8</td>
	</tr>
	<tr>
		<td>cf-cli</td>
		<td>1.26.0</td>
	</tr>
	<tr>
		<td>cf-rabbitmq</td>
		<td>292.0.0</td>
	</tr>
	<tr>
		<td>cf-rabbitmq-multitenant-broker</td>
		<td>66.0.0</td>
	</tr>
	<tr>
		<td>cf-rabbitmq-service-gateway</td>
		<td>11.0.0</td>
	</tr>
	<tr>
		<td>cf-rabbitmq-smoke-tests</td>
		<td>46.0.0</td>
	</tr>
	<tr>
		<td>loggregator-agent</td>
		<td>3.21.5</td>
	</tr>
	<tr>
		<td>on-demand-service-broker</td>
		<td>0.39.0</td>
	</tr>
	<tr>
		<td>rabbitmq-metrics</td>
		<td>25.0.0</td>
	</tr>
	<tr>
		<td>rabbitmq-on-demand-adapter</td>
		<td>119.0.0</td>
	</tr>
	<tr>
		<td>routing</td>
		<td>0.200.0</td>
	</tr>
	<tr>
		<td>service-metrics</td>
		<td>1.12.5</td>
	</tr>
	<tr>
		<td>syslog</td>
		<td>11.6.1</td>
	</tr></table>

<sup>*</sup> For more information, see the
<a href="https://github.com/rabbitmq/rabbitmq-server/releases/tag/v3.8.3">v3.8.3</a> GitHub documentation.


## <a id="view"></a> View Release Notes for Another Version
To view the release notes for another product version, select the version from the dropdown at the
top of this page.
