---
title: RabbitMQ&reg; for PCF Release Notes
owner: London Services
---

## <a id="upgrade"></a> Upgrade to the Latest Version

Pivotal recommends upgrading from the latest v1.15 release to the latest v1.17 release. You can skip v1.16 in this case to save time and take advantage of the latest features.

Pivotal discourages any other upgrade path that skips a release, such as v1.14 to v1.16, as they are untested.

As v1.17 contains a new version of Erlang, upgrading to v1.17 from any previous version requires a cluster
shutdown. The service is unavailable while the cluster upgrades. After the final node upgrades, the cluster
starts and the service is available again.

For product versions and upgrade paths,
see the [Product Compatibility Matrix](http://docs.pivotal.io/compatibility-matrix.pdf).

## <a id="deprecation"></a> Pivotal Is Continuing Support for the Pre-Provisioned Service

<%= vars.note_pre_provisioned %>

For information about migrating from the pre-provisioned service to the on-demand
service, see
[About Migrating a Pre-Provisioned Instance to an On-Demand Instance](./ondemand.html#migrating-from-mt).
For instructions on how to install, configure, and deploy RabbitMQ for PCF
as an on-demand service, see <a href="./install-config.html">
Installing and Configuring RabbitMQ for PCF the On-Demand Service</a>.

## <a id="1165"></a> v1.16.5

**Release Date**: August 27, 2019

### Security Fix

This release includes the following security fix:

* Critical [CVE-2019–9893: libseccomp before 2.4.0 did not correctly generate 64-bit syscall argument comparisons using the arithmetic operators (LT, GT, LE, GE)](https://nvd.nist.gov/vuln/detail/CVE-2019-9893)

### Resolved Issue

This release has the following fix:

* When TLS is enabled, the RabbitMQ Management UI is now accessible from outside PCF.

### Known Issues

This release has the following known issues:

* Changing the Erlang Cookie value requires cluster downtime, and can result in
failed deployments.
For more information about this issue, see [Changing the Erlang Cookie Value Known Issue](./install-config-pp.html#changing-issue).

<%= partial 'ki-shareable-instances' %>

### Compatibility

The following components are compatible with this release:

<table class="nice">
    <th>Component</th>
    <th>Version</th>
    <tr>
        <td>Stemcell</td>
        <td>170.x</td>
    </tr>
    <tr>
        <td>PCF</td>
        <td>v2.4.x, v2.5.x, and v2.6.x</td>
    </tr>
    <tr>
        <td>OSS RabbitMQ</td>
        <td><a href="https://github.com/rabbitmq/rabbitmq-server/releases/tag/v3.7.17">v3.7.17</a></td>
    </tr>
    <tr>
        <td>Erlang</td>
        <td>20.3.8.22</td>
    </tr>
    <tr>
        <td>HAProxy</td>
        <td>1.8.20</td>
    </tr>
    <tr>
        <td>bpm</td>
        <td>1.1.3</td>
    </tr>
    <tr>
        <td>service-metrics</td>
        <td>1.12.0</td>
    </tr>
    <tr>
        <td>on-demand-service-broker</td>
        <td>0.31.1</td>
    </tr>
    <tr>
        <td>rabbitmq-metrics</td>
        <td>16.0.0</td>
    </tr>
   <tr>
        <td>rabbitmq-on-demand-adapter</td>
        <td>90.0.0</td>
    </tr>
   <tr>
        <td>cf-rabbitmq-multitenant-broker</td>
        <td>56.0.0</td>
    </tr>
   <tr>
        <td>loggregator-agent</td>
        <td>3.21</td>
    </tr>
   <tr>
        <td>routing</td>
        <td>0.188.0</td>
    </tr>
   <tr>
        <td>syslog</td>
        <td>11.4.0</td>
    </tr>
   <tr>
        <td>cf-rabbitmq-smoke-tests</td>
        <td>30.0.0</td>
    </tr>
   <tr>
        <td>cf-rabbitmq</td>
        <td>267.2.0</td>
    </tr>
</table>

## <a id="1164"></a> v1.16.4

**Release Date**: June 17, 2019

### Resolved Issues

This release has the following fix:

* The pre-provisioned broker now terminates failed TCP connections when unbinding services.
This prevents the file descriptor limit on the HAProxy and the pre-provisioned
broker VMs from reaching capacity over time.

### Known Issues

This release has the following known issues:

* Changing the Erlang Cookie value requires cluster downtime, and can result in
failed deployments.
For more information about this issue, see [Changing the Erlang Cookie Value Known Issue](./install-config-pp.html#changing-issue).

<%= partial '../../rabbitmq-cf/partials/rabbit/ki-management-ui' %>

<%= partial '../../rabbitmq-cf/partials/rabbit/ki-shareable-instances' %>

### Compatibility

The following components are compatible with this release:

<table class="nice">
    <th>Component</th>
    <th>Version</th>
    <tr>
        <td>Stemcell</td>
        <td>170.x</td>
    </tr>
    <tr>
        <td>PCF</td>
        <td>v2.4.x, v2.5.x, and v2.6.x</td>
    </tr>
    <tr>
        <td>OSS RabbitMQ</td>
        <td><a href="https://github.com/rabbitmq/rabbitmq-server/releases/tag/v3.7.14">v3.7.14</a></td>
    </tr>
    <tr>
        <td>Erlang</td>
        <td>20.3.8.21</td>
    </tr>
    <tr>
        <td>HAProxy</td>
        <td>1.8.20</td>
    </tr>
    <tr>
        <td>bpm</td>
        <td>1.0.4</td>
    </tr>
    <tr>
        <td>service-metrics</td>
        <td>1.12.0</td>
    </tr>
    <tr>
        <td>on-demand-service-broker</td>
        <td>0.29.1</td>
    </tr>
    <tr>
        <td>rabbitmq-metrics</td>
        <td>13.0.0</td>
    </tr>
   <tr>
        <td>rabbitmq-on-demand-adapter</td>
        <td>82.0.0</td>
    </tr>
   <tr>
        <td>cf-rabbitmq-multitenant-broker</td>
        <td>53.0.0</td>
    </tr>
   <tr>
        <td>loggregator-agent</td>
        <td>3.16</td>
    </tr>
   <tr>
        <td>routing</td>
        <td>0.188.0</td>
    </tr>
   <tr>
        <td>syslog</td>
        <td>11.4.0</td>
    </tr>
   <tr>
        <td>cf-rabbitmq-smoke-tests</td>
        <td>29.0.0</td>
    </tr>
   <tr>
        <td>cf-rabbitmq</td>
        <td>266.0.0</td>
    </tr>
</table>

## <a id="1163"></a> v1.16.3

**Release Date**: May 22, 2019

<p class="note breaking"><strong>Breaking Change:</strong>
To fix CVE-2018-1279, the method used to generate the Erlang cookie has changed in RabbitMQ for PCF v1.16.
For more information about this security issue, see
<a href="https://pivotal.io/security/cve-2018-1279">CVE-2018-1279: RabbitMQ cluster compromise due to deterministically generated cookie</a>.
<br><br>
If you rely on the tile to generate the cookie by leaving the Erlang cookie field
blank, you will experience a few minutes of downtime when you upgrade.
For more information, see <a href="./install-config-pp.html#security-fix">Erlang Cookie Security Fix</a>.
<br><br>
If you have set the cookie explicitly in the tile configuration, you are not
affected by this issue or this change.</p>

### Security Fixes

This release includes the following security fix:

* High [CVE-2018-1279: RabbitMQ cluster compromise due to deterministically generated cookie](https://pivotal.io/security/cve-2018-1279)

### Features

New features and changes in this release:

* You can enable the `rabbitmq_event_exchange` and the `rabbitmq_mqtt` plugins
  for on-demand service instances.
  These plugins are disabled by default.
  For how to enable them, see [Enable Optional Plugins](./use.html#optional-plugins).

* You can configure your RabbitMQ tile to share metrics with the PCF Healthwatch service.
For more information about this service, see [Pivotal Cloud Foundry Healthwatch](https://docs.pivotal.io/pcf-healthwatch/index.html).

* You can disable service metrics for RabbitMQ for PCF service instances to reduce
operational costs.
For how to do so for both the on-demand and pre-provisioned services, see
[Set up Syslog Forwarding and Metrics Polling Interval](./monitor.html#config).

* You can specify that a plan is a paid-type plan by selecting the **Paid Plan** checkbox
on the plan configuration pane.
In previous versions, all RabbitMQ for PCF plans were marked as free in the Marketplace.
For how to mark that a plan is a paid plan, see [Configure the Service Plan](install-config.html#service-plan).

* Configuring TLS on RabbitMQ for PCF service instances is simpler.
You can now configure TLS when you create a service instance as well as when you update
an existing service instance.
For more information, see [Enable TLS for Your Service Instance](./use.html#tls).

* Service bindings return DNS names instead of IP addresses.
For how this affects the RabbitMQ clients used by apps, see
[RabbitMQ Node Address Resolution](./use.html#bosh-dns).

* Operators can enforce TLS for all connections to on-demand RabbitMQ nodes on a deployment.
For more information, see [Configure Security](install-config.html#security).

* Exposes the `return_unroutable` and `return_unroutable_rate` RabbitMQ metrics to the Cloud Foundry Loggregator subsystem.

### Resolved Issues

This release has the following fix:

* Cluster scaling no longer requires downtime because the Erlang cookie is
generated using a different method.

### Known Issues

This release has the following known issues:

<ul>
<li>The pre-provisioned broker does not terminate failed TCP connections when unbinding services.
  Over time, this can cause the file descriptor limit on the VMs that host HAProxy
  and the pre-provisioned broker to reach capacity:
   <ul>
    <li> When capacity is reached on the HAProxy VM, RabbitMQ is unreachable.</li>
    <li> When capacity is reached on the pre-provisioned broker, app developers cannot create, bind, unbind, or delete service instances.</li>
   </ul>
  To resolve the issue, do one of the following:
   <ul>
   <li> Restart the <code>haproxy</code> or the <code>rabbitmq-service-broker</code> monit job on the VM.
   <li> Increase the file descriptor limit on the VM.
    For how to increase the limit, see the example in
    <a href="https://community.pivotal.io/s/article/unable-to-create-rabbitmq-service-instance">Unable to create RabbitMQ service-instance in PCF "too many open files"</a>
      in the Pivotal Support knowledge base.  </li>
   <li> If the VM is unresponsive, restart it.</li>
   </ul>
</li>
</ul>

* Changing the Erlang Cookie value requires cluster downtime, and can result in failed deployments.
  For more information about this issue, see
  <a href="./install-config-pp.html#changing-issue">Changing the Erlang Cookie Value Known Issue</a>.

<%= partial '../../rabbitmq-cf/partials/rabbit/ki-management-ui' %>

<%= partial '../../rabbitmq-cf/partials/rabbit/ki-shareable-instances' %>

### Compatibility

The following components are compatible with this release:

<table class="nice">
    <th>Component</th>
    <th>Version</th>
    <tr>
        <td>Stemcell</td>
        <td>170.x</td>
    </tr>
    <tr>
        <td>PCF</td>
        <td>v2.4.x, and v2.5.x</td>
    </tr>
    <tr>
        <td>OSS RabbitMQ</td>
        <td><a href="https://github.com/rabbitmq/rabbitmq-server/releases/tag/v3.7.14">v3.7.14</a></td>
    </tr>
    <tr>
        <td>Erlang</td>
        <td>20.3.8.20</td>
    </tr>
    <tr>
        <td>HAProxy</td>
        <td>1.8.19</td>
    </tr>
    <tr>
        <td>bpm</td>
        <td>1.0.4</td>
    </tr>
    <tr>
        <td>service-metrics</td>
        <td>1.12.0</td>
    </tr>
    <tr>
        <td>on-demand-service-broker</td>
        <td>0.27.0</td>
    </tr>
    <tr>
        <td>rabbitmq-metrics</td>
        <td>10.0.0</td>
    </tr>
   <tr>
        <td>rabbitmq-on-demand-adapter</td>
        <td>81.0.0</td>
    </tr>
   <tr>
        <td>cf-rabbitmq-multitenant-broker</td>
        <td>52.0.0</td>
    </tr>
   <tr>
        <td>loggregator-agent</td>
        <td>3.14</td>
    </tr>
   <tr>
        <td>routing</td>
        <td>0.188.0</td>
    </tr>
   <tr>
        <td>syslog</td>
        <td>11.4.0</td>
    </tr>
   <tr>
        <td>cf-rabbitmq-smoke-tests</td>
        <td>29.0.0</td>
    </tr>
   <tr>
        <td>cf-rabbitmq</td>
        <td>265.0.0</td>
    </tr>
</table>
## <a id="view"></a> View Release Notes for Another Version

To view the release notes for another product version, select the version from
the dropdown at the top of this page.
