---
title: RabbitMQ&reg; for PCF Release Notes
owner: London Services
---

## <a id="upgrade"></a> Upgrade to the Latest Version

Pivotal recommends upgrading from the latest v1.15 release to the latest v1.17 release.
You can skip v1.16 in this case to save time and take advantage of the latest features.
Pivotal discourages any other upgrade path that skips a release, such as v1.14 to v1.16,
because they are untested.

Upgrading to v1.17.3 and later from previous versions does not cause a cluster shutdown.
You will experience little to no downtime.
However, upgrading to v1.17.2 and earlier still requires a cluster shutdown.

For product versions and upgrade paths,
see the [Product Compatibility Matrix](http://docs.pivotal.io/compatibility-matrix.pdf).

## <a id="1-17-5"></a> v1.17.5

**Release Date**: January 9, 2020

### Bug Fixes

This release includes the following bug fixes:

* Upgrading from 1.15.x with TLS set to optional, to this patch, no longer fails. This is the case for v1.17.4 of the tile.
Please upgrade to this version or later to avoid the bug.

### Features

New features and changes in this release:

* This release updates the following dependencies:
	* OSS RabbitMQ to <a href="https://github.com/rabbitmq/rabbitmq-server/releases/tag/v3.7.22">v3.7.22</a>
	* Erlang to v21.3.8.11
	* HAProxy to v1.8.23

### Known Issues

This release has the following known issue:

* Changing the Erlang Cookie value requires cluster downtime and can result in failed deployments.
For more information about this issue, see [Changing the Erlang Cookie Value Known Issue](./install-config-pp.html#changing-issue).

### Compatibility

The following components are compatible with this release:

<table class="nice">
    <th>Component</th>
    <th>Version</th>
    <tr>
        <td>Stemcell</td>
        <td>315.x</td>
    </tr>
    <tr>
        <td>PCF</td>
        <td>v2.5.x, v2.6.x, v2.7.x and v2.8.x</td>
    </tr>
    <tr>
        <td>OSS RabbitMQ</td>
        <td><a href="https://github.com/rabbitmq/rabbitmq-server/releases/tag/v3.7.22">v3.7.22</a></td>
    </tr>
    <tr>
        <td>Erlang</td>
        <td>21.3.8.11</td>
    </tr>
    <tr>
        <td>HAProxy</td>
        <td>1.8.23</td>
    </tr>
    <tr>
        <td>bpm</td>
        <td>1.1.6</td>
    </tr>
    <tr>
        <td>service-metrics</td>
        <td>1.12.5</td>
    </tr>
    <tr>
        <td>on-demand-service-broker</td>
        <td>0.36.0</td>
    </tr>
    <tr>
        <td>rabbitmq-metrics</td>
        <td>22.0.0</td>
    </tr>
   <tr>
        <td>rabbitmq-on-demand-adapter</td>
        <td>111.0.0</td>
    </tr>
   <tr>
        <td>cf-rabbitmq-multitenant-broker</td>
        <td>61.0.0</td>
    </tr>
   <tr>
        <td>loggregator-agent</td>
        <td>3.21.5</td>
    </tr>
   <tr>
        <td>routing</td>
        <td>0.196.0</td>
    </tr>
   <tr>
        <td>syslog</td>
        <td>11.6.1</td>
    </tr>
   <tr>
        <td>cf-rabbitmq-smoke-tests</td>
        <td>40.0.0</td>
    </tr>
   <tr>
        <td>cf-rabbitmq</td>
        <td>283.0.0</td>
    </tr>
</table>

## <a id="1-17-4"></a> v1.17.4

**Release Date**: November 22, 2019

### Security Fixes

* High [CVE-2019-17596](https://nvd.nist.gov/vuln/detail/CVE-2019-17596):
Go v1.12.11 and earlier and Go v1.13.2 and earlier can panic when trying to process network traffic that contains an invalid DSA public key.
There are several attack scenarios, such as traffic from a client to a server that verifies client certificates.

* High [CVE-2019-16276](https://nvd.nist.gov/vuln/detail/CVE-2019-16276):
Go v1.12.10 and earlier and Go v1.13.1 and earlier allow HTTP Request Smuggling.

* The update to OSS RabbitMQ v3.7.21 includes security fixes.
For more information about RabbitMQ v3.7.21, see the [RabbitMQ Changelog](https://www.rabbitmq.com/changelog.html).

### Features

New features and changes in this release:

* This release updates the following dependencies:
	* OSS RabbitMQ to <a href="https://github.com/rabbitmq/rabbitmq-server/releases/tag/v3.7.21">v3.7.21</a>
	* Erlang to v21.3.8.10
	* HAProxy to v1.8.22

### Known Issues

This release has the following known issue:

* <b>Upgrading to this patch version from 1.15.x when TLS is enabled, fails the upgrade. This issue is fixed in the next patch release.</b>

* Changing the Erlang Cookie value requires cluster downtime and can result in failed deployments.
For more information about this issue, see [Changing the Erlang Cookie Value Known Issue](./install-config-pp.html#changing-issue).

### Compatibility

The following components are compatible with this release:

<table class="nice">
    <th>Component</th>
    <th>Version</th>
    <tr>
        <td>Stemcell</td>
        <td>315.x</td>
    </tr>
    <tr>
        <td>PCF</td>
        <td>v2.4.x, v2.5.x, v2.6.x and v2.7.x</td>
    </tr>
    <tr>
        <td>OSS RabbitMQ</td>
        <td><a href="https://github.com/rabbitmq/rabbitmq-server/releases/tag/v3.7.21">v3.7.21</a></td>
    </tr>
    <tr>
        <td>Erlang</td>
        <td>21.3.8.10</td>
    </tr>
    <tr>
        <td>HAProxy</td>
        <td>1.8.22</td>
    </tr>
    <tr>
        <td>bpm</td>
        <td>1.1.5</td>
    </tr>
    <tr>
        <td>service-metrics</td>
        <td>1.12.3</td>
    </tr>
    <tr>
        <td>on-demand-service-broker</td>
        <td>0.35.0</td>
    </tr>
    <tr>
        <td>rabbitmq-metrics</td>
        <td>21.0.0</td>
    </tr>
   <tr>
        <td>rabbitmq-on-demand-adapter</td>
        <td>108.0.0</td>
    </tr>
   <tr>
        <td>cf-rabbitmq-multitenant-broker</td>
        <td>60.0.0</td>
    </tr>
   <tr>
        <td>loggregator-agent</td>
        <td>3.21.4</td>
    </tr>
   <tr>
        <td>routing</td>
        <td>0.193.0</td>
    </tr>
   <tr>
        <td>syslog</td>
        <td>11.6.0</td>
    </tr>
   <tr>
        <td>cf-rabbitmq-smoke-tests</td>
        <td>38.0.0</td>
    </tr>
   <tr>
        <td>cf-rabbitmq</td>
        <td>281.0.0</td>
    </tr>
</table>

## <a id="1-17-3"></a> v1.17.3

**Release Date**: October 11, 2019

### Security Fixes

This release includes the following security fixes:

* Critical [CVE-2019-9512](https://nvd.nist.gov/vuln/detail/CVE-2019-9512):
Some HTTP/2 implementations are vulnerable to ping floods, potentially leading to a denial of service.
The attacker sends continual pings to an HTTP/2 peer, causing the peer to build an internal queue of responses.
Depending on how efficiently this data is queued, this can consume excess CPU, memory, or both.

* Critical [CVE-2019-9514](https://nvd.nist.gov/vuln/detail/CVE-2019-9514):
Some HTTP/2 implementations are vulnerable to a reset flood, potentially leading to a denial of service.
The attacker opens a number of streams and sends an invalid request over each stream
that should solicit a stream of RST\_STREAM frames from the peer.
Depending on how the peer queues the RST\_STREAM frames, this can consume excess memory, CPU, or both.

* Critical [CVE-2019-9515](https://nvd.nist.gov/vuln/detail/CVE-2019-9515):
Some HTTP/2 implementations are vulnerable to a settings flood, potentially leading to a denial of service.
The attacker sends a stream of SETTINGS frames to the peer. Since the RFC requires
that the peer reply with one acknowledgement per SETTINGS frame, an empty SETTINGS
frame is almost equivalent in behavior to a ping. Depending on how efficiently this
data is queued, this can consume excess CPU, memory, or both.

* The update to OSS RabbitMQ v3.7.18 includes a security fix.
For more information about RabbitMQ v3.7.18, see the [RabbitMQ Changelog](https://www.rabbitmq.com/changelog.html).

### Features

New features and changes in this release:

* This release uses rolling upgrades to upgrade RabbitMQ nodes to Erlang v21.
Upgrades from previous RabbitMQ for PCF releases
to RabbitMQ for PCF v1.17.3 does not cause cluster downtime.

* This release updates the following dependencies:
  * OSS RabbitMQ to v3.7.18
  * Erlang to v21.3.8.7
  * HAProxy to v1.8.21

### Known Issues

This release has the following known issue:

* Changing the Erlang Cookie value requires cluster downtime and can result in failed deployments.
For more information about this issue, see [Changing the Erlang Cookie Value Known Issue](./install-config-pp.html#changing-issue).

### Compatibility

The following components are compatible with this release:

<table class="nice">
    <th>Component</th>
    <th>Version</th>
    <tr>
        <td>Stemcell</td>
        <td>315.x</td>
    </tr>
    <tr>
        <td><%= vars.platform_name %></td>
        <td>v2.7.x</td>
    </tr>
    <tr>
        <td>PCF</td>
        <td>v2.4.x, v2.5.x, v2.6.x and v2.7.x</td>
    </tr>
    <tr>
        <td>OSS RabbitMQ</td>
        <td><a href="https://github.com/rabbitmq/rabbitmq-server/releases/tag/v3.7.18">v3.7.18</a></td>
    </tr>
    <tr>
        <td>Erlang</td>
        <td>21.3.8.7</td>
    </tr>
    <tr>
        <td>HAProxy</td>
        <td>1.8.21</td>
    </tr>
    <tr>
        <td>bpm</td>
        <td>1.1.3</td>
    </tr>
    <tr>
        <td>service-metrics</td>
        <td>1.12.1</td>
    </tr>
    <tr>
        <td>on-demand-service-broker</td>
        <td>0.33.0</td>
    </tr>
    <tr>
        <td>rabbitmq-metrics</td>
        <td>18.0.0</td>
    </tr>
   <tr>
        <td>rabbitmq-on-demand-adapter</td>
        <td>97.0.0</td>
    </tr>
   <tr>
        <td>cf-rabbitmq-multitenant-broker</td>
        <td>57.0.0</td>
    </tr>
   <tr>
        <td>loggregator-agent</td>
        <td>3.21.1</td>
    </tr>
   <tr>
        <td>routing</td>
        <td>0.188.0</td>
    </tr>
   <tr>
        <td>syslog</td>
        <td>11.4.0</td>
    </tr>
   <tr>
        <td>cf-rabbitmq-smoke-tests</td>
        <td>34.0.0</td>
    </tr>
   <tr>
        <td>cf-rabbitmq</td>
        <td>274.0.0</td>
    </tr>
</table>

## <a id="1-17-1"></a> v1.17.1

**Release Date**: August 27, 2019

<%# The below partial is in https://github.com/pivotal-cf/docs-partials %>
<%= partial '../../rabbitmq-cf/partials/rabbitmq/downtime-breaking-change' %>

### Security Fix

This release includes the following security fix:

* Critical [CVE-2019–9893: libseccomp before 2.4.0 did not correctly generate 64-bit syscall argument comparisons using the arithmetic operators (LT, GT, LE, GE)](https://nvd.nist.gov/vuln/detail/CVE-2019-9893)

### Resolved Issue

This release has the following fix:

* When TLS is enabled, the RabbitMQ Management UI is now accessible from outside PCF.

### Features

New features and changes in this release:

* This release updates the following dependencies:
       * OSS RabbitMQ to v3.7.17
       * Erlang to v21.3.8.6

### Known Issues

This release has the following known issue:

* Changing the Erlang Cookie value requires cluster downtime and can result in failed deployments.
For more information about this issue, see [Changing the Erlang Cookie Value Known Issue](./install-config-pp.html#changing-issue).

### Compatibility

The following components are compatible with this release:

<table class="nice">
    <th>Component</th>
    <th>Version</th>
    <tr>
        <td>Stemcell</td>
        <td>315.x</td>
    </tr>
    <tr>
        <td><%= vars.platform_name %></td>
        <td>v2.7.x</td>
    </tr>
    <tr>
        <td>PCF</td>
        <td>v2.4.x, v2.5.x, v2.6.x and v2.7.x</td>
    </tr>
    <tr>
        <td>OSS RabbitMQ</td>
        <td><a href="https://github.com/rabbitmq/rabbitmq-server/releases/tag/v3.7.17">v3.7.17</a></td>
    </tr>
    <tr>
        <td>Erlang</td>
        <td>21.3.8.6</td>
    </tr>
    <tr>
        <td>HAProxy</td>
        <td>1.8.20</td>
    </tr>
    <tr>
        <td>bpm</td>
        <td>1.1.3</td>
    </tr>
    <tr>
        <td>service-metrics</td>
        <td>1.12.0</td>
    </tr>
    <tr>
        <td>on-demand-service-broker</td>
        <td>0.31.1</td>
    </tr>
    <tr>
        <td>rabbitmq-metrics</td>
        <td>16.0.0</td>
    </tr>
   <tr>
        <td>rabbitmq-on-demand-adapter</td>
        <td>90.0.0</td>
    </tr>
   <tr>
        <td>cf-rabbitmq-multitenant-broker</td>
        <td>56.0.0</td>
    </tr>
   <tr>
        <td>loggregator-agent</td>
        <td>3.21</td>
    </tr>
   <tr>
        <td>routing</td>
        <td>0.188.0</td>
    </tr>
   <tr>
        <td>syslog</td>
        <td>11.4.0</td>
    </tr>
   <tr>
        <td>cf-rabbitmq-smoke-tests</td>
        <td>30.0.0</td>
    </tr>
   <tr>
        <td>cf-rabbitmq</td>
        <td>269.0.0</td>
    </tr>
</table>

## <a id="1-17-0"></a> v1.17.0

**Release Date**: July 18, 2019

<%# The below partial is in https://github.com/pivotal-cf/docs-partials %>
<%= partial '../../rabbitmq-cf/partials/rabbitmq/downtime-breaking-change' %>

### Features

New features and changes in this release:

* You can enable the `rabbitmq_amqp1_0` and the `rabbitmq_stomp` plugins
  for on-demand service instances.
  These plugins are disabled by default.
  For how to enable them, see [Enable Optional Plugins](./use.html#optional-plugins).
* You can enable shareable instances for the pre-provisioned offering independently of the on-demand service.
* This release updates the following dependencies:
	* OSS RabbitMQ to v3.7.15
	* Erlang to v21
	* golang to v1.12.6

### Known Issues

This release has the following known issues:

* Changing the Erlang Cookie value requires cluster downtime and can result in
failed deployments.
For more information about this issue, see [Changing the Erlang Cookie Value Known Issue](./install-config-pp.html#changing-issue).
* You can only upgrade to v1.17.0 from a v1.16 patch. This is in contrast to other v1.17 patches, which you can upgrade to from any v1.15 patch, skipping v1.16.

<%= partial '../../rabbitmq-cf/partials/rabbitmq/ki-management-ui' %>

### Compatibility

The following components are compatible with this release:

<table class="nice">
    <th>Component</th>
    <th>Version</th>
    <tr>
        <td>Stemcell</td>
        <td>315.x</td>
    </tr>
    <tr>
        <td>PCF</td>
        <td>v2.4.x, v2.5.x, and v2.6.x</td>
    </tr>
    <tr>
        <td>OSS RabbitMQ</td>
        <td><a href="https://github.com/rabbitmq/rabbitmq-server/releases/tag/v3.7.15">v3.7.15</a></td>
    </tr>
    <tr>
        <td>Erlang</td>
        <td>21.3.8.3</td>
    </tr>
    <tr>
        <td>HAProxy</td>
        <td>1.8.20</td>
    </tr>
    <tr>
        <td>bpm</td>
        <td>1.0.4</td>
    </tr>
    <tr>
        <td>service-metrics</td>
        <td>1.12.0</td>
    </tr>
    <tr>
        <td>on-demand-service-broker</td>
        <td>0.30.0</td>
    </tr>
    <tr>
        <td>rabbitmq-metrics</td>
        <td>14.0.0</td>
    </tr>
   <tr>
        <td>rabbitmq-on-demand-adapter</td>
        <td>83.0.0</td>
    </tr>
   <tr>
        <td>cf-rabbitmq-multitenant-broker</td>
        <td>54.0.0</td>
    </tr>
   <tr>
        <td>loggregator-agent</td>
        <td>3.17</td>
    </tr>
   <tr>
        <td>routing</td>
        <td>0.188.0</td>
    </tr>
   <tr>
        <td>syslog</td>
        <td>11.4.0</td>
    </tr>
   <tr>
        <td>cf-rabbitmq-smoke-tests</td>
        <td>30.0.0</td>
    </tr>
   <tr>
        <td>cf-rabbitmq</td>
        <td>268.0.0</td>
    </tr>
</table>

## <a id="view"></a> View Release Notes for Another Version

To view the release notes for another product version, select the version from
the dropdown at the top of this page.
