---
title: RabbitMQ for Pivotal Platform Release Notes
owner: London Services
---

<%= partial '../../rabbitmq-cf/partials/branding-change' %>

<%= partial '../../rabbitmq-cf/partials/pcf-name-change' %>

## <a id="1-18-0"></a> v1.18.0

**Release Date**: MMMM DD, 2019

### Features

New features and changes in this release:

* You can configure an on-demand plan that enables service instances to connect to components outside the <%= vars.platform_name %> foundation.
For more information, see [Enabling Service-Gateway Access](./service-gateway-access.html).
* This release uses RabbitMQ 3.8. For more information, see the [repository](https://github.com/rabbitmq/rabbitmq-server/releases/tag/v3.8.0) in GitHub.
* The maximum limit on the number of on-demand service instances has been removed.

### Known Issues

This release has the following known issue:

* When utilized in production, quorum queues might experience downtime during a rolling upgrade.

### Compatibility

The following components are compatible with this release:

<table class="nice">
    <th width="50%">Component</th>
    <th>Version</th>
    <tr>
        <td>Stemcell</td>
        <td>315.x</td>
    </tr>
    <tr>
        <td><%= vars.platform_name %></td>
        <td>2.7</td>
    </tr>
    <tr>
        <td><%= vars.platform_old %></td>
        <td>2.4, 2.5, and 2.6</td>
    </tr>
    <tr>
        <td>OSS RabbitMQ</td>
        <td><a href="https://github.com/rabbitmq/rabbitmq-server/releases/tag/v3.7.15">v3.7.15</a> in GitHub</td>
    </tr>
    <tr>
        <td>Erlang</td>
        <td>21.3.8.3</td>
    </tr>
    <tr>
        <td>HAProxy</td>
        <td>1.8.20</td>
    </tr>
    <tr>
        <td>bpm</td>
        <td>1.0.4</td>
    </tr>
    <tr>
        <td>service-metrics</td>
        <td>1.12.0</td>
    </tr>
    <tr>
        <td>on-demand-service-broker</td>
        <td>0.30.0</td>
    </tr>
    <tr>
        <td>rabbitmq-metrics</td>
        <td>14.0.0</td>
    </tr>
   <tr>
        <td>rabbitmq-on-demand-adapter</td>
        <td>83.0.0</td>
    </tr>
   <tr>
        <td>cf-rabbitmq-multitenant-broker</td>
        <td>54.0.0</td>
    </tr>
   <tr>
        <td>loggregator-agent</td>
        <td>3.17</td>
    </tr>
   <tr>
        <td>routing</td>
        <td>0.188.0</td>
    </tr>
   <tr>
        <td>syslog</td>
        <td>11.4.0</td>
    </tr>
   <tr>
        <td>cf-rabbitmq-smoke-tests</td>
        <td>30.0.0</td>
    </tr>
   <tr>
        <td>cf-rabbitmq</td>
        <td>268.0.0</td>
    </tr>
</table>

## <a id="view"></a> View Release Notes for Another Version

To view the release notes for another product version, select the version from
the dropdown at the top of this page.
