---
title: VMware Tanzu RabbitMQ for VMs Release Notes
owner: London Services
---

<%= partial vars.path_to_partials + '/upgrade-planner' %>

## <a id="1-20-3"></a> v1.20.3

**Release Date**: December 14, 2020

### Features

New features and changes in this release:

* **Option to limit the TLS versions enabled for on-demand instances:**
<%= vars.product_short %> v1.21.0 supports TLS v1.0, v1.1, and v1.2 (default).
Additionally, you can now select the TLS versions to enable in RabbitMQ.
This disables the other TLS versions.<br>
To configure TLS, follow the procedure in [Configure Security](./install-config.html#security).<br>
For more information about disabling TLS versions, see the
[RabbitMQ documentation](https://www.rabbitmq.com/ssl.html#tls-versions-why-limit).

* **Option to add VM extensions to on-demand instances:**
You can provide a list of VM extensions to add to on-demand service instances.
This feature enables you to exclude VMs hosting on-demand service instances from being
dynamically provisioned by an underlying IaaS, among other capabilities.
For more information, see [Configure Global Settings](./install-config.html#global)
in _Installing and Configuring the On-Demand Service_.

* **Includes the UAA URL in service keys and bindings when OAuth is enabled:**
This helps apps to fetch the OAuth token from UAA.

* **Improved internal security for service-gateway:**
For delete operations, the on-demand service broker now communicates with routing
components over mutual TLS.

### Known Issues

This release has the following issue:

<%= partial vars.path_to_partials + "/rabbitmq/erlang-ki" %>
<%= partial vars.path_to_partials + "/rabbitmq/ki-direct-reply-to" %>

### Compatibility

The following components are compatible with this release:

<table class="nice">
  <th>Component</th>
  <th>Version</th>
  <tr>
		<td>Erlang</td>
		<td>23.1.4</td>
	</tr>
	<tr>
		<td>HAProxy</td>
		<td>1.8.27</td>
	</tr>
	<tr>
		<td>OSS RabbitMQ<sup>*</sup></td>
		<td>3.8.9</td>
	</tr>
	<tr>
		<td>Stemcell</td>
		<td>621.x</td>
	</tr>
	<tr>
		<td><%= vars.app_runtime_full %></td>
		<td>2.7.x, 2.8.x, 2.9.x, 2.10.x</td>
	</tr>
	<tr>
		<td>bpm</td>
		<td>1.1.9</td>
	</tr>
	<tr>
		<td>cf-cli</td>
		<td>1.31.0</td>
	</tr>
	<tr>
		<td>cf-rabbitmq</td>
		<td>343.0.0</td>
	</tr>
	<tr>
		<td>cf-rabbitmq-multitenant-broker</td>
		<td>85.0.0</td>
	</tr>
	<tr>
		<td>cf-service-gateway</td>
		<td>28.0.0</td>
	</tr>
	<tr>
		<td>cf-rabbitmq-smoke-tests</td>
		<td>84.0.0</td>
	</tr>
	<tr>
		<td>loggregator-agent</td>
		<td>3.21.5</td>
	</tr>
	<tr>
		<td>on-demand-service-broker</td>
		<td>0.40.0</td>
	</tr>
	<tr>
		<td>rabbitmq-metrics</td>
		<td>40.0.0</td>
	</tr>
	<tr>
		<td>rabbitmq-on-demand-adapter</td>
		<td>162.0.0</td>
	</tr>
	<tr>
		<td>routing</td>
		<td>0.209.0</td>
	</tr>
	<tr>
		<td>service-metrics</td>
		<td>1.12.5</td>
	</tr>
</table>

<sup>*</sup> For more information, see the
<a href="https://github.com/rabbitmq/rabbitmq-server/releases/tag/v3.8.9">v3.8.9</a> GitHub
documentation.

## <a id="1-20-2"></a> v1.20.2

**Release Date**: October 21, 2020

### Resolved Issues

This release has the following fix:

- **rabbitmq-server-metrics BOSH job did not provide memory and disk metrics:**
This issue affected on-demand service instances created in v1.20.0 and v1.20.1 but is
fixed when you upgrade these service instances to v1.20.2.

### Known Issues

This release has the following issue:

<%= partial vars.path_to_partials + "/rabbitmq/erlang-ki" %>
<%= partial vars.path_to_partials + "/rabbitmq/ki-direct-reply-to" %>

### Compatibility

The following components are compatible with this release:

<table class="nice">
	<th>Component</th>
	<th>Version</th>
	<tr>
		<td>Erlang</td>
		<td>23.1.1</td>
	</tr>
	<tr>
		<td>HAProxy</td>
		<td>1.8.26</td>
	</tr>
	<tr>
		<td>OSS RabbitMQ<sup>*</sup></td>
		<td>3.8.9</td>
	</tr>
	<tr>
		<td>Stemcell</td>
		<td>621.x</td>
	</tr>
	<tr>
		<td><%= vars.app_runtime_full %></td>
		<td>2.7.x, 2.8.x, 2.9.x, 2.10.x</td>
	</tr>
	<tr>
		<td>bpm</td>
		<td>1.1.9</td>
	</tr>
	<tr>
		<td>cf-cli</td>
		<td>1.31.0</td>
	</tr>
	<tr>
		<td>cf-rabbitmq</td>
		<td>331.0.0</td>
	</tr>
	<tr>
		<td>cf-rabbitmq-multitenant-broker</td>
		<td>81.0.0</td>
	</tr>
	<tr>
		<td>cf-rabbitmq-service-gateway</td>
		<td>30.0.0</td>
	</tr>
	<tr>
		<td>cf-rabbitmq-smoke-tests</td>
		<td>67.0.0</td>
	</tr>
	<tr>
		<td>loggregator-agent</td>
		<td>3.21.5</td>
	</tr>
	<tr>
		<td>on-demand-service-broker</td>
		<td>0.40.0</td>
	</tr>
	<tr>
		<td>rabbitmq-metrics</td>
		<td>43.0.0</td>
	</tr>
	<tr>
		<td>rabbitmq-on-demand-adapter</td>
		<td>151.0.0</td>
	</tr>
	<tr>
		<td>routing</td>
		<td>0.207.0</td>
	</tr>
	<tr>
		<td>service-metrics</td>
		<td>1.12.5</td>
	</tr>
</table>

<sup>*</sup> For more information, see the
<a href="https://github.com/rabbitmq/rabbitmq-server/releases/tag/v3.8.9">v3.8.9</a> GitHub
documentation.

## <a id="1-20-1"></a> v1.20.1

**Release Date**: September 23, 2020

### Features

New features and changes in this release:

* **Erlang:** Upgraded to v23.0.3.

### Resolved Issues

This release has the following fixes:

- **The on-demand adapter cleanly exits the drain script when the credentials are not present in UAA:**
The drain script now has the correct output for success (0) and failure (non-zero).

- **Accessing the RabbitMQ Management UI:**
You can now access the RabbitMQ Management UI using OAuth2 with a SAML identity provider.

### Known Issues

This release has the following known issues:

<%= partial vars.path_to_partials + "/rabbitmq/erlang-ki" %>
<%= partial vars.path_to_partials + "/rabbitmq/ki-direct-reply-to" %>
- **rabbitmq-server-metrics BOSH job does not provide memory and disk metrics:**
For on-demand service instances created in v1.20.0 and v1.20.1,
the rabbitmq-server-metrics BOSH job does not provide memory and disk metrics.
The following error messsage appears in `/var/vcap/data/sys/log/service-metrics/rabbitmq-server-metrics.log`:

	<pre class="terminal">
	  "source":"rabbitmq-server-metrics","message":"rabbitmq-server-metrics.metrics-fetching-failed","log_level":2,"data":{"error":"GetNode: Error 500 from RabbitMQ: EOF","provider":"APIProvider"}
	</pre>

	and the following error message in `/var/vcap/data/sys/log/rabbitmq-server/rabbit@<BOSH DNS name>.log`:

	<pre class="terminal">
	  [error] <pid> CRASH REPORT Process <pid> with 0 neighbours crashed with reason: {function_clause,[]}
	</pre>

### Compatibility

The following components are compatible with this release:

<table class="nice">
  <th>Component</th>
  <th>Version</th>
  <tr>
		<td>Erlang</td>
		<td>23.0.3</td>
	</tr>
	<tr>
		<td>HAProxy</td>
		<td>1.8.26</td>
	</tr>
	<tr>
		<td>OSS RabbitMQ*</td>
		<td>3.8.8</td>
	</tr>
	<tr>
		<td>Stemcell</td>
		<td>621.x</td>
	</tr>
	<tr>
		<td><%= vars.app_runtime_full %></td>
		<td>2.7.x, 2.8.x, 2.9.x, 2.10.x</td>
	</tr>
	<tr>
		<td>bpm</td>
		<td>1.1.9</td>
	</tr>
	<tr>
		<td>cf-cli</td>
		<td>1.29.0</td>
	</tr>
	<tr>
		<td>cf-rabbitmq</td>
		<td>318.0.0</td>
	</tr>
	<tr>
		<td>cf-rabbitmq-multitenant-broker</td>
		<td>78.0.0</td>
	</tr>
	<tr>
		<td>cf-service-gateway</td>
		<td>28.0.0</td>
	</tr>
	<tr>
		<td>cf-rabbitmq-smoke-tests</td>
		<td>64.0.0</td>
	</tr>
	<tr>
		<td>loggregator-agent</td>
		<td>3.21.5</td>
	</tr>
	<tr>
		<td>on-demand-service-broker</td>
		<td>0.40.0</td>
	</tr>
	<tr>
		<td>rabbitmq-metrics</td>
		<td>40.0.0</td>
	</tr>
	<tr>
		<td>rabbitmq-on-demand-adapter</td>
		<td>145.0.0</td>
	</tr>
	<tr>
		<td>routing</td>
		<td>0.207.0</td>
	</tr>
	<tr>
		<td>service-metrics</td>
		<td>1.12.5</td>
	</tr>
</table>

<sup>*</sup> For more information, see the <a href="https://github.com/rabbitmq/rabbitmq-server/releases/tag/v3.8.8">v3.8.8</a> GitHub documentation.

## <a id="1-20-0"></a> v1.20.0

**Release Date**: August 21, 2020

### Features

New features in this release:

* **Syslog forwarding:** <%= vars.ops_manager %> now manages <%= vars.product_short %> syslog
configuration.
This improvement does not affect syslog configuration for within the tile.
However, for new service instances the default program name is different.
To learn how to configure syslog to keep the log format consistent, see
[Configure Syslog Forwarding](./monitor.html#config)

* **BOSH Hot Swap:** To reduce downtime, on-demand service instances created using
<%= vars.product_short %> v1.20 and later use the `vm_strategy` `create-swap-delete`.
During deployment, IaaS resource usage surges while BOSH creates additional VMs to prepare for
the update. You might need to review resource limits for your IaaS and account.
If your limits are too low, your deployment fails.<br>
On-demand service instances that were created using <%= vars.product_short %> v1.19 or earlier
and upgraded to v1.20 or later continue to use the `vm_strategy` `delete-create`.<br>
For more information about how this affects downtime, see
[BOSH Hot Swap](./upgrade.html#vm-strategy).

<%= partial vars.path_to_partials + '/services/you-can-upgrade-one-si' %>

* **OAuth:** Support for the RabbitMQ OAuth plugin has now arrived in <%= vars.product_short %>.
Users can authenticate with the RabbitMQ Management UI through JWT-encoded OAuth 2.0
access tokens.
For more information about the plugin, see
[rabbitmq-auth-backend-oauth2](https://github.com/rabbitmq/rabbitmq-auth-backend-oauth2) in GitHub.
For how to enable OAuth in <%= vars.product_short %>, see [Enabling OAuth for RabbitMQ](./enable-oauth-for-rabbitmq.html).


### Known Issues

This release has the following known issues:

<%= partial vars.path_to_partials + "/rabbitmq/ki-drain-script" %>
- **Accessing the RabbitMQ Management UI:**
If you are using OAuth2 with a SAML identity provider, you cannot access the RabbitMQ Management UI.
This is fixed in v1.20.1 and later.
- **rabbitmq-server-metrics BOSH job does not provide memory and disk metrics:**
For on-demand service instances created in v1.20.0 and v1.20.1,
the rabbitmq-server-metrics BOSH job does not provide memory and disk metrics.
The following error messsage appears in `/var/vcap/data/sys/log/service-metrics/rabbitmq-server-metrics.log`:

	<pre class="terminal">
	  "source":"rabbitmq-server-metrics","message":"rabbitmq-server-metrics.metrics-fetching-failed","log_level":2,"data":{"error":"GetNode: Error 500 from RabbitMQ: EOF","provider":"APIProvider"}
	</pre>

	and the following error message in `/var/vcap/data/sys/log/rabbitmq-server/rabbit@<BOSH DNS name>.log`:

	<pre class="terminal">
	  [error] <pid> CRASH REPORT Process <pid> with 0 neighbours crashed with reason: {function_clause,[]}
	</pre>

<%= partial vars.path_to_partials + "/rabbitmq/erlang-ki" %>
<%= partial vars.path_to_partials + "/rabbitmq/ki-direct-reply-to" %>

### Compatibility

The following components are compatible with this release:

<table class="nice"> <th>Component</th> <th>Version</th> 	<tr>
		<td>Erlang</td>
		<td>22.3.4</td>
	</tr>
	<tr>
		<td>HAProxy</td>
		<td>1.8.25</td>
	</tr>
	<tr>
		<td>OSS RabbitMQ*</td>
		<td>3.8.5</td>
	</tr>
	<tr>
		<td>Stemcell</td>
		<td>621.x</td>
	</tr>
	<tr>
		<td><%= vars.app_runtime_full %></td>
		<td>2.7.x, 2.8.x, 2.9.x, and 2.10.x</td>
	</tr>
	<tr>
		<td>bpm</td>
		<td>1.1.8</td>
	</tr>
	<tr>
		<td>cf-cli</td>
		<td>1.27.0</td>
	</tr>
	<tr>
		<td>cf-rabbitmq</td>
		<td>312.0.0</td>
	</tr>
	<tr>
		<td>cf-rabbitmq-multitenant-broker</td>
		<td>73.0.0</td>
	</tr>
	<tr>
		<td>cf-service-gateway</td>
		<td>18.0.0</td>
	</tr>
	<tr>
		<td>cf-rabbitmq-smoke-tests</td>
		<td>55.0.0</td>
	</tr>
	<tr>
		<td>loggregator-agent</td>
		<td>3.21.5</td>
	</tr>
	<tr>
		<td>on-demand-service-broker</td>
		<td>0.40.0</td>
	</tr>
	<tr>
		<td>rabbitmq-metrics</td>
		<td>34.0.0</td>
	</tr>
	<tr>
		<td>rabbitmq-on-demand-adapter</td>
		<td>139.0.0</td>
	</tr>
	<tr>
		<td>routing</td>
		<td>0.203.0</td>
	</tr>
	<tr>
		<td>service-metrics</td>
		<td>1.12.5</td>
	</tr></table>

<sup>*</sup> For more information, see the
<a href="https://github.com/rabbitmq/rabbitmq-server/releases/tag/v3.8.5">v3.8.5</a>
GitHub documentation.


## <a id="view"></a> View Release Notes for Another Version
To view the release notes for another product version, select the version from the dropdown at the
top of this page.
