---
title: RabbitMQ&reg; for PCF Release Notes
owner: London Services
---

## <a id="upgrade"></a> Upgrade to the Latest Version

Pivotal recommends that you upgrade to the latest version of your current minor line,
then upgrade to the latest available version of the new minor line.
For example, if you use an older v1.14.x version,
upgrade to the latest v1.14.x version before upgrading to the latest v1.15.x version.

For product versions and upgrade paths,
see the [Product Compatibility Matrix](http://docs.pivotal.io/compatibility-matrix.pdf).

## <a id="deprecation"></a> Pivotal Is Continuing Support for the Pre-Provisioned Service

<%= vars.note_pre_provisioned %>

For information about migrating from the pre-provisioned service to the on-demand
service, see
[About Migrating a Pre-Provisioned Instance to an On-Demand Instance](./ondemand.html#migrating-from-mt).
For instructions on how to install, configure, and deploy RabbitMQ for PCF
as an on-demand service, see <a href="./install-config.html">
Installing and Configuring RabbitMQ for PCF the On-Demand Service</a>.

## <a id="11512"></a> v1.15.12

**Release Date**: August 27, 2019

### Security Fix

This release includes the following security fix:

* Critical [CVE-2019–9893: libseccomp before 2.4.0 did not correctly generate 64-bit syscall argument comparisons using the arithmetic operators (LT, GT, LE, GE)](https://nvd.nist.gov/vuln/detail/CVE-2019-9893)

### Known Issues

This release has the following known issues:

* **[Security Issue]** The method for generating the Erlang cookie is not secure.
  For more information about this security issue, see
    <a href="https://pivotal.io/security/cve-2018-1279">CVE-2018-1279: RabbitMQ cluster compromise due to deterministically generated cookie</a>.
  * If you rely on the tile to generate the cookie by leaving the Erlang cookie
  field blank, see [Security Issue with the Tile Generated Erlang Cookie](./install-config-pp.html#erlang-security-issue).
  * If you have set the Erlang cookie explicitly in the tile configuration,
  you are not affected by this issue.

* Cluster scaling or changing the [Erlang Cookie](./install-config-pp.html#erlang) value requires cluster downtime, and can result in failed deployments.

    For more information, see [Cluster Scaling Known Issue](./install-config-pp.html#scaling-issue) and
[Changing the Erlang Cookie Value Known Issue](./install-config-pp.html#changing-issue).

* Changing networks or IP addresses for the `RabbitMQ Server` job results in a failed deployment.

    For more information, see [Changing Network or IP Addresses Results in a Failed Deployment](./changing-ips.html).

* When errand run rules are set to **When Changed**, Ops Manager might not run the errands when the tile has relevant changes.
  * For more information, see [Managing Errands in Ops Manager](https://docs.pivotal.io/pivotalcf/customizing/managing_errands.html).
  * Pivotal recommends leaving the default run rule set to **On**.

<%= partial '../../rabbitmq-cf/partials/rabbit/ki-shareable-instances' %>

### Packages

* OSS RabbitMQ v3.7.14 - [Release notes](https://github.com/rabbitmq/rabbitmq-server/releases/tag/v3.7.14)
* Erlang v20.3.8.21
* HAProxy v1.8.20

## <a id="11511"></a> v1.15.11

**Release Date**: June 14, 2019

### Resolved Issue

This release has the following fix:

* The pre-provisioned broker now terminates failed TCP connections when unbinding services.
  This prevents the file descriptor limit on the HAProxy and the pre-provisioned
  broker VMs from reaching capacity over time.


### Known Issues

This release has the following known issues:

* **[Security Issue]** The method for generating the Erlang cookie is not secure.
  For more information about this security issue, see
    <a href="https://pivotal.io/security/cve-2018-1279">CVE-2018-1279: RabbitMQ cluster compromise due to deterministically generated cookie</a>.
  * If you rely on the tile to generate the cookie by leaving the Erlang cookie
  field blank, see [Security Issue with the Tile Generated Erlang Cookie](./install-config-pp.html#erlang-security-issue).
  * If you have set the Erlang cookie explicitly in the tile configuration,
  you are not affected by this issue.

* Cluster scaling or changing the [Erlang Cookie](./install-config-pp.html#erlang) value requires cluster downtime, and can result in failed deployments.

    For more information, see [Cluster Scaling Known Issue](./install-config-pp.html#scaling-issue) and
[Changing the Erlang Cookie Value Known Issue](./install-config-pp.html#changing-issue).

* Changing networks or IP addresses for the `RabbitMQ Server` job results in a failed deployment.

    For more information, see [Changing Network or IP Addresses Results in a Failed Deployment](./changing-ips.html).

* When errand run rules are set to **When Changed**, Ops Manager might not run the errands when the tile has relevant changes.
  * For more information, see [Managing Errands in Ops Manager](https://docs.pivotal.io/pivotalcf/customizing/managing_errands.html).
  * Pivotal recommends leaving the default run rule set to **On**.

<%= partial '../../rabbitmq-cf/partials/rabbit/ki-shareable-instances' %>

### Packages

* OSS RabbitMQ v3.7.14 - [Release notes](https://github.com/rabbitmq/rabbitmq-server/releases/tag/v3.7.14)
* Erlang v20.3.8.21
* HAProxy v1.8.20

## <a id="11510"></a> v1.15.10

**Release Date**: May 21, 2019

### Resolved Issue

This release has the following fix:

* The pre-provisioned broker now terminates failed TCP connections for the bind,
  provision, and deprovision broker endpoints.
  This prevents the file descriptor limit on the HAProxy and the pre-provisioned
  broker VMs from reaching capacity over time.

    <p class="note"><strong>Note: </strong>
      TCP connections still fail to terminate when unbinding services.</p>

### Known Issues

This release has the following known issues:

<ul>
<li>The pre-provisioned broker does not terminate failed TCP connections when unbinding services.
  Over time, this can cause the file descriptor limit on the VMs that host HAProxy
  and the pre-provisioned broker to reach capacity:
   <ul>
    <li> When capacity is reached on the HAProxy VM, RabbitMQ is unreachable.</li>
    <li> When capacity is reached on the pre-provisioned broker, app developers cannot create, bind, unbind, or delete service instances.</li>
   </ul>
  To resolve the issue, do one of the following:
   <ul>
   <li> Restart the <code>haproxy</code> or the <code>rabbitmq-service-broker</code> monit job on the VM.
   <li> Increase the file descriptor limit on the VM.
    For how to increase the limit, see the example in
    <a href="https://community.pivotal.io/s/article/unable-to-create-rabbitmq-service-instance">Unable to create RabbitMQ service-instance in PCF "too many open files"</a>
      in the Pivotal Support knowledge base.  </li>
   <li> If the VM is unresponsive, restart it.</li>
   </ul>
</li>
</ul>

* **[Security Issue]** The method for generating the Erlang cookie is not secure.
  For more information about this security issue, see
    <a href="https://pivotal.io/security/cve-2018-1279">CVE-2018-1279: RabbitMQ cluster compromise due to deterministically generated cookie</a>.
  * If you rely on the tile to generate the cookie by leaving the Erlang cookie
  field blank, see [Security Issue with the Tile Generated Erlang Cookie](./install-config-pp.html#erlang-security-issue).
  * If you have set the Erlang cookie explicitly in the tile configuration,
  you are not affected by this issue.

* Cluster scaling or changing the [Erlang Cookie](./install-config-pp.html#erlang) value requires cluster downtime, and can result in failed deployments.

    For more information, see [Cluster Scaling Known Issue](./install-config-pp.html#scaling-issue) and
[Changing the Erlang Cookie Value Known Issue](./install-config-pp.html#changing-issue).

* Changing networks or IP addresses for the `RabbitMQ Server` job results in a failed deployment.

    For more information, see [Changing Network or IP Addresses Results in a Failed Deployment](./changing-ips.html).

* When errand run rules are set to **When Changed**, Ops Manager might not run the errands when the tile has relevant changes.
  * For more information, see [Managing Errands in Ops Manager](https://docs.pivotal.io/pivotalcf/customizing/managing_errands.html).
  * Pivotal recommends leaving the default run rule set to **On**.

<%= partial '../../rabbitmq-cf/partials/rabbit/ki-shareable-instances' %>

### Packages

* OSS RabbitMQ v3.7.14 - [Release notes](https://github.com/rabbitmq/rabbitmq-server/releases/tag/v3.7.14)
* Erlang v20.3.8.20
* HAProxy v1.8.19

## <a id="1159"></a> v1.15.9

**Release Date**: May 17, 2019

### Resolved Issue

This release fixes the following issue:

* RabbitMQ for PCF v1.15.8. could fail to deploy on Pivotal Application Service
(PAS) 2.4.4 and earlier. See [v1.15.8 - Withdrawn](#1158).

### Known Issues

This release has the following known issues:

<%= partial '../../rabbitmq-cf/partials/rabbit/ki-pp-tcp-connections' %>

* **[Security Issue]** The method for generating the Erlang cookie is not secure.
  For more information about this security issue, see
    <a href="https://pivotal.io/security/cve-2018-1279">CVE-2018-1279: RabbitMQ cluster compromise due to deterministically generated cookie</a>.
  * If you rely on the tile to generate the cookie by leaving the Erlang cookie
  field blank, see [Security Issue with the Tile Generated Erlang Cookie](./install-config-pp.html#erlang-security-issue).
  * If you have set the Erlang cookie explicitly in the tile configuration,
  you are not affected by this issue.

* Cluster scaling or changing the [Erlang Cookie](./install-config-pp.html#erlang) value requires cluster downtime, and can result in failed deployments.

    For more information, see [Cluster Scaling Known Issue](./install-config-pp.html#scaling-issue) and
[Changing the Erlang Cookie Value Known Issue](./install-config-pp.html#changing-issue).

* Changing networks or IP addresses for the `RabbitMQ Server` job results in a failed deployment.

    For more information, see [Changing Network or IP Addresses Results in a Failed Deployment](./changing-ips.html).

* When errand run rules are set to **When Changed**, Ops Manager might not run the errands when the tile has relevant changes.
  * For more information, see [Managing Errands in Ops Manager](https://docs.pivotal.io/pivotalcf/customizing/managing_errands.html).
  * Pivotal recommends leaving the default run rule set to **On**.

<%= partial '../../rabbitmq-cf/partials/rabbit/ki-shareable-instances' %>

### Packages

* OSS RabbitMQ v3.7.14
* Erlang v20.3.8.20
* HAProxy v1.8.19

## <a id="1158"></a> v1.15.8 - Withdrawn

**Release Date**: May 3, 2019

**This release has been removed from Pivotal Network** because it can fail to deploy
on PAS v2.4.4 and earlier.
This issue is fixed in RabbitMQ for PCF v1.15.9.

### Features

New features and changes in this release:

* Errands and the pre-provisioned service broker can be deployed over HTTPS.
* Updates OSS RabbitMQ to 3.7.14

### Security Fix

This release includes the following security fix:

* High [CVE-2019-3789: Gorouter allows space developer to hijack route services hosted outside the platform](https://pivotal.io/security/cve-2019-3789)

### Resolved Issue

This release fixes the following issue:

* An issue with service metrics caused zombie processes to accumulate on `rabbitmq-server` VMs.

### Known Issues

This release has the following known issues:

<%= partial '../../rabbitmq-cf/partials/rabbit/ki-pp-tcp-connections' %>

* **[Security Issue]** The method for generating the Erlang cookie is not secure.
 For more information about this security issue, see
   <a href="https://pivotal.io/security/cve-2018-1279">CVE-2018-1279: RabbitMQ cluster compromise due to deterministically generated cookie</a>.
  * If you rely on the tile to generate the cookie by leaving the Erlang cookie
  field blank, see [Security Issue with the Tile Generated Erlang Cookie](./install-config-pp.html#erlang-security-issue).
  * If you have set the Erlang cookie explicitly in the tile configuration,
  you are not affected by this issue.

* Cluster scaling or changing the [Erlang Cookie](./install-config-pp.html#erlang) value requires cluster downtime, and can result in failed deployments.

     For more information, see [Cluster Scaling Known Issue](./install-config-pp.html#scaling-issue) and
[Changing the Erlang Cookie Value Known Issue](./install-config-pp.html#changing-issue).

* Changing networks or IP addresses for the `RabbitMQ Server` job results in a failed deployment.

     For more information, see [Changing Network or IP Addresses Results in a Failed Deployment](./changing-ips.html).

* When errand run rules are set to **When Changed**, Ops Manager might not run the errands when the tile has relevant changes.
  * For more information, see [Managing Errands in Ops Manager](https://docs.pivotal.io/pivotalcf/customizing/managing_errands.html).
  * Pivotal recommends leaving the default run rule set to **On**.

<%= partial '../../rabbitmq-cf/partials/rabbit/ki-shareable-instances' %>

### Packages

* OSS RabbitMQ v3.7.14
* Erlang v20.3.8.20
* HAProxy v1.8.19

## <a id="1157"></a> v1.15.7

**Release Date**: March 28, 2019

### Resolved Issue

This release fixes the following issue:

* Issues with the configuration of pre-provisioned RabbitMQ with external load balancers

### Known Issues

This release has the following known issues:

<%= partial '../../rabbitmq-cf/partials/rabbit/ki-pp-tcp-connections' %>

* **[Security Issue]** The method for generating the Erlang cookie is not secure.
  For more information about this security issue, see
    <a href="https://pivotal.io/security/cve-2018-1279">CVE-2018-1279: RabbitMQ cluster compromise due to deterministically generated cookie</a>.
  * If you rely on the tile to generate the cookie by leaving the Erlang cookie
  field blank, see [Security Issue with the Tile Generated Erlang Cookie](./install-config-pp.html#erlang-security-issue).
  * If you have set the Erlang cookie explicitly in the tile configuration,
  you are not affected by this issue.

* An issue with service metrics causes zombie processes to accumulate on
`rabbitmq-server` VMs.
This can cause the VM to run out of resources and BOSH to restart it.
If this occurs, Pivotal recommends that you stop the `service-metrics` job.
However, if you stop the job, metrics will not be available.

* Cluster scaling or changing the [Erlang Cookie](./install-config-pp.html#erlang) value requires cluster downtime, and can result in failed deployments.

    For more information, see [Cluster Scaling Known Issue](./install-config-pp.html#scaling-issue) and
[Changing the Erlang Cookie Value Known Issue](./install-config-pp.html#changing-issue).

* Changing networks or IP addresses for the `RabbitMQ Server` job results in a failed deployment.

    For more information, see [Changing Network or IP Addresses Results in a Failed Deployment](./changing-ips.html).

* When errand run rules are set to **When Changed**, Ops Manager might not run the errands when the tile has relevant changes.
  * For more information, see [Managing Errands in Ops Manager](https://docs.pivotal.io/pivotalcf/customizing/managing_errands.html).
  * Pivotal recommends leaving the default run rule set to **On**.

<%= partial '../../rabbitmq-cf/partials/rabbit/ki-shareable-instances' %>

### Packages

* OSS RabbitMQ v3.7.13
* Erlang v20.3.8.20
* HAProxy v1.8.19

## <a id="1156"></a> v1.15.6

**Release Date**: March 14, 2019

### Features

New features and changes in this release:

* Adds RabbitMQ 3.7.13

### Known Issues

This release has the following known issues:

<%= partial '../../rabbitmq-cf/partials/rabbit/ki-pp-tcp-connections' %>

* **[Security Issue]** The method for generating the Erlang cookie is not secure.
  For more information about this security issue, see
    <a href="https://pivotal.io/security/cve-2018-1279">CVE-2018-1279: RabbitMQ cluster compromise due to deterministically generated cookie</a>.
  * If you rely on the tile to generate the cookie by leaving the Erlang cookie
  field blank, see [Security Issue with the Tile Generated Erlang Cookie](./install-config-pp.html#erlang-security-issue).
  * If you have set the Erlang cookie explicitly in the tile configuration,
  you are not affected by this issue.

* An issue with service metrics causes zombie processes to accumulate on
  `rabbitmq-server` VMs.
  This can cause the VM to run out of resources and BOSH to restart it.
  If this occurs, Pivotal recommends that you stop the `service-metrics` job.
  However, if you stop the job, metrics will not be available.

* Cluster scaling or changing the [Erlang Cookie](./install-config-pp.html#erlang) value requires cluster downtime, and can result in failed deployments.

    For more information, see [Cluster Scaling Known Issue](./install-config-pp.html#scaling-issue) and
[Changing the Erlang Cookie Value Known Issue](./install-config-pp.html#changing-issue).

* Changing networks or IP addresses for the `RabbitMQ Server` job results in a failed deployment.

    For more information, see [Changing Network or IP Addresses Results in a Failed Deployment](./changing-ips.html).

* When errand run rules are set to **When Changed**, Ops Manager might not run the errands when the tile has relevant changes.
  * For more information, see [Managing Errands in Ops Manager](https://docs.pivotal.io/pivotalcf/customizing/managing_errands.html).
  * Pivotal recommends leaving the default run rule set to **On**.

* There are issues with the configuration of pre-provisioned RabbitMQ with external load balancers.

<%= partial '../../rabbitmq-cf/partials/rabbit/ki-shareable-instances' %>

### Packages

* OSS RabbitMQ v3.7.13
* Erlang v20.3.8.20
* HAProxy v1.8.19

## <a id="1155"></a> v1.15.5

**Release Date**: March 11, 2019

### Features

New features and changes in this release:

* Adds the `recreate-all-service-instances` errand.
For more information, see [Post-Deploy Errands](./install-config.html#post-deploy-errands).

### Known Issues

This release has the following known issues:

<%= partial '../../rabbitmq-cf/partials/rabbit/ki-pp-tcp-connections' %>

* **[Security Issue]** The method for generating the Erlang cookie is not secure.
  For more information about this security issue, see
    <a href="https://pivotal.io/security/cve-2018-1279">CVE-2018-1279: RabbitMQ cluster compromise due to deterministically generated cookie</a>.
  * If you rely on the tile to generate the cookie by leaving the Erlang cookie
  field blank, see [Security Issue with the Tile Generated Erlang Cookie](./install-config-pp.html#erlang-security-issue).
  * If you have set the Erlang cookie explicitly in the tile configuration,
  you are not affected by this issue.

* An issue with service metrics causes zombie processes to accumulate on
  `rabbitmq-server` VMs.
  This can cause the VM to run out of resources and BOSH to restart it.
  If this occurs, Pivotal recommends that you stop the `service-metrics` job.
  However, if you stop the job, metrics will not be available.

* Cluster scaling or changing the [Erlang Cookie](./install-config-pp.html#erlang) value requires cluster downtime, and can result in failed deployments.

    For more information, see [Cluster Scaling Known Issue](./install-config-pp.html#scaling-issue) and
[Changing the Erlang Cookie Value Known Issue](./install-config-pp.html#changing-issue).

* Changing networks or IP addresses for the `RabbitMQ Server` job results in a failed deployment.

    For more information, see [Changing Network or IP Addresses Results in a Failed Deployment](./changing-ips.html).

* When errand run rules are set to **When Changed**, Ops Manager might not run the errands when the tile has relevant changes.
  * For more information, see [Managing Errands in Ops Manager](https://docs.pivotal.io/pivotalcf/customizing/managing_errands.html).
  * Pivotal recommends leaving the default run rule set to **On**.

* There are issues with the configuration of pre-provisioned RabbitMQ with external load balancers.

<%= partial '../../rabbitmq-cf/partials/rabbit/ki-shareable-instances' %>

### Packages

* OSS RabbitMQ v3.7.11
* Erlang v20.3.8.18
* HAProxy v1.8.17

## <a id="1154"></a> v1.15.4

**Release Date**: February 13, 2019

### Features

New features and changes in this release:

* Previously, when multiple Availability Zones (AZ) were selected for a single-node service plan, all instances of that plan would be deployed to the first AZ.
Now the AZ is selected randomly from the configured list. This change does not affect existing instances and only applies to newly created instances.

### Known Issues

This release has the following known issues:

* **[Security Issue]** The method for generating the Erlang cookie is not secure.
  For more information about this security issue, see
    <a href="https://pivotal.io/security/cve-2018-1279">CVE-2018-1279: RabbitMQ cluster compromise due to deterministically generated cookie</a>.
  * If you rely on the tile to generate the cookie by leaving the Erlang cookie
  field blank, see [Security Issue with the Tile Generated Erlang Cookie](./install-config-pp.html#erlang-security-issue).
  * If you have set the Erlang cookie explicitly in the tile configuration,
  you are not affected by this issue.

* An issue with service metrics causes zombie processes to accumulate on
  `rabbitmq-server` VMs.
  This can cause the VM to run out of resources and BOSH to restart it.
  If this occurs, Pivotal recommends that you stop the `service-metrics` job.
  However, if you stop the job, metrics will not be available.

* Cluster scaling or changing the [Erlang Cookie](./install-config-pp.html#erlang) value requires cluster downtime, and can result in failed deployments.

    For more information, see [Cluster Scaling Known Issue](./install-config-pp.html#scaling-issue) and
[Changing the Erlang Cookie Value Known Issue](./install-config-pp.html#changing-issue).

* Changing networks or IP addresses for the `RabbitMQ Server` job results in a failed deployment.

    For more information, see [Changing Network or IP Addresses Results in a Failed Deployment](./changing-ips.html).

* When errand run rules are set to **When Changed**, Ops Manager might not run the errands when the tile has relevant changes.
  * For more information, see [Managing Errands in Ops Manager](https://docs.pivotal.io/pivotalcf/customizing/managing_errands.html).
  * Pivotal recommends leaving the default run rule set to **On**.

<%= partial '../../rabbitmq-cf/partials/rabbit/ki-shareable-instances' %>

### Packages

* OSS RabbitMQ v3.7.11
* Erlang v20.3.8.18
* HAProxy v1.8.17

## <a id="1153"></a> v1.15.3

**Release Date**: December 28, 2018

### Features

New features and changes in this release:

* Scripts to drop and restore AMQP(S) traffic.
  For more information, see [Drop and Restore AMQP(S) Traffic to a RabbitMQ Instance](./troubleshoot.html#drop-restore-traffic).

### Fixed Issue

This release fixes the following issue:

* In RabbitMQ for PCF v1.15.2, the maximum number of file descriptors was not set
  and this limited the maximum number of file descriptors used by RabbitMQ.

### Known Issues

This release has the following known issues:

* **[Security Issue]** The method for generating the Erlang Cookie is not secure.
  For more information about this security issue, see
    <a href="https://pivotal.io/security/cve-2018-1279">CVE-2018-1279: RabbitMQ cluster compromise due to deterministically generated cookie</a>.
  * If you rely on the tile to generate the cookie by leaving the Erlang cookie
  field blank, see [Security Issue with the Tile Generated Erlang Cookie](./install-config-pp.html#erlang-security-issue).
  * If you have set the Erlang Cookie explicitly in the tile configuration,
  you are not affected by this issue.

* Cluster scaling or changing the [Erlang Cookie](./install-config-pp.html#erlang) value requires cluster downtime, and can result in failed deployments.

    For more information, see [Cluster Scaling Known Issue](./install-config-pp.html#scaling-issue) and
[Changing the Erlang Cookie Value Known Issue](./install-config-pp.html#changing-issue).

* Changing networks and/or IP addresses for the `RabbitMQ Server` job results in a failed deployment.

    For more information, see [Changing Network or IP Addresses Results in a Failed Deployment](./changing-ips.html).

* When errand run rules are set to **When Changed**, Ops Manager may not run the errands when the tile has relevant changes.
  * For more information, see [Managing Errands in Ops Manager](https://docs.pivotal.io/pivotalcf/customizing/managing_errands.html).
  * Pivotal recommends leaving the default run rule set to **On**.

<%= partial '../../rabbitmq-cf/partials/rabbit/ki-shareable-instances' %>

### Packages

* OSS RabbitMQ v3.7.9
* Erlang v20.3.8.15
* HAProxy v1.6.13

## <a id="1152"></a> v1.15.2

**Release Date**: December 20, 2018

### Features

New features and changes in this release:

* The "upgrade all service instances" errand defaults to upgrading in parallel.
You can configure this using the **Maximum number of instances upgraded in parallel** field.

    For more information about this field, see [Configure Global Settings](./install-config.html#global).

* Supports the Log Cache cf CLI plugin that enables developers to access logs
for an on-demand service instance using the command `cf tail`.

    For more information about this feature, see
    [Access RabbitMQ Metrics for On-Demand Service Instances](./use.html#log-cache).

* For on-demand service instances, the Erlang cookie and the RabbitMQ admin password are stored in the BOSH Credhub. This requires port 8844 on the BOSH Director to be accessible from the On-Demand Broker.

* The `rabbitmq_consistent_hash_exchange` and `rabbitmq_sharding` plugins are enabled.

    For more information, see [RabbitMQ Server Settings That Cannot Be Disabled](./install-config.html#no-overwrite).

* Adds mutual TLS between service metrics and the Loggregator system.

* Removes credentials from the dashboard URL in the pre-provisioned service.

* The maximum number of on-demand services instances that can be deployed has been increased to 200.

* Set swap to 1 GB for RabbitMQ nodes.

### Known Issues

This release has the following known issues:

* **[Security Issue]** The method for generating the Erlang Cookie is not secure.
  For more information about this security issue, see
    <a href="https://pivotal.io/security/cve-2018-1279">CVE-2018-1279: RabbitMQ cluster compromise due to deterministically generated cookie</a>.
  * If you rely on the tile to generate the cookie by leaving the Erlang cookie
  field blank, see [Security Issue with the Tile Generated Erlang Cookie](./install-config-pp.html#erlang-security-issue).
  * If you have set the Erlang Cookie explicitly in the tile configuration,
  you are not affected by this issue.

* Cluster scaling or changing the [Erlang Cookie](./install-config-pp.html#erlang) value require cluster downtime, and can result in failed deployments.

    For more information, see [Cluster Scaling Known Issue](./install-config-pp.html#scaling-issue) and
[Changing the Erlang Cookie Value Known Issue](./install-config-pp.html#changing-issue).

* Changing networks and/or IP addresses for the `RabbitMQ Server` job results in a failed deployment.

    For more information, see [Changing Network or IP Addresses Results in a Failed Deployment](./changing-ips.html).

* When errand run rules are set to **When Changed**, Ops Manager may not run the errands when the tile has relevant changes.
  * For more information, see [Managing Errands in Ops Manager](https://docs.pivotal.io/pivotalcf/customizing/managing_errands.html).
  * Pivotal recommends leaving the default run rule set to **On**.

* The maximum number of file descriptors is not set.
Therefore, RabbitMQ instances use the default value from the operating system.

<%= partial '../../rabbitmq-cf/partials/rabbit/ki-shareable-instances' %>

### Packages

* OSS RabbitMQ v3.7.9
* Erlang v20.3.8.15
* HAProxy v1.6.13

## <a id="view"></a> View Release Notes for Another Version

To view the release notes for another product version, select the version from
the dropdown at the top of this page.
