---
title: RabbitMQ&reg; for PCF Release Notes
owner: London Services
---

## <a id="upgrade"></a> Upgrade to the Latest Version

<%= partial 'do-not-upgrade' %>

Pivotal recommends that you upgrade to the latest version of your current minor line,
then upgrade to the latest available version of the new minor line.
For example, if you use an older v1.12.x version,
upgrade to the latest v1.12.x version before upgrading to the latest v1.13.x version.

For product versions and upgrade paths,
see the [Product Compatibility Matrix](http://docs.pivotal.io/compatibility-matrix.pdf).

## <a id="deprecation"></a> Pivotal Is Continuing Support for the Pre-Provisioned Service

<%= vars.note_pre_provisioned %>

For information about migrating from the pre-provisioned service to the on-demand
service, see
[About Migrating a Pre-Provisioned Instance to an On-Demand Instance](./ondemand.html#migrating-from-mt).
For instructions on how to install, configure, and deploy RabbitMQ for PCF
as an on-demand service, see <a href="./install-config.html">
Installing and Configuring RabbitMQ for PCF the On-Demand Service</a>.

## <a id="11316"></a> v1.13.16

**Release Date**: March 11, 2019

### Features

New features and changes in this release:

* Adds the `recreate-all-service-instances` errand.
For more information, see [Post-Deploy Errands](./install-config.html#post-deploy-errands).

* Requires [stemcell](https://network.pivotal.io/products/stemcells) 3586.86.

### Known Issues

This release has the following known issues:

* **[Security Issue]** The method for generating the Erlang cookie is not secure.
  For more information about this security issue, see
    <a href="https://pivotal.io/security/cve-2018-1279">CVE-2018-1279: RabbitMQ cluster compromise due to deterministically generated cookie</a>.
  * If you rely on the tile to generate the cookie by leaving the Erlang cookie
  field blank, see [Security Issue with the Tile Generated Erlang Cookie](./install-config-pp.html#erlang-security-issue).
  * If you have set the Erlang cookie explicitly in the tile configuration,
  you are not affected by this issue.

* You cannot upgrade from RabbitMQ for PCF v1.12 to v1.13 on PCF v2.2.0 - v2.2.5.
  You must upgrade on PCF v2.2.6 or later.

* If you are upgrading RabbitMQ for PCF v1.12 to v1.13 and you use Spring Cloud Services,
  you must disable all errands in the Spring Cloud Services tile during the upgrade to ensure that the upgrade succeeds.

* Cluster scaling or changing the Erlang cookie value requires cluster downtime
  and might result in failed deployments. For more information, see [Erlang Cookie](./install-config-pp.html#erlang),
  [Cluster Scaling Known Issue](./install-config-pp.html#scaling-issue),
  and [Changing the Erlang Cookie Value Known Issue](./install-config-pp.html#changing-issue).

* Changing networks or IP addresses for the `RabbitMQ Server` job results in a failed deployment.
  For more information, see [Changing Network or IP Addresses Results in a Failed Deployment](./changing-ips.html).

* When errand run rules are set to **When Changed**, Ops Manager might not run the errands when the tile has relevant changes.
  Pivotal recommends leaving the default run rule set to **On**.
  For more information, see [Managing Errands in Ops Manager](https://docs.pivotal.io/pivotalcf/customizing/managing_errands.html).

### Packages

* OSS RabbitMQ v3.7.11
* Erlang v20.3.8.18
* HAProxy v1.8.17


## <a id="11315"></a> v1.13.15

**Release Date**: February 18, 2019

### Features

New features and changes in this release:

* BOSH Process Manager downgraded to 1.0.2 to resolve the issue introduced in RabbitMQ for PCF 1.13.14
* Requires [stemcell](https://network.pivotal.io/products/stemcells) 3586.79

### Known Issues

This release has the following known issues:

* **[Security Issue]** The method for generating the Erlang cookie is not secure.
  For more information about this security issue, see
    <a href="https://pivotal.io/security/cve-2018-1279">CVE-2018-1279: RabbitMQ cluster compromise due to deterministically generated cookie</a>.
  * If you rely on the tile to generate the cookie by leaving the Erlang cookie
  field blank, see [Security Issue with the Tile Generated Erlang Cookie](./install-config-pp.html#erlang-security-issue).
  * If you have set the Erlang cookie explicitly in the tile configuration,
  you are not affected by this issue.

* You cannot upgrade from RabbitMQ for PCF v1.12 to v1.13 on PCF v2.2.0 - v2.2.5.
  You must upgrade on PCF v2.2.6 or later.

* If you are upgrading RabbitMQ for PCF v1.12 to v1.13 and you use Spring Cloud Services,
  you must disable all errands in the Spring Cloud Services tile during the upgrade to ensure that the upgrade succeeds.

* Cluster scaling or changing the Erlang cookie value requires cluster downtime
  and might result in failed deployments. For more information, see [Erlang Cookie](./install-config-pp.html#erlang),
  [Cluster Scaling Known Issue](./install-config-pp.html#scaling-issue),
  and [Changing the Erlang Cookie Value Known Issue](./install-config-pp.html#changing-issue).

* Changing networks or IP addresses for the `RabbitMQ Server` job results in a failed deployment.
  For more information, see [Changing Network or IP Addresses Results in a Failed Deployment](./changing-ips.html).

* When errand run rules are set to **When Changed**, Ops Manager might not run the errands when the tile has relevant changes.
  Pivotal recommends leaving the default run rule set to **On**.
  For more information, see [Managing Errands in Ops Manager](https://docs.pivotal.io/pivotalcf/customizing/managing_errands.html).

### Packages

* OSS RabbitMQ v3.7.11
* Erlang v20.3.8.18
* HAProxy v1.8.17

## <a id="11314"></a> v1.13.14 - Withdrawn

**Release Date**: February 14, 2019

**This release has been removed** because of incompatibility between the following:

+ BOSH Process Manager (BPM) v1.0.3 and later
+ Trusty stemcells v3586.71 and later
+ Dynatrace Full-Stack Add-on for PCF, all versions

This issue has been fixed in RabbitMQ for PCF 1.13.15.

### Features

New features and changes in this release:

- Requires [stemcell](https://network.pivotal.io/products/stemcells) 3586.71
- Previously, when multiple Availability Zones (AZ) were selected for a single-node service plan,
  all instances of that plan were deployed to the first AZ.
  Now, the AZ is selected randomly from the configured list.
  This change does not affect existing instances and only applies to newly created instances.

### Known Issues

This release has the following known issues:

* **[Security Issue]** The method for generating the Erlang cookie is not secure.
  For more information about this security issue, see
    <a href="https://pivotal.io/security/cve-2018-1279">CVE-2018-1279: RabbitMQ cluster compromise due to deterministically generated cookie</a>.
  * If you rely on the tile to generate the cookie by leaving the Erlang cookie
  field blank, see [Security Issue with the Tile Generated Erlang Cookie](./install-config-pp.html#erlang-security-issue).
  * If you have set the Erlang cookie explicitly in the tile configuration,
  you are not affected by this issue.

* You cannot upgrade from RabbitMQ for PCF v1.12 to v1.13 on PCF v2.2.0 - v2.2.5.
  You must upgrade on PCF v2.2.6 or later.

* If you are upgrading RabbitMQ for PCF v1.12 to v1.13 and you use Spring Cloud Services,
  you must disable all errands in the Spring Cloud Services tile during the upgrade to ensure that the upgrade succeeds.

* Cluster scaling or changing the Erlang cookie value requires cluster downtime
  and might result in failed deployments. For more information, see [Erlang Cookie](./install-config-pp.html#erlang),
  [Cluster Scaling Known Issue](./install-config-pp.html#scaling-issue),
  and [Changing the Erlang Cookie Value Known Issue](./install-config-pp.html#changing-issue).

* Changing networks or IP addresses for the `RabbitMQ Server` job results in a failed deployment.
  For more information, see [Changing Network or IP Addresses Results in a Failed Deployment](./changing-ips.html).

* When errand run rules are set to **When Changed**, Ops Manager may not run the errands when the tile has relevant changes.
  Pivotal recommends leaving the default run rule set to **On**.
  For more information, see [Managing Errands in Ops Manager](https://docs.pivotal.io/pivotalcf/customizing/managing_errands.html).

### Packages

* OSS RabbitMQ v3.7.11
* Erlang v20.3.8.18
* HAProxy v1.8.17

## <a id="11313"></a> v1.13.13

**Release Date**: December 28, 2018

### Features

New features and changes in this release:

- Requires [stemcell](https://network.pivotal.io/products/stemcells) 3586.65
- Scripts to drop and restore AMQP(S) traffic.
  For more information, see [Drop and Restore AMQP(S) Traffic to a RabbitMQ Instance](./troubleshoot.html#drop-restore-traffic).

### Known Issues

This release has the following known issues:

* **[Security Issue]** The method for generating the Erlang Cookie is not secure.
  For more information about this security issue, see
    <a href="https://pivotal.io/security/cve-2018-1279">CVE-2018-1279: RabbitMQ cluster compromise due to deterministically generated cookie</a>.

  * If you rely on the tile to generate the cookie by leaving the Erlang cookie
  field blank, see [Security Issue with the Tile Generated Erlang Cookie](./install-config-pp.html#erlang-security-issue).
  * If you have set the Erlang Cookie explicitly in the tile configuration,
  you are not affected by this issue.

<%= partial 'bpm-issue' %>

* You cannot upgrade from RabbitMQ for PCF v1.12 to v1.13 on PCF v2.2.0 - v2.2.5.
  You must upgrade on PCF v2.2.6 or later.

* If you are upgrading RabbitMQ for PCF v1.12 to v1.13 and you use Spring Cloud Services,
  you must disable all errands in the Spring Cloud Services tile during the upgrade to ensure that the upgrade succeeds.

* Cluster scaling or changing the Erlang cookie value require cluster downtime
  and might result in failed deployments. For more information, see [Erlang Cookie](./install-config-pp.html#erlang),
  [Cluster Scaling Known Issue](./install-config-pp.html#scaling-issue),
  and [Changing the Erlang Cookie Value Known Issue](./install-config-pp.html#changing-issue).

* Changing networks and/or IP addresses for the `RabbitMQ Server` job results in a failed deployment.
  For more information, see [Changing Network or IP Addresses Results in a Failed Deployment](./changing-ips.html).

* When errand run rules are set to **When Changed**, Ops Manager may not run the errands when the tile has relevant changes.
  Pivotal recommends leaving the default run rule set to **On**.
  For more information, see [Managing Errands in Ops Manager](https://docs.pivotal.io/pivotalcf/customizing/managing_errands.html).

### Packages

* OSS RabbitMQ v3.7.9
* Erlang v20.3.8.15
* HAProxy v1.6.13

## <a id="11312"></a> v1.13.12

**Release Date**: December 20, 2018

### Features

New features and changes in this release:

- PCF v2.1 is no longer supported
- Fixed issue where RabbitMQ metrics were not visible on the Loggregator Firehose
  after an upgrade
- Requires [stemcell](https://network.pivotal.io/products/stemcells) 3586.60
- Set swap to 1 GB for RabbitMQ nodes
- Supports the Log Cache cf CLI plugin that enables developers to access logs
  for an on-demand service instance using the command `cf tail`.

  For more information about this feature, see
  [Access RabbitMQ Metrics for On-Demand Service Instances](./use.html#log-cache).

### Known Issues

This release has the following known issues:

* **[Security Issue]** The method for generating the Erlang Cookie is not secure.
  For more information about this security issue, see
    <a href="https://pivotal.io/security/cve-2018-1279">CVE-2018-1279: RabbitMQ cluster compromise due to deterministically generated cookie</a>.
  * If you rely on the tile to generate the cookie by leaving the Erlang cookie
  field blank, see [Security Issue with the Tile Generated Erlang Cookie](./install-config-pp.html#erlang-security-issue).
  * If you have set the Erlang Cookie explicitly in the tile configuration,
  you are not affected by this issue.

<%= partial 'bpm-issue' %>

* You cannot upgrade from RabbitMQ for PCF v1.12 to v1.13 on PCF v2.2.0 - v2.2.5.
  You must upgrade on PCF v2.2.6 or later.

* If you are upgrading RabbitMQ for PCF v1.12 to v1.13 and you use Spring Cloud Services,
  you must disable all errands in the Spring Cloud Services tile during the upgrade to ensure that the upgrade succeeds.

* Cluster scaling or changing the Erlang cookie value require cluster downtime
  and might result in failed deployments. For more information, see [Erlang Cookie](./install-config-pp.html#erlang),
  [Cluster Scaling Known Issue](./install-config-pp.html#scaling-issue),
  and [Changing the Erlang Cookie Value Known Issue](./install-config-pp.html#changing-issue).

* Changing networks and/or IP addresses for the `RabbitMQ Server` job results in a failed deployment.
  For more information, see [Changing Network or IP Addresses Results in a Failed Deployment](./changing-ips.html).

* When errand run rules are set to **When Changed**, Ops Manager may not run the errands when the tile has relevant changes.
  Pivotal recommends leaving the default run rule set to **On**.
  For more information, see [Managing Errands in Ops Manager](https://docs.pivotal.io/pivotalcf/customizing/managing_errands.html).


### Packages

* OSS RabbitMQ v3.7.9
* Erlang v20.3.8.15
* HAProxy v1.6.13

## <a id="11311"></a> v1.13.11

**Release Date**: November 22, 2018

### Security Fixes

This release includes the following security fix:

* Critical [CVE-2018-15759: On Demand Services SDK Timing Attack Vulnerability](https://pivotal.io/security/cve-2018-15759)

### Features

New features and changes in this release:

- Requires [stemcell](https://network.pivotal.io/products/stemcells) 3586.57
- Adds mutual TLS between service metrics and the Loggregator system
- Removes credentials from the dashboard URL in the pre-provisioned service

### Known Issues

This release has the following known issues:

* **[Security Issue]** The method for generating the Erlang Cookie is not secure.
  For more information about this security issue, see
    <a href="https://pivotal.io/security/cve-2018-1279">CVE-2018-1279: RabbitMQ cluster compromise due to deterministically generated cookie</a>.
  * If you rely on the tile to generate the cookie by leaving the Erlang cookie
  field blank, see [Security Issue with the Tile Generated Erlang Cookie](./install-config-pp.html#erlang-security-issue).
  * If you have set the Erlang Cookie explicitly in the tile configuration,
  you are not affected by this issue.

* If you upgrade to RabbitMQ for PCF v1.13, you cannot see RabbitMQ metrics
  on the Loggregator Firehose.
  This issue does not affect new installations.

<%= partial 'bpm-issue' %>

* You cannot upgrade from RabbitMQ for PCF v1.12 to v1.13 on PCF v2.2.0 - v2.2.5.
  You must upgrade on PCF v2.1 or on PCF v2.2.6 or later.

* If you are upgrading RabbitMQ for PCF v1.12 to v1.13 and you use Spring Cloud Services,
  you must disable all errands in the Spring Cloud Services tile during the upgrade to ensure that the upgrade succeeds.

* Cluster scaling or changing the Erlang cookie value require cluster downtime
  and might result in failed deployments. For more information, see [Erlang Cookie](./install-config-pp.html#erlang),
  [Cluster Scaling Known Issue](./install-config-pp.html#scaling-issue),
  and [Changing the Erlang Cookie Value Known Issue](./install-config-pp.html#changing-issue).

* Changing networks and/or IP addresses for the `RabbitMQ Server` job results in a failed deployment.
  For more information, see [Changing Network or IP Addresses Results in a Failed Deployment](./changing-ips.html).

* When errand run rules are set to **When Changed**, Ops Manager may not run the errands when the tile has relevant changes.
  Pivotal recommends leaving the default run rule set to **On**.
  For more information, see [Managing Errands in Ops Manager](https://docs.pivotal.io/pivotalcf/customizing/managing_errands.html).


### Packages

* OSS RabbitMQ v3.7.8
* Erlang v20.3.8.10
* HAProxy v1.6.13

## <a id="11310"></a> v1.13.10

**Release Date**: November 1, 2018

### Features

New features and changes in this release:

- Requires [stemcell](https://network.pivotal.io/products/stemcells) 3586.52
- Smoke tests are now more resilient when using external load balancers.

### Known Issues

This release has the following known issues:

* **[Security Issue]** The method for generating the Erlang Cookie is not secure.
  For more information about this security issue, see
    <a href="https://pivotal.io/security/cve-2018-1279">CVE-2018-1279: RabbitMQ cluster compromise due to deterministically generated cookie</a>.
  * If you rely on the tile to generate the cookie by leaving the Erlang cookie
  field blank, see [Security Issue with the Tile Generated Erlang Cookie](./install-config-pp.html#erlang-security-issue).
  * If you have set the Erlang Cookie explicitly in the tile configuration,
  you are not affected by this issue.

<%= partial 'bpm-issue' %>

* You cannot upgrade from RabbitMQ for PCF v1.12 to v1.13 on PCF v2.2.0 - v2.2.5.
  You must upgrade on PCF v2.1 or on PCF v2.2.6 or later.

* If you are upgrading RabbitMQ for PCF v1.12 to v1.13 and you use Spring Cloud Services,
  you must disable all errands in the Spring Cloud Services tile during the upgrade to ensure that the upgrade succeeds.

* Cluster scaling or changing the Erlang cookie value require cluster downtime
  and might result in failed deployments. For more information, see [Erlang Cookie](./install-config-pp.html#erlang),
  [Cluster Scaling Known Issue](./install-config-pp.html#scaling-issue),
  and [Changing the Erlang Cookie Value Known Issue](./install-config-pp.html#changing-issue).

* Changing networks and/or IP addresses for the `RabbitMQ Server` job results in a failed deployment.
  For more information, see [Changing Network or IP Addresses Results in a Failed Deployment](./changing-ips.html).

* When errand run rules are set to **When Changed**, Ops Manager may not run the errands when the tile has relevant changes.
  Pivotal recommends leaving the default run rule set to **On**.
  For more information, see [Managing Errands in Ops Manager](https://docs.pivotal.io/pivotalcf/customizing/managing_errands.html).


### Packages

* OSS RabbitMQ v3.7.8
* Erlang v20.3.8.9
* HAProxy v1.6.13

## <a id="1138"></a> v1.13.8

**Release Date**: October 5, 2018

### Features

Changes in this release:

- Requires [stemcell](https://network.pivotal.io/products/stemcells) 3586.46
- RabbitMQ updated to 3.7.8
- Erlang updated to v20.3.8.9

### Known Issues

This release has the following known issues:

* **[Security Issue]** The method for generating the Erlang Cookie is not secure.
  For more information about this security issue, see
    <a href="https://pivotal.io/security/cve-2018-1279">CVE-2018-1279: RabbitMQ cluster compromise due to deterministically generated cookie</a>.
  * If you rely on the tile to generate the cookie by leaving the Erlang cookie
  field blank, see [Security Issue with the Tile Generated Erlang Cookie](./install-config-pp.html#erlang-security-issue).
  * If you have set the Erlang Cookie explicitly in the tile configuration,
  you are not affected by this issue.

<%= partial 'bpm-issue' %>

* You cannot upgrade from RabbitMQ for PCF v1.12 to v1.13 on PCF v2.2.0 - v2.2.5.
  You must upgrade on PCF v2.1 or on PCF v2.2.6 or later.

* If you are upgrading RabbitMQ for PCF v1.12 to v1.13 and you use Spring Cloud Services,
  you must disable all errands in the Spring Cloud Services tile during the upgrade to ensure that the upgrade succeeds.

* Cluster scaling or changing the Erlang cookie value require cluster downtime
  and might result in failed deployments. For more information, see [Erlang Cookie](./install-config-pp.html#erlang),
  [Cluster Scaling Known Issue](./install-config-pp.html#scaling-issue),
  and [Changing the Erlang Cookie Value Known Issue](./install-config-pp.html#changing-issue).

* Changing networks and/or IP addresses for the `RabbitMQ Server` job results in a failed deployment.
  For more information, see [Changing Network or IP Addresses Results in a Failed Deployment](./changing-ips.html).

* When errand run rules are set to **When Changed**, Ops Manager may not run the errands when the tile has relevant changes.
  Pivotal recommends leaving the default run rule set to **On**.
  For more information, see [Managing Errands in Ops Manager](https://docs.pivotal.io/pivotalcf/customizing/managing_errands.html).


### Packages

* OSS RabbitMQ v3.7.8
* Erlang v20.3.8.9
* HAProxy v1.6.13

## <a id="1137"></a> v1.13.7 - Withdrawn

**Release Date**: September 13, 2018

**This release has been removed from Pivotal Network** because of an issue with open source RabbitMQ v3.7.7.

### Features

New features and changes in this release:

- Requires [stemcell](https://network.pivotal.io/products/stemcells) 3586.42
- Smoke tests now wait up to 5 minutes for a test app to deploy.

### Known Issues

This release has the following known issues:

* **[Security Issue]** The method for generating the Erlang Cookie is not secure.
  For more information about this security issue, see
    <a href="https://pivotal.io/security/cve-2018-1279">CVE-2018-1279: RabbitMQ cluster compromise due to deterministically generated cookie</a>.
  * If you rely on the tile to generate the cookie by leaving the Erlang cookie
  field blank, see [Security Issue with the Tile Generated Erlang Cookie](./install-config-pp.html#erlang-security-issue).
  * If you have set the Erlang Cookie explicitly in the tile configuration,
  you are not affected by this issue.

<%= partial 'bpm-issue' %>

* You cannot upgrade from RabbitMQ for PCF v1.12 to v1.13 on PCF v2.2.0 - v2.2.5.
  You must upgrade on PCF v2.1 or on PCF v2.2.6 or later.

* If you are upgrading RabbitMQ for PCF v1.12 to v1.13 and you use Spring Cloud Services,
  you must disable all errands in the Spring Cloud Services tile during the upgrade to ensure that the upgrade succeeds.

* Cluster scaling or changing the Erlang cookie value require cluster downtime
  and might result in failed deployments. For more information, see [Erlang Cookie](./install-config-pp.html#erlang),
  [Cluster Scaling Known Issue](./install-config-pp.html#scaling-issue),
  and [Changing the Erlang Cookie Value Known Issue](./install-config-pp.html#changing-issue).

* Changing networks and/or IP addresses for the `RabbitMQ Server` job results in a failed deployment.
  For more information, see [Changing Network or IP Addresses Results in a Failed Deployment](./changing-ips.html).

* When errand run rules are set to **When Changed**, Ops Manager may not run the errands when the tile has relevant changes.
  Pivotal recommends leaving the default run rule set to **On**.
  For more information, see [Managing Errands in Ops Manager](https://docs.pivotal.io/pivotalcf/customizing/managing_errands.html).


### Packages

* OSS RabbitMQ v3.7.7
* Erlang v20.3.8.6
* HAProxy v1.6.13


## <a id="1132"></a> v1.13.3

**Release Date**: August 20, 2018

### Features

Change in this release:

+ Requires stemcell [3586.36](https://github.com/cloudfoundry/bosh-linux-stemcell-builder/releases/tag/stable-3586.36)

### Known Issues

This release has the following known issues:

* **[Security Issue]** The method for generating the Erlang Cookie is not secure.
  For more information about this security issue, see
    <a href="https://pivotal.io/security/cve-2018-1279">CVE-2018-1279: RabbitMQ cluster compromise due to deterministically generated cookie</a>.
  * If you rely on the tile to generate the cookie by leaving the Erlang cookie
  field blank, see [Security Issue with the Tile Generated Erlang Cookie](./install-config-pp.html#erlang-security-issue).
  * If you have set the Erlang Cookie explicitly in the tile configuration,
  you are not affected by this issue.

<%= partial 'bpm-issue' %>

* You cannot upgrade from RabbitMQ for PCF v1.12 to v1.13 on PCF v2.2.0 - v2.2.5.
  You must upgrade on PCF v2.1 or on PCF v2.2.6 or later.

* If you are upgrading RabbitMQ for PCF v1.12 to v1.13 and you use Spring Cloud Services,
  you must disable all errands in the Spring Cloud Services tile during the upgrade to ensure that the upgrade succeeds.

* Cluster scaling or changing the Erlang cookie value require cluster downtime
  and might result in failed deployments. For more information, see [Erlang Cookie](./install-config-pp.html#erlang), [Cluster Scaling Known Issue](./install-config-pp.html#scaling-issue), and [Changing the Erlang Cookie Value Known Issue](./install-config-pp.html#changing-issue).

* Changing networks and/or IP addresses for the `RabbitMQ Server` job results in a failed deployment.
  For more information, see [Changing Network or IP Addresses Results in a Failed Deployment](./changing-ips.html).

* When errand run rules are set to **When Changed**, Ops Manager may not run the errands when the tile has relevant changes.
  Pivotal recommends leaving the default run rule set to **On**.
  For more information, see [Managing Errands in Ops Manager](https://docs.pivotal.io/pivotalcf/customizing/managing_errands.html).


### Packages

* OSS RabbitMQ v3.7.7
* Erlang v20.3.8.1
* HAProxy v1.6.13


## <a id="1132"></a> v1.13.2

**Release Date**: August 3, 2018

### Features

New features and changes in this release:

* VCAP_SERVICES now contains the correct port when TLS is enabled for an on-demand instance
* On-demand smoke tests now time out after one hour
* Stemcell updated to 3586.26

### Known Issues

This release has the following known issues:

* **[Security Issue]** The method for generating the Erlang Cookie is not secure.
  For more information about this security issue, see
    <a href="https://pivotal.io/security/cve-2018-1279">CVE-2018-1279: RabbitMQ cluster compromise due to deterministically generated cookie</a>.
  * If you rely on the tile to generate the cookie by leaving the Erlang cookie
  field blank, see [Security Issue with the Tile Generated Erlang Cookie](./install-config-pp.html#erlang-security-issue).
  * If you have set the Erlang Cookie explicitly in the tile configuration,
  you are not affected by this issue.

<%= partial 'bpm-issue' %>

* You cannot upgrade from RabbitMQ for PCF v.12 to v1.13 on PCF v2.2.0 - v2.2.5.
  You must upgrade on PCF v2.1 or on PCF v2.2.6 or later.

* If you are upgrading RabbitMQ for PCF v1.12 to v1.13 and you use Spring Cloud Services,
  you must disable all errands in the Spring Cloud Services tile during the upgrade to ensure that the upgrade succeeds.

* Cluster scaling or changing the Erlang cookie value require cluster downtime
  and might result in failed deployments. For more information, see [Erlang Cookie](./install-config-pp.html#erlang), [Cluster Scaling Known Issue](./install-config-pp.html#scaling-issue), and [Changing the Erlang Cookie Value Known Issue](./install-config-pp.html#changing-issue).

* Changing networks and/or IP addresses for the `RabbitMQ Server` job results in a failed deployment.
  For more information, see [Changing Network or IP Addresses Results in a Failed Deployment](./changing-ips.html).

* When errand run rules are set to **When Changed**, Ops Manager may not run the errands when the tile has relevant changes.
  Pivotal recommends leaving the default run rule set to **On**.
  For more information, see [Managing Errands in Ops Manager](https://docs.pivotal.io/pivotalcf/customizing/managing_errands.html).


### Packages

* OSS RabbitMQ v3.7.7
* Erlang v20.3.8.1
* HAProxy v1.6.13

## <a id="1130"></a> v1.13.0

**Release Date**: July 20, 2018

### Features

New features and changes in this release:

* Supports securing communication between apps and on-demand
service instances using Transport Layer Security (TLS).
For more information, see [Preparing for TLS](./prepare-tls.html).
For ease of upgrade from previous versions, this functionality is turned off by default.

* Includes open source RabbitMQ v3.7.
  This version includes many improvements.
  For information about what is new in RabbitMQ v3.7,
  see the [RabbitMQ documentation](http://www.rabbitmq.com/blog/2018/02/05/whats-new-in-rabbitmq-3-7/).
  The path to upgrade the pre-provisioned service to v3.7 requires manual intervention,
  and the path to upgrade the on-demand service requires removing preexisting instances.
  For information, see [Upgrading RabbitMQ for PCF](upgrade.html).

* Smoke tests for the on-demand broker now use the system org, as is already the case for multi-tenant.

### Known Issues

This release has the following known issues:

* **[Security Issue]** The method for generating the Erlang Cookie is not secure.
  For more information about this security issue, see
    <a href="https://pivotal.io/security/cve-2018-1279">CVE-2018-1279: RabbitMQ cluster compromise due to deterministically generated cookie</a>.
  * If you rely on the tile to generate the cookie by leaving the Erlang cookie
  field blank, see [Security Issue with the Tile Generated Erlang Cookie](./install-config-pp.html#erlang-security-issue).
  * If you have set the Erlang Cookie explicitly in the tile configuration,
  you are not affected by this issue.

<%= partial 'bpm-issue' %>

* You cannot upgrade from PCF v.12 to PCF v1.13 on PCF v2.2.0 - v2.2.5.
  You must upgrade on PCF v2.1 or on PCF v2.2.6 or later.

* If you are upgrading RabbitMQ for PCF v1.12 to v1.13 and you use Spring Cloud Services,
  you must disable all errands in the Spring Cloud Services tile during the upgrade to ensure that the upgrade succeeds.

* Cluster scaling or changing the [Erlang Cookie](./install-config-pp.html#erlang) value require cluster downtime,
  and might result in failed deployments.
  For more information, see [Cluster Scaling Known Issue](./install-config-pp.html#scaling-issue) and
[Changing the Erlang Cookie Value Known Issue](./install-config-pp.html#changing-issue).

* Changing networks and/or IP addresses for the `RabbitMQ Server` job results in a failed deployment.
  For more information, see [Changing Network or IP Addresses Results in a Failed Deployment](./changing-ips.html).

* When errand run rules are set to **When Changed**, Ops Manager may not run the errands when the tile has relevant changes.
  For more information, see [Managing Errands in Ops Manager](https://docs.pivotal.io/pivotalcf/customizing/managing_errands.html).
  Pivotal recommends leaving the default run rule set to **On**.

* When on-demand service instances are enabled for TLS, the `port` property in
  `VCAP_SERVICES` for `amqp+ssl` incorrectly reports that the port is `5672`.
  The actual port used for `amqp+ssl` is `5671`.


### Packages

* OSS RabbitMQ v3.7.7
* Erlang v20.3.8.1
* HAProxy v1.6.13

## <a id="view"></a> View Release Notes for Another Version

To view the release notes for another product version, select the version from
the dropdown at the top of this page.
