---
title: RabbitMQ for Pivotal Platform Release Notes
owner: London Services
---

<%= partial vars.path_to_partials + '/branding-change' %>

<%= partial vars.path_to_partials + '/pcf-name-change' %>

## <a id="upgrade"></a> Upgrade to the Latest Version

For <%= vars.product_short %> v1.15 and v1.16, you can skip a 
minor version when you upgrade.

For example:

| If you are on...  | Upgrade to...  |
|---|---|
| v1.16  | 1.18  |
| v1.15  | v1.17  |


If you are upgrading a version other than v1.16 or v1.15, do not 
skip minor versions.

<%= partial vars.path_to_partials + '/upgrade-planner' %>

## <a id="1-18-2"></a> v1.18.4

**Release Date**: March 19, 2020

### Security Fix

This release includes the following security fix:

* High [CVE-2020-9283](https://nvd.nist.gov/vuln/detail/CVE-2020-9283)

### Features

New features and changes in this release:

* You can upgrade <%= vars.product_short %> from v1.16 to v1.18.4 and later.
Pivotal recommends upgrading from the latest v1.16 release to the latest v1.18 release.
You can skip v1.17 in this case to save time.
<p class="note">
	<strong>Note:</strong> Pivotal discourages other upgrade paths that skip a release,
	such as v1.14 to v1.16 or v1.15 to v1.18, because they are untested.
</p>

* This release updates the following dependencies:

  * OSS RabbitMQ to v3.8.3. For more information, see the
	[RabbitMQ v3.8.3](https://github.com/rabbitmq/rabbitmq-server/releases/tag/v3.8.3)
	GitHub documentation.
  * Erlang to v22.2.8
  * HAProxy to v1.8.24

### Resolved Issues

This release fixes the following issues:

* Post-deploy scripts for the on-demand broker no longer fail because of a timing issue.

### Known Issues

This release has the following known issues:

* When used in production, quorum queues might experience downtime during a rolling upgrade.
* Changing the Erlang Cookie value requires cluster downtime and can result in failed deployments.
For more information, see [Changing the Erlang Cookie Value Known Issue](./install-config-pp.html#changing-issue).

### Compatibility

The following components are compatible with this release:

<table class="nice">
    <th width="50%">Component</th>
    <th>Version</th>
    <tr>
        <td>Stemcell</td>
        <td>621.x</td>
    </tr>
    <tr>
        <td><%= vars.platform_name %></td>
        <td>2.7, 2.8 and 2.9</td>
    </tr>
    <tr>
        <td><%= vars.platform_old %></td>
        <td>2.5 and 2.6</td>
    </tr>
    <tr>
        <td>OSS RabbitMQ</td>
        <td>3.8.3*</td>
    </tr>
    <tr>
        <td>Erlang</td>
        <td>22.2.8</td>
    </tr>
    <tr>
        <td>HAProxy</td>
        <td>1.8.24</td>
    </tr>
    <tr>
        <td>bpm</td>
        <td>1.1.7</td>
    </tr>
    <tr>
        <td>service-metrics</td>
        <td>1.12.5</td>
    </tr>
    <tr>
        <td>on-demand-service-broker</td>
        <td>0.38.0</td>
    </tr>
    <tr>
        <td>rabbitmq-metrics</td>
        <td>23.0.0</td>
    </tr>
   <tr>
        <td>rabbitmq-on-demand-adapter</td>
        <td>115.0.0</td>
    </tr>
   <tr>
        <td>cf-rabbitmq-service-gateway</td>
        <td>9.0.0</td>
    </tr>
   <tr>
        <td>cf-rabbitmq-multitenant-broker</td>
        <td>64.0.0</td>
    </tr>
   <tr>
        <td>loggregator-agent</td>
        <td>3.21.5</td>
    </tr>
   <tr>
        <td>routing</td>
        <td>0.199.0</td>
    </tr>
   <tr>
        <td>syslog</td>
        <td>11.6.1</td>
    </tr>
   <tr>
        <td>cf-rabbitmq-smoke-tests</td>
        <td>44.0.0</td>
    </tr>
   <tr>
        <td>cf-rabbitmq</td>
        <td>288.0.0</td>
    </tr>
</table>
<sup>*</sup> For more information, see the <a href="https://github.com/rabbitmq/rabbitmq-server/releases/tag/v3.8.3">v3.8.3</a> GitHub documentation.

## <a id="1-18-3"></a> v1.18.3

**Release Date**: January 10, 2020

### Resolved Issues

This release fixes the following issues:

* These upgrade paths, each starting from v1.15.x with TLS set to optional, no longer fail:
  - v1.15.x to v1.17.0 to v1.18.3
  - v1.15.x to v1.17.1 to v1.18.3
  - v1.15.x to v1.17.3 to v1.18.3

* On platform on-demand service instances, created with a service-gateway-enabled plan, no longer fail to
connect when using the MQTT and STOMP protocols.
For more information, see [Service-Gateway Access (Beta)](./service-gateway-access.html) and
[RabbitMQ Server Plugins](./install-config.html#server-plugins).

### Known Issues

This release has the following known issues:

* When used in production, quorum queues might experience downtime during a rolling upgrade.
* Changing the Erlang Cookie value requires cluster downtime and can result in failed deployments.
For more information, see [Changing the Erlang Cookie Value Known Issue](./install-config-pp.html#changing-issue).

<%= partial vars.path_to_partials + "/rabbitmq/ki-post-deploy-scripts" %>

### Compatibility

The following components are compatible with this release:

<table class="nice">
    <th width="50%">Component</th>
    <th>Version</th>
    <tr>
        <td>Stemcell</td>
        <td>621.x</td>
    </tr>
    <tr>
        <td><%= vars.platform_name %></td>
        <td>2.7 and 2.8</td>
    </tr>
    <tr>
        <td><%= vars.platform_old %></td>
        <td>2.5 and 2.6</td>
    </tr>
    <tr>
        <td>OSS RabbitMQ</td>
        <td>3.8.2*</td>
    </tr>
    <tr>
        <td>Erlang</td>
        <td>22.1.8</td>
    </tr>
    <tr>
        <td>HAProxy</td>
        <td>1.8.23</td>
    </tr>
    <tr>
        <td>bpm</td>
        <td>1.1.6</td>
    </tr>
    <tr>
        <td>service-metrics</td>
        <td>1.12.5</td>
    </tr>
    <tr>
        <td>on-demand-service-broker</td>
        <td>0.36.0</td>
    </tr>
   <tr>
        <td>cf-rabbitmq-service-gateway</td>
        <td>4.0.0</td>
    </tr>
    <tr>
        <td>rabbitmq-metrics</td>
        <td>22.0.0</td>
    </tr>
   <tr>
        <td>rabbitmq-on-demand-adapter</td>
        <td>111.0.0</td>
    </tr>
   <tr>
        <td>cf-rabbitmq-multitenant-broker</td>
        <td>61.0.0</td>
    </tr>
   <tr>
        <td>loggregator-agent</td>
        <td>3.21.5</td>
    </tr>
   <tr>
        <td>routing</td>
        <td>0.196.0</td>
    </tr>
   <tr>
        <td>syslog</td>
        <td>11.6.1</td>
    </tr>
   <tr>
        <td>cf-rabbitmq-smoke-tests</td>
        <td>40.0.0</td>
    </tr>
   <tr>
        <td>cf-rabbitmq</td>
        <td>283.0.0</td>
    </tr>
</table>
<sup>*</sup> For more information, see the <a href="https://github.com/rabbitmq/rabbitmq-server/releases/tag/v3.8.2">v3.8.2</a> GitHub documentation.

## <a id="1-18-2"></a> v1.18.2

**Release Date**: December 17, 2019

### Features

New features and changes in this release:

* Operators can configure an on-demand plan that enables service instances to connect to components outside
the <%= vars.platform_name %> foundation through AMQP.
For more information, see [Enabling Service-Gateway Access (Beta)](./service-gateway-access.html).
This functionality is planned for other supported protocols in later releases.
* This release uses RabbitMQ v3.8.2.
  For more information, see [RabbitMQ 3.8.2](https://github.com/rabbitmq/rabbitmq-server/releases/tag/v3.8.2) in GitHub.
* This version supports quorum queues. For more information about quorum queues, see the
[RabbitMQ documentation](https://www.rabbitmq.com/quorum-queues.html).
* Previously, operators could not set an upper limit on the number of on-demand service instances higher than 200.
This restriction has been removed.

<p class="note warning">
  <strong>Warning:</strong> Usernames and passwords are removed from the RabbitMQ dashboard URL in a service
  binding because of a potential XSS vector.
  For more information, see this <a href="https://github.com/rabbitmq/rabbitmq-management/pull/748">Remove
  direct login route pull request</a> in GitHub.<br>
  This means users are no longer automatically logged in when navigating to the dashboard URL.
  Instead, the user must explicitly enter their username and password on the RabbitMQ dashboard login page.
</p>

### Known Issues

This release has the following known issues:

* When used in production, quorum queues might experience downtime during a rolling upgrade.
* Changing the Erlang Cookie value requires cluster downtime and can result in failed deployments.
For more information about this issue, see [Changing the Erlang Cookie Value Known Issue](./install-config-pp.html#changing-issue).

<%= partial vars.path_to_partials + "/rabbitmq/ki-post-deploy-scripts" %>

### Compatibility

The following components are compatible with this release:

<table class="nice">
    <th width="50%">Component</th>
    <th>Version</th>
    <tr>
        <td>Stemcell</td>
        <td>621.x</td>
    </tr>
    <tr>
        <td><%= vars.platform_name %></td>
        <td>2.7 and 2.8</td>
    </tr>
    <tr>
        <td><%= vars.platform_old %></td>
        <td>2.5 and 2.6</td>
    </tr>
    <tr>
        <td>OSS RabbitMQ</td>
        <td>3.8.2*</td>
    </tr>
    <tr>
        <td>Erlang</td>
        <td>22.1.8</td>
    </tr>
    <tr>
        <td>HAProxy</td>
        <td>1.8.23</td>
    </tr>
    <tr>
        <td>bpm</td>
        <td>1.1.6</td>
    </tr>
    <tr>
        <td>service-metrics</td>
        <td>1.12.5</td>
    </tr>
    <tr>
        <td>on-demand-service-broker</td>
        <td>0.36.0</td>
    </tr>
   <tr>
        <td>cf-rabbitmq-service-gateway</td>
        <td>4.0.0</td>
    </tr>
    <tr>
        <td>rabbitmq-metrics</td>
        <td>22.0.0</td>
    </tr>
   <tr>
        <td>rabbitmq-on-demand-adapter</td>
        <td>109.0.0</td>
    </tr>
   <tr>
        <td>cf-rabbitmq-multitenant-broker</td>
        <td>61.0.0</td>
    </tr>
   <tr>
        <td>loggregator-agent</td>
        <td>3.21.5</td>
    </tr>
   <tr>
        <td>routing</td>
        <td>0.196.0</td>
    </tr>
   <tr>
        <td>syslog</td>
        <td>11.6.1</td>
    </tr>
   <tr>
        <td>cf-rabbitmq-smoke-tests</td>
        <td>40.0.0</td>
    </tr>
   <tr>
        <td>cf-rabbitmq</td>
        <td>283.0.0</td>
    </tr>
    <tr>
        <td>cf-rabbitmq-service-gateway</td>
        <td>4.0.0</td>
    </tr>
</table>
<sup>*</sup> For more information, see the <a href="https://github.com/rabbitmq/rabbitmq-server/releases/tag/v3.8.2">v3.8.2</a> GitHub documentation.

## <a id="view"></a> View Release Notes for Another Version

To view the release notes for another product version, select the version from the dropdown at the top of this
page.
