---
title: Service-Gateway Access for On-Demand (Beta)
owner: RabbitMQ
---

This topic describes how to configure an on-demand plan with service-gateway
access for <%= vars.product_full %> service instances.
Service-gateway access enables a RabbitMQ service instance to connect to components
that are either on another <%= vars.platform_name %> foundation or not on a <%= vars.platform_name %> foundation.

## <a id='overview'></a> Overview

There are multiple use cases for service-gateway RabbitMQ access, for example:

- Accessing RabbitMQ from apps deployed to <%= vars.app_runtime_full %> in a different <%= vars.platform_name %> foundation
- Replicating messages between RabbitMQ clusters in different <%= vars.platform_name %> foundations,
for example, to set up federation for disaster recovery
- Enabling legacy apps to communicate with <%= vars.app_runtime %>-deployed apps through RabbitMQ
- Using <%= vars.product_short %> as a way to deploy and manage RabbitMQ for apps
that are not deployed to <%= vars.app_runtime %>

<p class="note">
  <strong>Note:</strong> Currently, Service-Gateway access is only supported for Advanced Message Queuing
  Protocol (AMQP). Support for other RabbitMQ protocols is planned.
</p>

## <a id='architecture'></a> Architecture

Service-gateway access to RabbitMQ instances leverages the TCP router in <%= vars.app_runtime %>.
It also requires some ports to be open on your external load balancer.
These ports are reserved for RabbitMQ traffic coming from outside the <%= vars.platform_name %> foundation.
Every time a developer creates a service instance of a service-gateway plan, a port in this range is allocated
to redirect traffic to the service instance.

The diagram below shows how the TCP router routes traffic from apps to the RabbitMQ nodes in the
service-gateway service instance.
The TCP router balances the load among the nodes.
This route is the same for apps running on the <%= vars.platform_name %> foundation as it is for apps running
outside the foundation.

![An app that is external to the foundation sends traffic to the external load balancer.
The load balancer sends the traffic to the TCP router, which is inside the <%= vars.platform_name %> foundation.
The TCP router balances the load among the RabbitMQ nodes in the RabbitMQ service instance.](/images/service-gateway-architecture.png)

## <a id='workflow'></a> Workflow

For instructions for operators, see [Enabling Service-Gateway Access](./enable-service-gateway.html).
For instructions for app developers, see [Create a Service Instance with Service-Gateway Access](./use.html#service-gateway).
