---
title: Troubleshooting and FAQs for <br>On-Demand RabbitMQ for PCF
owner: London Services Enablement
---

<div class="quick-links">
    <ul>
        <li><a href="#guid">How to Retrieve a Service Instance GUID</a></li>
        <li><a href="#errors">Troubleshooting Errors</a></li>
        <ul>
            <li><a href="#install-fail">Failed Installation</a></li>
            <li><a href="#cannot-create-delete">Cannot Create or Delete Service Instances</a></li>
            <li><a href="#timeouts">Broker Request Timeouts</a></li>
            <li><a href="#cannot-bind">Cannot Bind to or Unbind from Service Instances</a></li>
            <li><a href="#cannot-connect">Cannot Connect to a Service Instance</a></li>
            <li><a href="#upgrade-all-fails">Upgrade All Service Instances Failures</a></li>
            <li><a href="#missing-logs">Missing Logs and Metrics</a></li>
            <li><a href="#failed-deployment">Failed Deployment on Upgrade or after Apply Changes</a></li>
        </ul>
        <li><a href="#components">Troubleshooting Components</a></li>
        <ul>
            <li><a href="#bosh">BOSH Problems</a></li>
            <li><a href="#bosh-config">Configuration</a></li>
            <li><a href="#auth">Authentication</a></li>
            <li><a href="#network">Networking</a></li>
            <li><a href="#quotas">Quotas</a></li>
            <li><a href="#failing-jobs">Failing Jobs and Unhealthy Instances</a></li>
        </ul>
        <li><a href="#techniques">Techniques for Troubleshooting</a></li>
        <ul>
            <li><a href="#parse-error">Parse a Cloud Foundry (CF) Error Message</a></li>
            <li><a href="#bosh-cf-access">Access Broker and Instance Logs and VMs</a></li>
            <li><a href="#broker-errands">Run Service Broker Errands to Manage Brokers and Instances</a></li>
            <li><a href="#instance-creds">Get Admin Credentials for a Service Instance</a></li>
            <li><a href="#reinstall">Reinstall a Tile</a></li>
            <li><a href="#view-resources">View Resource Saturation and Scaling</a></li>
            <li><a href="#id-instance-owner">Identify Service Instance Owner</a></li>
            <li><a href="#monitor-quota">Monitor Quota Saturation and Service Instance Count</a></li>
            <li><a href="#drop-restore-traffic">Drop and Restore AMQP(S) Traffic to a RabbitMQ Instance</a></li>
        </ul>
        <li><a href="#faq">Frequently Asked Questions</a></li>
        <ul>
            <li><a href="#check-deploy">What should I check before deploying a new version of the tile?</a></li>
            <li><a href="#stopstart">What is the correct way to stop and start RabbitMQ in PCF?</a></li>
            <li><a href="#boshstop">What happens when I run bosh stop rabbitmq-server?</a></li>
            <li><a href="#serverfailprocess">What happens when bosh stop rabbitmq-server fails?</a></li>
            <li><a href="#serverfailactions">What do I do when bosh stop rabbitmq-server fails?</a></li>
            <li><a href="#backup">How can I manually back up the state of the RabbitMQ cluster?</a></li>
            <li><a href="#preupgrade">What pre-upgrade checks should I do?</a></li>
        </ul>
        <li><a href="#kb">Knowledge Base (Community)</a></li>
        <li><a href="#support">File a Support Ticket</a></li>
    </ul>
</div>

This topic provides operators with basic troubleshooting techniques and FAQs for
on-demand RabbitMQ for Pivotal Cloud Foundry (PCF).

<a id="guid"></a><h2>How to Retrieve a Service Instance GUID</h2>

<%# The below partial is in https://github.com/pivotal-cf/docs-partials %>

<%= partial '../../rabbitmq-cf/partials/services/retrieve-guid' %>

<a id="errors"></a><h2>Troubleshooting Errors</h2>

Start here if you are responding to a specific error or error messages.

<a id="install-fail"></a><h3>Failed Installation</h3>

<%# The below partial is in https://github.com/pivotal-cf/docs-partials %>

<%= partial '../../rabbitmq-cf/partials/services-tshoot/tshoot-err-install-fail' %>

<a id="cannot-create-delete"></a><h3>Cannot Create or Delete Service Instances</h3>

<%# The below partial is in https://github.com/pivotal-cf/docs-partials %>

<%= partial '../../rabbitmq-cf/partials/services-tshoot/tshoot-err-cannot-create-delete' %>

<a id="timeouts"></a><h3>Broker Request Timeouts</h3>

<%# The below partial is in https://github.com/pivotal-cf/docs-partials %>

<%= partial '../../rabbitmq-cf/partials/services-tshoot/tshoot-err-timeouts' %>

<a id="cannot-bind"><h3></a>Cannot Bind to or Unbind from Service Instances</h3>

<%# The below partial is in https://github.com/pivotal-cf/docs-partials %>

<a id="instance-not-exist"></a><h4>Instance Does Not Exist</h4>

<%# The below partial is in https://github.com/pivotal-cf/docs-partials %>

<%= partial '../../rabbitmq-cf/partials/services-tshoot/tshoot-err-instance-not-exist' %>

<a id="other-errors"></a><h4>Other Errors</h4>

<%# The below partial is in https://github.com/pivotal-cf/docs-partials %>

<%= partial '../../rabbitmq-cf/partials/services-tshoot/tshoot-err-other-errors' %>

<a id="cannot-connect"><h3></a>Cannot Connect to a Service Instance</h3>

<%# The below partial is in https://github.com/pivotal-cf/docs-partials %>

<%= partial '../../rabbitmq-cf/partials/services-tshoot/tshoot-err-cannot-connect' %>

<a id="upgrade-all-fails"><h3></a>Upgrade All Service Instances Failures</h3>

<%# The below partial is in https://github.com/pivotal-cf/docs-partials %>

<%= partial '../../rabbitmq-cf/partials/services-tshoot/tshoot-err-upgrade-all-fails' %>

<a id="missing-logs"><h3></a>Missing Logs and Metrics</h3>

<%# The below partial is in https://github.com/pivotal-cf/docs-partials %>

<%= partial '../../rabbitmq-cf/partials/services-tshoot/tshoot-err-missing-logs' %>

<a id="failed-deployment"></a><h3>Failed Deployment on Upgrade or after Apply Changes</h3>

If the deployment fails after editing the <strong>Assign AZs and Networks</strong>
pane of the RabbitMQ for PCF tile,
it might be due to a change to the IP addresses assigned to the <code>RabbitMQ Server</code> job.
RabbitMQ for PCF requires that these IP addresses do not change once assigned.
If you change them, the deployment fails.
This includes changes made to your current installation or during an upgrade.

To diagnose and solve this issue, see
<a href='changing-ips.html'>Changing Network or IP Addresses Results in a Failed Deployment</a>.

<a id="components"></a><h2>Troubleshooting Components</h2>

Guidance on checking for and fixing issues in on-demand service components.

<a id="bosh"></a><h3>BOSH Problems</h3>

<a id="large-queue"></a><h4>Large BOSH Queue</h4>

<%# The below partial is in https://github.com/pivotal-cf/docs-partials %>

<%= partial '../../rabbitmq-cf/partials/services-tshoot/tshoot-comp-large-queue' %>

<a id="bosh-config"></a><h3>Configuration</h3>

<a id="bosh-instance-fail"></a><h4>Service Instances in Failing State</h4>

<%# The below partial is in https://github.com/pivotal-cf/docs-partials %>

<%= partial '../../rabbitmq-cf/partials/services-tshoot/tshoot-comp-bosh-instance-fail' %>

<a id="auth"></a><h3>Authentication</h3>

<a id="uaa-change"></a><h4>UAA Changes</h4>

<%# The below partial is in https://github.com/pivotal-cf/docs-partials %>

<%= partial '../../rabbitmq-cf/partials/services-tshoot/tshoot-comp-uaa-change' %>

<a id="network"></a><h3>Networking</h3>

<%# The below partial is in https://github.com/pivotal-cf/docs-partials %>

<%= partial '../../rabbitmq-cf/partials/services-tshoot/tshoot-comp-network' %>

<a id="broker-to-instances"></a><h4>Validate Service Broker Connectivity to Service Instances</h4>

<%# The below partial is in https://github.com/pivotal-cf/docs-partials %>

<%= partial '../../rabbitmq-cf/partials/services-tshoot/tshoot-comp-broker-to-instances' %>

<a id="app-to-instances"></a><h4>Validate App Access to Service Instance</h4>

<%# The below partial is in https://github.com/pivotal-cf/docs-partials %>

<%= partial '../../rabbitmq-cf/partials/services-tshoot/tshoot-comp-app-to-instances' %>

<a id="quotas"></a><h3>Quotas</h3>

<a id="plan-quotas"></a><h4>Plan Quota issues</h4>

<%# The below partial is in https://github.com/pivotal-cf/docs-partials %>

<%= partial '../../rabbitmq-cf/partials/services-tshoot/tshoot-comp-plan-quotas' %>

<a id="global-quotas"></a><h4>Global Quota Issues</h4>

<%# The below partial is in https://github.com/pivotal-cf/docs-partials %>

<%= partial '../../rabbitmq-cf/partials/services-tshoot/tshoot-comp-global-quotas' %>

<a id="failing-jobs"></a><h3>Failing Jobs and Unhealthy Instances</h3>

<%# The below partial is in https://github.com/pivotal-cf/docs-partials %>

<%= partial '../../rabbitmq-cf/partials/services-tshoot/tshoot-comp-failing-jobs' %>

<a id="techniques"></a><h2>Techniques for Troubleshooting</h2>

This section contains instructions on interacting with the on-demand service
broker and on-demand service instance BOSH deployments, and on performing general
maintenance and housekeeping tasks.

<a id="parse-error"></a><h3>Parse a Cloud Foundry (CF) Error Message</h3>

<%# The below partial is in https://github.com/pivotal-cf/docs-partials %>

<%= partial '../../rabbitmq-cf/partials/services-tshoot/tshoot-tech-parse-error' %>

<a id="bosh-cf-access"></a><h3>Access Broker and Instance Logs and VMs</h3>

<%# The below partial is in https://github.com/pivotal-cf/docs-partials %>

<%= partial '../../rabbitmq-cf/partials/services-tshoot/tshoot-tech-bosh-cf-access' %>

<a id="access-broker"></a><h4>Access Broker Logs and VMs</h4>

<%# The below partial is in https://github.com/pivotal-cf/docs-partials %>

<%= partial '../../rabbitmq-cf/partials/services-tshoot/tshoot-tech-access-broker' %>

<a id="access-instance"></a><h4>Access Service Instance Logs and VMs</h4>

<%# The below partial is in https://github.com/pivotal-cf/docs-partials %>

<%= partial '../../rabbitmq-cf/partials/services-tshoot/tshoot-tech-access-instance' %>

<a id="broker-errands"></a><h3>Run Service Broker Errands to Manage Brokers and Instances</h3>

<%# The below partial is in https://github.com/pivotal-cf/docs-partials %>

<%= partial '../../rabbitmq-cf/partials/services-tshoot/tshoot-tech-broker-errands' %>

<a id="register-broker"></a><h4>Register Broker</h4>

<%# The below partial is in https://github.com/pivotal-cf/docs-partials %>

<%= partial '../../rabbitmq-cf/partials/services-tshoot/tshoot-tech-register-broker' %>

<a id="deregister-broker"></a><h4>Deregister Broker</h4>

<%# The below partial is in https://github.com/pivotal-cf/docs-partials %>

<%= partial '../../rabbitmq-cf/partials/services-tshoot/tshoot-tech-deregister-broker' %>

<a id="upgrade-all"></a><h4>Upgrade All Service Instances</h4>

<%# The below partial is in https://github.com/pivotal-cf/docs-partials %>

<%= partial '../../rabbitmq-cf/partials/services-tshoot/tshoot-tech-upgrade-all' %>

<a id="delete-all"></a><h4>Delete All Service Instances</h4>

<%# The below partial is in https://github.com/pivotal-cf/docs-partials %>

<%= partial '../../rabbitmq-cf/partials/services-tshoot/tshoot-tech-delete-all' %>

<a id="detect-orphans"></a><h4>Detect Orphaned Service Instances</h4>

<%# The below partial is in https://github.com/pivotal-cf/docs-partials %>

<%= partial '../../rabbitmq-cf/partials/services-tshoot/tshoot-tech-detect-orphans' %>

<a id="instance-creds"></a><h3>Get Admin Credentials for a Service Instance</h3>

<%# The below partial is in https://github.com/pivotal-cf/docs-partials %>

<%= partial '../../rabbitmq-cf/partials/services-tshoot/tshoot-tech-instance-creds' %>

<a id="reinstall"></a><h3>Reinstall a Tile</h3>

<%# The below partial is in https://github.com/pivotal-cf/docs-partials %>

<%= partial '../../rabbitmq-cf/partials/services-tshoot/tshoot-tech-reinstall' %>

<a id="view-resources"></a><h3>View Resource Saturation and Scaling</h3>

<%# The below partial is in https://github.com/pivotal-cf/docs-partials %>

<%= partial '../../rabbitmq-cf/partials/services-tshoot/tshoot-tech-view-resources' %>

<a id="id-instance-owner"></a><h3>Identify a Service Instance Owner</h3>

<%# The below partial is in https://github.com/pivotal-cf/docs-partials %>

<%= partial '../../rabbitmq-cf/partials/services-tshoot/tshoot-tech-id-instance-owner' %>

<a id="monitor-quota"></a><h3>Monitor the Quota Saturation and Service Instance Count</h3>

<%# The below partial is in https://github.com/pivotal-cf/docs-partials %>

<%= partial '../../rabbitmq-cf/partials/services-tshoot/tshoot-tech-monitor-quota' %>

<a id="drop-restore-traffic"></a><h3>Drop and Restore AMQP(S) Traffic to a RabbitMQ Instance</h3>

While debugging a RabbitMQ instance, you can prevent apps from
sending and receiving messages, for example, to decrease the server load.
You can use <code>drop-amqp-traffic</code> and <code>restore-amqp-traffic</code> scripts,
which run the necessary <code>iptables</code> commands to achieve that.<br><br>

To stop and then restore traffic to a RabbitMQ instance, do the following:<br>
<ol>
    <li> To stop all AMQP(S) traffic to a RabbitMQ instance, enter the following command:
    <pre>
    bosh -d service-instance_GUID ssh rabbitmq-server
    "echo y | sudo /var/vcap/packages/rabbitmq-admin/bin/drop-amqp-traffic"
    </pre>
    </li>
    <li> After performing the troubleshooting steps, restore the traffic.
         To do this, enter the following command:
    <pre>
    bosh -d service-instance_GUID ssh rabbitmq-server
    "echo y | sudo /var/vcap/packages/rabbitmq-admin/bin/restore-amqp-traffic"
    </pre>
    </li>
</ol>

Alternatively, you can run these scripts on individual nodes:

<ol>
    <li><code>bosh ssh</code> to a rabbitmq-server instance.</li>
    <li><code>sudo -s</code> to gain root privileges.</li>
    <li>Execute <code>drop-amqp-traffic</code> to drop all AMQP(S) traffic to this
        instance, or <code>restore-amqp-traffic</code> to start accepting traffic again.</li>
</ol>


<a id="faq"></a><h2>Frequently Asked Questions</h2>

<a id="check-deploy"></a><h3>What should I check before deploying a new version of the tile?</h3>

Ensure that all nodes in the cluster are healthy from the RabbitMQ Management UI,
or health metrics exposed through Firehose.
You cannot rely solely on the BOSH <code>instances</code> output as that reflects the state
of the Erlang VM used by RabbitMQ and not the RabbitMQ app.


<a id="stopstart"></a><h3>What is the correct way to stop and start RabbitMQ in PCF?</h3>

Only BOSH commands should be used by the operator to interact with the RabbitMQ app.
<br><br>
For example:
<br><br>
<code>bosh stop rabbitmq-server</code> and <code>bosh start rabbitmq-server</code>.
<br><br>
There are BOSH job lifecycle hooks which are only fired when rabbitmq-server is
stopped through BOSH.
You can also stop individual instances by running the stop command and specifying
<code>JOB [index]</code>.

<p class="note"><strong>Note: </strong>Do not use <code>monit stop rabbitmq-server</code>
    as this does not call the drain scripts</p>

<a id="boshstop"></a><h3>What happens when I run bosh stop rabbitmq-server?</h3>

BOSH starts the shutdown sequence from the bootstrap instance.
<br><br>
We start by telling the RabbitMQ app to shutdown and then shutdown the
Erlang VM within which it is running. If this succeeds, we run the following
checks to ensure that the RabbitMQ app and Erlang VM have stopped:
<ol>
    <li>
        If <code>/var/vcap/sys/run/rabbitmq-server/pid</code> exists, check that
        the PID inside this file does not point to a running Erlang VM process.
        Notice that we are tracking the Erlang PID and not the RabbitMQ PID.
    </li>
    <li>Check that <code>rabbitmqctl</code> does not return an Erlang VM PID.</li>
</ol>
Once this completes on the bootstrap instance, BOSH continues the same
sequence on the next instance. All remaining rabbitmq-server instances
stop one by one.

<a id="serverfailprocess"></a><h3>What happens when bosh stop rabbitmq-server fails?</h3>

If the BOSH <code>stop</code> fails, you will likely get an error saying that the drain
script failed with:

<pre class="terminal">result: 1 of 1 drain scripts failed. Failed Jobs: rabbitmq-server.
</pre>

<a id="serverfailactions"></a><h3>What do I do when bosh stop rabbitmq-server fails?</h3>

The drain script logs to <code>/var/vcap/sys/log/rabbitmq-server/drain.log</code>. If you
have a remote syslog configured, this appears as the <code>rmq_server_drain</code>
program.
<br><br>
First, BOSH <code>ssh</code> into the failing rabbitmq-server instance and start the
rabbitmq-server job by running <code>monit start rabbitmq-server</code>. You will not be
able to start the job with BOSH <code>start</code> as this always runs the drain script first
and will fail as the drain script is failing.
<br><br>
Once rabbitmq-server job is running (confirm this with <code>monit status</code>), run <code>DEBUG=1</code>
<code>/var/vcap/jobs/rabbitmq-server/bin/drain</code>. This tells you exactly why it is
failing.

<a id="backup"></a><h3>How can I manually back up the state of the RabbitMQ cluster?</h3>

It is possible to back up the state of a RabbitMQ cluster for both the on-demand
and pre-provisioned services using the RabbitMQ Management API.
Backups include virtual hosts, exchanges, queues, and users.

<h4>Back up Manually</h4>

<ol>
    <li>Log in to the RabbitMQ Management UI as the admin user you created.</li>
    <li>Select <strong>export definitions</strong> from the main page.</li>
</ol>

<h4>Back up and Restore with a Script</h4>

Use the API to run scripts with code similar to the following:

<ul>
    <li>
        <strong>For the backup:</strong>
        <pre>
curl -u "$USERNAME:$PASSWORD" "http://$RABBIT-ADDRESS:15672/api/definitions"
-o "$BACKUP-FOLDER/rabbit-backup.json"
        </pre>
    </li>
    <li>
        <strong>For the restore:</strong>
        <pre>
curl -u "$USERNAME:$PASSWORD" "http://$RABBIT-ADDRESS:15672/api/definitions"
-X POST -H "Content-Type: application/json" -d
"@$BACKUP-FOLDER/rabbit-backup.json"
        </pre>
    </li>
</ul>

<a id="preupgrade"></a><h3>What pre-upgrade checks should I do?</h3>

Before doing any upgrade of RabbitMQ, Pivotal recommends checking the following:
<ol>
    <li>In Ops Manager check that the status of all of the instances is healthy.</li>
    <li>
        Log into the RabbitMQ Management UI and check that no alarms have been triggered
        and that all nodes display as green, showing they are healthy.
    </li>
    <li>
        Check that the system is not close to hitting either the memory or disk alarm.
        Do this by looking at what has been consumed by each node in the RabbitMQ Management UI.
    </li>
</ol>

<a id="kb"></a><h2>Knowledge Base (Community)</h2>

<%# The below partial is in https://github.com/pivotal-cf/docs-partials %>

<%= partial '../../rabbitmq-cf/partials/services-tshoot/tshoot-kb' %>

<a id="support"></a><h2>File a Support Ticket</h2>

<%# The below partial is in https://github.com/pivotal-cf/docs-partials %>

<%= partial '../../rabbitmq-cf/partials/services-tshoot/tshoot-support' %>
